.pr-temp {
    background-color: #ffd800;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #aaa;
}

.tg td {
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #aaa;
    color: #333;
    background-color: #fff;
}

.tg th {
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #aaa;
    color: #fff;
    background-color: #f38630;
}


.tg .tg-th2 {
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #aaa;
    color: #fff;
    background-color: #3082f3;
}

.tg .tg-yw4l {
    vertical-align: top;
}

.tg .tg-formheader {
    vertical-align: top;
    text-align: center;
}

.tg .tg-oskr {
    background-color: #ffffff;
    vertical-align: top;
}

.tg .tg-kjho {
    background-color: #FCFBE3;
    vertical-align: top;
    font: bold;
}

.tg .tg-uwer {
    background-color: #99fff3;
    vertical-align: top;
}

.tg .tg-account {
    background-color: #9aff99;
    vertical-align: top;
    width: 50%;
}

.tg .tg-account2 {
    background-color: #cfff99;
    vertical-align: top;
    width: 50%;
}

.tg .tg-money {
    text-align: right;
}

/* Pin code entry */

#root {
    background-color: black;
    width: 200px;
    box-sizing: border-box;
    padding: 10px;
}

#result-box {
    height: 60px;
    background-color: #fff;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 36px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 5px;
}

#num-pad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

.btn-number {
    width: 50px;
    height: 50px;
    background-color: #3082f3;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

.btn-number.equal {
    height: 100%;
    grid-column: 4/ 5;
    grid-row: 4 / 6;
}

.btn-number.zero {
    width: 100%;
    grid-column: 1 / 3;
}

.btn-number.clr {
    background-color: #ff0000;
}

.btn-number.ok {
    background-color: #40831c;
}

/* Camera Access on tablet */

div#preview {
    width: 100%;
    height: 100%;
}

.shutter {
    font-size: 21px;
    background-color: green;
}

.upload {
    font-size: 25px;
    background-color: blue;
    color: yellow;
    float:right;
}