<div class="container main-body">
    <h2 ng-click="callDebug()">Player Invitation Tool:&nbsp<img ng-show="admin.buddy.loadingData" src="img/loading1.gif" title="Loading" /></h2>
    
    <section id="main" class="content-container">

        <h3>Invite New Player to {{admin.buddy.divisionName}} {{admin.buddy.teamName}}</h3>
        <div class="well">
            Enter the name and E-mail address of the player you would like to invite to join the <strong>{{admin.buddy.divisionName}} {{admin.buddy.teamName}}</strong>. If the person has already been a member of the PSSBL,
            please be sure you are providing the email address that they are registered under.
            <form name="requestForm" class="form">
                <noscript>
                    <div class="alert alert-warning noscript">
                        JavaScript must be enabled in order to login.
                    </div>
                </noscript>
                <div class="row">
                    <div class="col-md-6 col-md-offset-2">
                        <div class="form-group">
                            <label for="invite-name" class="control-label">Player Name</label>
                            <input name="invite-name" autofocus ng-model="admin.buddy.name" placeholder="type invited player name here" required min-length="5" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="invite-email" class="control-label">Email</label>
                            <input name="invite-email" type="email" ng-enter="admin.sendInvite(false)" ng-model="admin.buddy.email" placeholder="please enter a valid email address" required min-length="5" class="form-control">
                        </div>
                        <!--- Disable as required: need to block from previous page by matching team to current year -->
						<!--- When active ng-disabled="admin.buddy.resend" -->
                        <button type="button" ng-disabled="admin.buddy.resend" ng-click="admin.buddy.sendInvite(false)" class="btn btn-primary submit-input btn-icon-with-text"><span class=" btn btn-content">Send Invitation</span></button>
                        <div ng-show="admin.buddy.resend" class="alert alert-info">
                            <span style="white-space:pre-line;">{{admin.buddy.resend}}</span>
                            <a role="button" ng-click="admin.buddy.sendInvite(true)" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span>Yes</a>
                            <a role="button" ng-click="admin.buddy.resend = ''" class="btn btn-danger"><span class="glyphicon glyphicon-remove-sign"></span>No</a>
                        </div>
                        <div ng-show="admin.buddy.confirm" class="alert alert-success">
                            {{admin.buddy.confirm}}
                            <a ng-show="admin.buddy.confirm" role="button" style="float:right" ng-click="admin.buddy.confirm = ''" class="glyphicon glyphicon-remove-sign"></a>
                        </div>
                        <div ng-show="admin.buddy.error" class="alert alert-danger">
                            {{admin.buddy.error}}
                            <a ng-show="admin.buddy.error" role="button" style="float:right" ng-click="admin.buddy.error = ''" class="glyphicon glyphicon-remove-sign"></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <h3>Current Invitees</h3>
        <div ng-hide="admin.buddy.hasInvitees()" class="panel panel-info">
            <div class="panel-heading">There have been no players invited to this team during the current season.</div>
        </div>
        <div ng-show="admin.buddy.hasInvitees()">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Invited By</th>
                            <th>Player</th>
                            <th>Email</th>
                            <th>Age</th>
                            <th>Invitation Sent</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="player in admin.buddy.players">
                            <td>{{admin.buildPlayerName(player.sender_first_name, player.sender_last_name)}}</td>
                            <td>{{admin.buildPlayerName(player.invitee_first_name, player.invitee_last_name)}}</td>
                            <td>{{player.invitee_email}}</td>
                            <td>{{admin.getAge(player.invitee_birth_date)}}</td>
                            <td>{{admin.parseDateTime(player.sent) | date}}</td>
                            <td>{{player.status}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

