<div class="container admin-body">
    <section id="main" class="admin-container">
        <div class="container">
            <div class="row">
                <!-- Sidebar navigation needs to be built as a directive since it appears on multiple pages -->
                <admin-directive></admin-directive>

                <div class="col-sm-9 col-md-9">
                    <div class="well">
                        <h1>
                            Admin Dashboard
                        </h1>
                        <p>Use the navigation menu on the left to access the various admin functions. You must have been granted appropriate permissions in order to gain access.</p>
                        <p>A number of items will be unavailable as they are currently being worked on.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

