<div class="container admin-body">
    <section id="main" class="admin-container">
        <div class="container">
            <div class="row">
                <!-- Sidebar navigation needs to be built as a directive since it appears on multiple pages -->
                <admin-directive></admin-directive>

                <div class="col-md-9">

                    <!--- EDIT SUB-PAGE -->
                    <div ng-if="admin.content.type == 'Edit'">
                        <a role="button" ng-click="admin.content.type='Manage'" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-arrow-left"></span>Return to Content Manager</a>
                        <img ng-click="callDebug()" src="img/ContentEditor.png" style=" max-width:100%; " />
                        <div class="row">
                            <div class="col-md-12">
                                <span><strong>Type:</strong></span>
                                <uib-tabset ng-model="admin.content.editItem.type" ng-change="admin.content.setDirty(true)" active="admin.content.getTabIndex(admin.content.editItem.type)" type="pills">
                                    <uib-tab ng-click="admin.content.editItem.type='blog'" heading="Blog Post" value="blog"></uib-tab>
                                    <uib-tab ng-click="admin.content.editItem.type='article'" heading="Article" value="article"></uib-tab>
                                    <uib-tab ng-click="admin.content.editItem.type='document'" heading="Document" value="document"></uib-tab>
                                </uib-tabset>
                                <div>
                                    <section class="content-form col-md-8">
                                        <form class="row well">
                                            <div class="form-group">
                                                <label class="control-label">Title</label>&nbsp;&nbsp;
                                                <input type="text" maxlength="200" ng-change="admin.content.generateFilename()" ng-model="admin.content.editItem.title" class="form-control col-md-4">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Filename</label>&nbsp;&nbsp;
                                                <input type="checkbox" ng-change="admin.content.generateFilename()" ng-model="admin.content.autoFile" checked /><span>Auto</span>
                                                <input type="text" ng-disabled="admin.content.autoFile" maxlength="200" ng-model="admin.content.editItem.contentId" class="form-control">
                                            </div>
                                        </form>
                                    </section>
                                    <section ng-hide="admin.content.editItem.type=='document'" class="col-md-4">
                                        <form class="row well">
                                            <div class="form-group">
                                                <label class="control-label">Author</label>&nbsp;&nbsp;
                                                <input type="checkbox" ng-change="admin.content.autoUpdates()" ng-model="admin.content.autoAuthor" /><span>Auto</span>
                                                <input type="text" ng-change="admin.content.setDirty(true)" ng-disabled="admin.content.autoAuthor" maxlength="40" ng-model="admin.content.editItem.author" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Date/Time</label>&nbsp;&nbsp;
                                                <input type="checkbox" ng-change="admin.content.autoUpdates()" ng-model="admin.content.autoDate" /><span>Auto</span>
                                                <input type="date" ng-change="admin.content.setDirty(true)" ng-disabled="admin.content.autoDate" ng-model="admin.content.editItem.dateTime" class="form-control">
                                            </div>
                                        </form>
                                    </section>
                                </div>
                                <div class="row col-md-12">
                                    <uib-tabset>
                                        <uib-tab ng-click="admin.content.setCurrentContent(admin.content.body)" heading="Content"></uib-tab>
                                        <uib-tab ng-click="admin.content.setCurrentContent(admin.content.teaser)" ng-show="admin.content.editItem.hasTeaser" heading="Teaser"></uib-tab>
                                    </uib-tabset>
                                    <div ng-show="admin.content.editItem.type=='blog'">
                                        <input type="checkbox" ng-change="admin.content.setDirty(true)" ng-model="admin.content.editItem.hasTeaser" /><span>Has Teaser</span>
                                    </div>
                                    <div class="row well" ng-controller="ngeditController">
                                        <div ng-cloak ng-hide="isReady" class="highlight">
                                            Initializing ...
                                        </div>

                                        <div ng-cloak ng-show="isReady">
                                            <textarea ckeditor="editorOptions" name="editor" ng-model="admin.content.current.html"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button ng-click="admin.content.previewArticle()" class="btn btn-default"><span class="btn btn-content">Preview</span></button>
                                        <button ng-click="admin.content.saveArticle()" class="btn btn-primary"><span class="btn btn-content">Save</span></button>
                                        <button ng-click="admin.content.clearHtml()" style="float:right; margin-right:40px" class="btn btn-danger"><span class="btn btn-content">Clear</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--- MANAGE SUB-PAGE -->
                    <div ng-if="admin.content.type == 'Manage'">
                        <br />
                        <img ng-click="callDebug()" src="img/ContentManager.png" style=" max-width:100%; " />
                        <a role="button" ng-click="admin.content.type='Instructions'">Instructions</a>
                        <br />
                        <div class="col-md-4">
                            <button ng-click="admin.content.saveContentLibrary()" class="btn btn-success preview-content"><span class="btn btn-content">Publish Changes</span></button>
                            <div ng-show="admin.content.warning" class="alert alert-warning">
                                {{admin.content.warning}}
                                <a ng-show="admin.content.warning" role="button" style="float:right" ng-click="admin.content.warning = ''" class="glyphicon glyphicon-remove-sign"></a>
                            </div>
                            <div ng-show="admin.content.confirm" class="alert alert-success">
                                {{admin.content.confirm}}
                                <a ng-show="admin.content.confirm" role="button" style="float:right" ng-click="admin.content.confirm = ''" class="glyphicon glyphicon-remove-sign"></a>
                            </div>
                            <div ng-show="admin.content.error" class="alert alert-danger">
                                {{admin.content.error}}
                                <a ng-show="admin.content.error" role="button" style="float:right" ng-click="admin.content.error = ''" class="glyphicon glyphicon-remove-sign"></a>
                            </div>
                            <h3>Published Articles</h3>
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th colspan="3">Blog Page/Order</th>
                                    </tr>
                                    <tr>
                                        <uib-tabset colspan="3" type="pills">
                                            <uib-tab heading="1" select="admin.content.setTab(0)"></uib-tab>
                                            <uib-tab heading="2" select="admin.content.setTab(1)"></uib-tab>
                                            <uib-tab heading="3" select="admin.content.setTab(2)"></uib-tab>
                                            <uib-tab heading="4" select="admin.content.setTab(3)"></uib-tab>
                                            <uib-tab heading="5" select="admin.content.setTab(4)"></uib-tab>
                                            <uib-tab heading="6" select="admin.content.setTab(5)"></uib-tab>
                                        </uib-tabset>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="blogItem in admin.content.currentPageContents">
                                        <td width="85%">
                                            <a role="button" ng-click="admin.content.viewArticle(blogItem)" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-eye-open"></span>View</a>
                                            {{blogItem.title}}
                                        </td>
                                        <td width="15%">
                                            <a role="button" ng-click="admin.content.moveItemUp($index)" ng-disabled="$index == 0 && admin.content.tabPage == 0" class="btn btn-info btn-xs">
                                                <span class="glyphicon glyphicon-arrow-up"></span>
                                            </a>
                                            <a role="button" ng-click="admin.content.moveItemDown($index)" class="btn btn-info btn-xs">
                                                <span class="glyphicon glyphicon-arrow-down"></span>
                                            </a>
                                            <a role="button" ng-click="admin.content.removeItem($index)" class="btn btn-danger btn-xs">
                                                <span class="glyphicon glyphicon-remove-sign"></span>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="document-list col-md-8">
                            <button ng-click="admin.content.createNew()" class="btn btn-info preview-content"><span class="btn btn-content">Create New Article</span></button>
                            <h3>
                                Article Library
                                <small>&nbsp;&nbsp;<input ng-model="admin.content.searchFor" type="text" placeholder="Search for" autofocus></small>
                            </h3>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Title</th>
                                        <th>Type</th>
                                        <th>Date</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat-start="article in admin.content.library | filter:admin.content.searchFor">
                                        <td>
                                            <a role="button" ng-click="admin.content.viewArticle(article)" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-eye-open"></span>View</a>
                                            <a role="button" ng-click="admin.content.editArticle(article, $index)" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-pencil"></span>Edit</a>
                                        </td>
                                        <td rowspan="2">{{article.title}}</td>
                                        <td rowspan="2">{{article.type}}</td>
                                        <td rowspan="2">{{article.dateTime | date : 'M/dd/yyyy'}}</td>
                                        <td rowspan="2">
                                            <a role="button" ng-click="admin.content.removeArticle($index)" class="btn btn-danger btn-xs">
                                                <span class="glyphicon glyphicon-remove-sign"></span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr ng-repeat-end ng-show="admin.content.filterArticles(article)">
                                        <td>
                                            <a style="margin-top:0" role="button" ng-click="admin.content.publishItem(article)" ng-disabled="article.type != 'blog'" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-arrow-left"></span>Publish to Blog</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!--- VIEW SUB-PAGE -->
                    <div ng-if="admin.content.type == 'View'">
                        <a role="button" ng-hide="admin.content.preview" ng-click="admin.content.type='Manage'" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-arrow-left"></span>Return to Content Manager</a>
                        <a role="button" ng-show="admin.content.preview" ng-click="admin.content.type='Edit'" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-arrow-left"></span>Return to Editor</a>
                        <img ng-click="callDebug()" src="img/ContentViewer.png" style=" max-width:100%; " />
                        <div ng-switch on="admin.content.viewItem.type">

                            <div ng-switch-when="blog">
                                <article class="blog-post tease col-md-9">
                                    <h3>
                                        <a href="/articles/{{admin.content.viewItem.contentId}}">{{admin.content.viewItem.title}}</a>
                                    </h3>
                                    <div class="blog-post-meta row">
                                        <div class="col-md-6"><span class="label label-default">by {{admin.content.viewItem.author}}</span></div>
                                        <div class="col-md-6 text-right">
                                            <span class="label label-default">{{admin.content.viewItem.dateTime | date : 'M/dd/yyyy'}}</span>
                                        </div>
                                    </div>
                                    <div class="blog-post-main">
                                        <div class="post-body">
                                            <div ng-bind-html="admin.content.current.html | to_trusted"></div>
                                        </div>
                                    </div>
                                    <div class="post-footer text-right">
                                        <a href="/articles/{{admin.content.viewItem.contentId}}" class="btn btn-link">
                                            <span class="btn btn-content"><span class="fa fa-arrow-circle-o-right"></span>Read More</span>
                                        </a>
                                    </div>
                                </article>
                            </div>

                            <div ng-switch-when="article">
                                <h3>
                                    <a href="#!/articles/{{admin.content.viewItem.contentId}}">{{admin.content.viewItem.title}}</a>
                                </h3>
                                <div class="blog-post-meta row">
                                    <div class="col-md-6"><span class="label label-default">by {{admin.content.viewItem.author}}</span></div>
                                    <div class="col-md-6 text-right">
                                        <span class="label label-default">{{admin.content.viewItem.dateTime | date : 'M/dd/yyyy'}}</span>
                                    </div>
                                </div>
                                <div class="blog-post-main">
                                    <div class="post-body">
                                        <div ng-bind-html="admin.content.current.html | to_trusted"></div>
                                    </div>
                                </div>
                            </div>

                            <div ng-switch-when="document">
                                <section ng-controller="articleController" class="blog-permalink">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-1">
                                            <article class="blog-post">
                                                <!--Here is where the article content gets injected-->
                                                <div ng-bind-html="admin.content.current.html | to_trusted"></div>
                                            </article>
                                        </div>
                                    </div>
                                </section>
                            </div>

                            <div ng-switch-default>
                                <h2>Unrecognized Document Format</h2>
                            </div>
                        </div>

                        <!--- INSTRUCTIONS SUB-PAGE -->
                        <div ng-if="admin.content.type == 'Instructions'">
                            <a role="button" ng-click="admin.content.type='Manage'" class="btn btn-primary btn-lg">
                                <span class="glyphicon glyphicon-arrow-left"></span>Return to Content Manager
                            </a>
                            <h2>Instructions Coming Soon</h2>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
