<div class="container admin-body">
    <section id="main" class="admin-container">
        <div class="container">
            <div class="row">
                <!-- Sidebar navigation needs to be built as a directive since it appears on multiple pages -->
                <admin-directive></admin-directive>
                <div class="col-md-10">

                    <h3>
                        Player Admin: <span class="label label-success"  ng-click="callDebug()">{{playerAdmin.playerName}}</span><span ng-show="playerAdmin.registrationId">&nbsp;<small>Summer {{playerAdmin.year}} Registration</small></span>
                        <a ng-hide="playerAdmin.type == 'Select'" ng-href="#!/registration/{{playerAdmin.year}}/{{playerAdmin.playerId}}" class="btn btn-info btn-sm">View Registration</a>
                        <a ng-hide="playerAdmin.type == 'Select'" ng-href="#!/admin/player/{{playerAdmin.playerId}}" class="btn btn-profile btn-sm">View Profile</a>
                        <a ng-hide="playerAdmin.type == 'Select'" ng-href="#!/player/{{playerAdmin.playerId}}" class="btn btn-default btn-sm">Player Page</a>
                    </h3>
                    <uib-tabset active="playerAdmin.activeTab" type="pills">
                        <uib-tab heading="Select Player" select="playerAdmin.showType('Select')"></uib-tab>
                        <uib-tab heading="Update Status" disable="!playerAdmin.registrationId" select="playerAdmin.showType('Status')"></uib-tab>
                    </uib-tabset>

                    <div ng-if="playerAdmin.type == 'Select'">
                        <div class="panel panel-default">
                            <div class="panel-heading"><strong>Search Options</strong></div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-1">
                                        <label style="display:block" class="control-label">ID</label>
                                        <input style="display:block;width:110%" type="text" name="playerID" autocomplete="off" ng-model="playerId">
                                    </div>
                                    <div class="col-md-3">
                                        <label style="display:block" class="control-label">First Name</label>
                                        <input style="display:block;width:110%" type="text" name="firstName" autocomplete="off" ng-model="playerFirstName">
                                    </div>
                                    <div class="col-md-3">
                                        <label style="display:block" class="control-label">Last Name</label>
                                        <input style="display:block;width:110%" type="text" name="lastName" autocomplete="off" ng-model="playerLastName">
                                    </div>
                                    <div class="col-md-3">
                                        <label style="display:block" class="control-label">Email</label>
                                        <input style="display:block;width:110%" type="text" name="email" autocomplete="off" ng-model="playerEmail">
                                    </div>
                                    <div class="col-md-1">
                                        <label style="display:block" class="control-label">Search&nbsp;</label>
                                        <button autocomplete="off" ng-click="playerAdmin.submitPlayerQuery(playerId, playerFirstName, playerLastName, playerEmail, 'Season')" class="btn btn-primary">
                                            <span>Submit</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <h3> After submitting search, click on selected player from list below:</h3>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>DOB</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>Phone 2</th>
                                            <th>Status</th>
                                            <th>Year</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="result in playerAdmin.searchResults">
                                            <td>{{result.playerId}}</td>
                                            <td ng-show="result.registrationId"><a href="#!/playerAdmin/{{result.registrationId}}/{{result.playerId}}/{{result.year}}">{{result.firstName}} {{result.lastName}}</a></td>
                                            <td>{{result.birthDate}}</td>
                                            <td>{{result.email}}</td>
                                            <td>{{result.phone}}</td>
                                            <td>{{result.phone2}}</td>
                                            <td>
                                                <span class="label" ng-class="playerAdmin.isActive(result.status) ? 'label-success' : 'label-default'">{{result.status}}</span>
                                            </td>
                                            <td>{{result.year}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-show="playerAdmin.emptyResults()" class="alert alert-info">
                                (No matches found)
                            </div>
                        </div>
                    </div>

                    <div ng-if="playerAdmin.type == 'Status'">
                        <div ng-if="playerAdmin.priorSeason()">
                            <div class="alert alert-danger">
                                <p>
                                    <strong>Warning!</strong> You are viewing registration records that are not for the current season. You can not change player status for previous years.
                                </p>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading"><strong>Edit Player Status</strong></div>
                            <div class="panel-body">
                                <h3 ng-click="callDebug()">Teams</h3>
                                <div ng-hide="playerAdmin.teamCount > 0" class="panel panel-info">
                                    <div class="panel-heading">You are not currently registered with any {{playerAdmin.year}} teams.</div>
                                </div>
                                <div ng-show="playerAdmin.teamCount > 0" class="panel panel-default">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Manager</th>
                                                    <th>Status</th>
                                                    <th>Make Inactive</th>
                                                    <th>Remove from Team</th>
                                                    <th>Move to Team</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat-start="team in playerAdmin.teams">
                                                    <td><a href="#!/team/{{team.team_id}}/{{team.team_name}}/{{team.division_name}}/{{playerAdmin.year}}">{{team.division_name}} {{team.team_name}}</a></td>
                                                    <td>{{team.manager_name}}</td>
                                                    <td>
                                                        <span ng-class="playerAdmin.statusClass(team.roster_status)" class="label">{{team.roster_status}}</span>
                                                    </td>
                                                    <td>
                                                        <a role="button" ng-disabled="team.roster_status != 'Active' || playerAdmin.priorSeason()" ng-click="playerAdmin.makeInactive(team)" class="btn btn-warning btn-sm">Change Status</a>
                                                    </td>
                                                    <td>
                                                        <a role="button" ng-disabled="playerAdmin.priorSeason()" ng-click="playerAdmin.removeFromRoster(team)" class="btn btn-warning btn-sm">Remove</a>
                                                    </td>
                                                    <td>
                                                        <a role="button" ng-disabled="playerAdmin.priorSeason()" ng-click="playerAdmin.changeTeam(team)" class="btn btn-success btn-sm">Move To ...</a>
                                                    </td>
                                                </tr>
                                                <tr ng-show="team.transferActive" class="alert-info" ng-repeat-end>
                                                    <td colspan="2" width="35%">
                                                        <strong>Warning:</strong> Players can only be moved to teams within the same division and this should only be done prior to the start of the season.
                                                        <div ng-show="team.error" class="alert alert-danger">
                                                            Error Attempting Team Change: {{playerAdmin.error}}
                                                            <a ng-show="playerAdmin.error" role="button" style="float:right" ng-click="team.error = ''" class="glyphicon glyphicon-remove-sign"></a>
                                                        </div>
                                                    </td>
                                                    <td>Transfer to:</td>
                                                    <td>
                                                        <select ng-model="playerAdmin.destinationTeam">
                                                            <option ng-repeat="divTeam in team.transferList" value="{{divTeam.teamId}}">{{divTeam.teamName}}</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <a role="button" ng-click="playerAdmin.transferPlayer(team.team_id, playerAdmin.destinationTeam)" class="btn btn-success">Transfer</a>
                                                    </td>
                                                    <td>
                                                        <a role="button" ng-click="team.transferActive = false" class="btn btn-danger">Cancel</a>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <h3>{{playerAdmin.year}} Draft</h3>
                                <a ng-show="playerAdmin.registeredForDraft" ng-disabled="playerAdmin.priorSeason()" role="button" ng-click="playerAdmin.removeFromDraft()" class="btn btn-warning">Remove from {{registration.year}} Draft Pool</a>
                                <div ng-hide="playerAdmin.registeredForDraft" class="panel panel-info">
                                    <div class="panel-heading">Not registered for {{playerAdmin.year}} draft</div>
                                </div>
                            </div>
                            <div ng-show="playerAdmin.error" class="alert alert-danger">
                                {{playerAdmin.error}}
                                <a ng-show="playerAdmin.error" role="button" style="float:right" ng-click="playerAdmin.error = ''" class="glyphicon glyphicon-remove-sign"></a>
                            </div>

                            <div class="panel-footer">
                                <strong>Notes:</strong><br />
                                Inactive players can activate from Registration page.<br />
                                Adding players to rosters should be done through the buddy pick system.
                            </div>
                        </div>
                    </div>
        </div>
    </section>
</div>