<div class="container admin-body">
    <section id="main" class="admin-container">
        <section class="competition-view-user form">
            <div class="row">
                <h2 class="col-md-6">
                    {{admin.player.profile.user_name}}
                    <a href="#!/registration/{{admin.player.year}}/{{admin.player.playerId}}" class="btn btn-success">View Registration</a>
                </h2>
                <div class="col-md-6">
                    <table class="table">
                        <tr>
                            <th>Level</th>
                            <th>Division</th>
                            <th>Team</th>
                        </tr>
                        <tr>
                            <td>
                                <select ng-change="admin.administrator.setLevel()" ng-model="admin.administrator.level">
                                    <option ng-show="admin.administrator.canAssign('affiliate')" value="affiliate">League</option>
                                    <option ng-show="admin.administrator.canAssign('competition')" value="competition">Season</option>
                                    <option ng-show="admin.administrator.canAssign('division')" value="division">Division</option>
                                    <option value="team">Team</option>
                                </select>
                            </td>
                            <td>
                                <select ng-change="admin.administrator.setDivision()" ng-show="admin.administrator.showLevel('division')" ng-model="admin.administrator.division">
                                    <option ng-repeat="team in admin.administrator.divisionList" value="{{team.division}}">{{team.division}}</option>
                                </select>
                            </td>
                            <td>
                                <select ng-change="admin.administrator.setTeam()" ng-show="admin.administrator.showLevel('team')" ng-model="admin.administrator.teamName">
                                    <option ng-repeat="team in admin.administrator.teamList" value="{{team.teamName}}">{{team.teamName}}</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <table class="table">
                            <tr>
                                <th>Name</th>
                                <td>
                                    <span ng-hide="admin.player.profile.canEdit">{{admin.player.profile.user_name}}</span>
                                    <input ng-show="admin.player.profile.canEdit" type="text" ng-model="admin.player.profile.user_name" />
                                </td>
                            </tr>
                            <tr>
                               <th>Email</th>
                                <td>
                                    <input ng-show="admin.player.profile.canEdit" type="text" ng-model="admin.player.profile.email" />
                                    <a ng-hide="admin.player.profile.canEdit" href="mailto:{{admin.player.profile.email}}">{{admin.player.profile.email}}</a>
                                </td>
                            </tr>
                            <tr>
                                <th>Birth Date</th>
                                <td>
                                    <span ng-hide="admin.player.profile.canEdit">{{admin.player.profile.birth_date | date : 'MMM dd, yyyy'}}</span>
                                    <span ng-show="admin.player.profile.canEdit">(Contact System Administrator to Change)</span>
                                </td>
                            </tr>
                            <tr>
                                <th>Nickname</th>
                                <td>
                                    <span ng-hide="admin.player.profile.canEdit">{{admin.player.profile.nickname}}</span>
                                    <input ng-show="admin.player.profile.canEdit" type="text" ng-model="admin.player.profile.nickname" />
                                </td>
                            </tr>
                            <tr>
                                <th>Address</th>
                                <td>
                                    <span ng-hide="admin.player.profile.canEdit">{{admin.player.profile.address}}</span>
                                    <input ng-show="admin.player.profile.canEdit" type="text" ng-model="admin.player.profile.address" />
                                </td>
                            </tr>
                            <tr>
                                <th>City</th>
                                <td>
                                    <span ng-hide="admin.player.profile.canEdit">{{admin.player.profile.city}}</span>
                                    <input ng-show="admin.player.profile.canEdit" type="text" ng-model="admin.player.profile.city" />
                                </td>
                            </tr>
                            <tr>
                                <th>State</th>
                                <td>
                                    <span ng-hide="admin.player.profile.canEdit">{{admin.player.profile.state}}</span>
                                    <input ng-show="admin.player.profile.canEdit" type="text" ng-model="admin.player.profile.state" />
                                </td>
                            </tr>
                            <tr>
                                <th>Country</th>
                                <td>United States</td>
                            </tr>
                            <tr>
                                <th>Zip Code</th>
                                <td>
                                    <span ng-hide="admin.player.profile.canEdit">{{admin.player.profile.zip}}</span>
                                    <input ng-show="admin.player.profile.canEdit" type="text" ng-model="admin.player.profile.zip" />
                                </td>
                            </tr>
                            <tr>
                                <th>Mobile Phone</th>
                               <td>
                                    <span ng-hide="admin.player.profile.canEdit">{{admin.player.profile.mobile}}</span>
                                    <input ng-show="admin.player.profile.canEdit" type="text" ng-model="admin.player.profile.mobile" />
                                </td>
                            </tr>
                            <tr>
                                <th>Alternate Phone 1</th>
                                <td>
                                    <span ng-hide="admin.player.profile.canEdit">{{admin.player.profile.alt_phone_1}}</span>
                                    <input ng-show="admin.player.profile.canEdit" type="text" ng-model="admin.player.profile.alt_phone_1" />
                                </td>
                            </tr>
                            <tr>
                                <th>Alternate Phone 2</th>
                                <td>
                                    <span ng-hide="admin.player.profile.canEdit">{{admin.player.profile.alt_phone_2}}</span>
                                    <input ng-show="admin.player.profile.canEdit" type="text" ng-model="admin.player.profile.alt_phone_2" />
                                </td>
                            </tr>
                            <tr>
                                <th>Biography</th>
                                <td>
                                    <span ng-hide="admin.player.profile.canEdit">{{admin.player.profile.bio}}</span>
                                    <span ng-show="admin.player.profile.canEdit">(Deprecated pending profile re-design)</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <button ng-hide="admin.player.profile.canEdit" ng-click="admin.player.profile.canEdit = true" class="btn btn-primary"><span class="btn btn-content">Edit</span></button>
                    <button ng-show="admin.player.profile.canEdit" ng-click="admin.player.saveProfile()" class="btn btn-success"><span class="btn btn-content">Save Changes</span></button>
                    <button ng-show="admin.player.profile.canEdit" ng-click="admin.player.cancelEdit()" class="btn btn-danger"><span class="btn btn-content">Cancel Edit</span></button>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-info role-explanation">
                        <div class="panel-heading">Roles at the <strong>{{admin.administrator.level}}</strong> level</div>
                        <div ng-switch on="admin.administrator.level">

                            <div ng-switch-when="affiliate">
                                <div class="panel-body">
                                    <dl class="dl-horizontal">
                                        <dt>scheduler&nbsp;&nbsp;<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="admin.player.permissions.affiliate[0]" /></dt>
                                        <dd class="well well-sm">
                                            <ul>
                                                <li>Can create/edit/delete fields</li>
                                                <li>Can create/edit/delete field availabilities</li>
                                                <li>Can create/edit/delete games (except stats) anywhere in the system</li>
                                            </ul>
                                        </dd>
                                        <dt>statistician&nbsp;&nbsp;<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="admin.player.permissions.affiliate[1]" /></dt>
                                        <dd class="well well-sm">
                                            <ul>
                                                <li>Can create/edit/delete stat lines anywhere in the system</li>
                                                <li>Can edit game scores/outcomes/results anywhere in the system</li>
                                            </ul>
                                        </dd>
                                        <dt>manager&nbsp;&nbsp;<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="admin.player.permissions.affiliate[2]" /></dt>
                                        <dd class="well well-sm">
                                            <ul>
                                                <li>Can create/edit/delete competitions</li>
                                                <li>Can create/edit/delete competition levels</li>
                                                <li>Can create/edit/delete divisions anywhere in the system</li>
                                                <li>Can create/edit/delete teams anywhere in the system</li>
                                            </ul>
                                        </dd>
                                        <dt>treasurer&nbsp;&nbsp;<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="admin.player.permissions.affiliate[3]" /></dt>
                                        <dd class="well well-sm">
                                            <ul>
                                                <li>Can edit registrations for any user</li>
                                                <li>Can apply fees and deductions to any player</li>
                                            </ul>
                                        </dd>
                                        <dt>administrator&nbsp;&nbsp;<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="admin.player.permissions.affiliate[4]" /></dt>
                                        <dd class="well well-sm">
                                            <ul>
                                                <li>Can create/edit/delete users</li>
                                                <li>Create grant/revoke roles at the affiliate level</li>
                                                <li>Can edit the affiliate</li>
                                            </ul>
                                        </dd>
                                        <dt>contentEditor&nbsp;&nbsp;<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="admin.player.permissions.affiliate[5]" /></dt>
                                        <dd class="well well-sm">
                                            <ul>
                                                <li>Can create/edit/delete blog posts</li>
                                                <li>Can edit content used for affiliate</li>
                                                <li>Can create &amp; edit Terms of Service</li>
                                                <li>Can create &amp; edit Privacy Policy</li>
                                            </ul>
                                        </dd>
                                        <dt></dt>
                                        <dd>
                                            <!-- TODO: Find a way to consolidate this repeated code -->
                                            <button ng-click="admin.saveRoles()" class="btn btn-success"><span class="btn btn-content">Save Permissions</span></button>
                                            <img ng-show="admin.player.loadingData" src="img/loading1.gif" title="Loading" />
                                            <span class="col-md-9 col-md-offset-3">&nbsp;</span>
                                            <div ng-show="admin.player.confirm" class="alert alert-success col-md-8">
                                                {{admin.player.confirm}}
                                                <a ng-show="admin.player.confirm" role="button" style="float:right" ng-click="admin.player.confirm = ''" class="glyphicon glyphicon-remove-sign"></a>
                                            </div>
                                            <div ng-show="admin.player.error" class="alert alert-danger col-md-8">
                                                {{admin.player.error}}
                                                <a ng-show="admin.player.error" role="button" style="float:right" ng-click="admin.player.error = ''" class="glyphicon glyphicon-remove-sign"></a>
                                            </div>
                                        </dd>
                                    </dl>
                                </div>
                            </div>

                            <div ng-switch-when="competition">
                                <div class="panel-body">
                                    <dl class="dl-horizontal">
                                        <dt>scheduler&nbsp;&nbsp;<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="admin.player.permissions.competition[0]" /></dt>
                                        <dd class="well well-sm">
                                            <ul>
                                                <li>Can create/edit/delete games (except stats) within this competition</li>
                                            </ul>
                                        </dd>
                                        <dt>statistician&nbsp;&nbsp;<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="admin.player.permissions.competition[1]" /></dt>
                                        <dd class="well well-sm">
                                            <ul>
                                                <li>Can create/edit/delete stat lines within this competition</li>
                                                <li>Can edit game scores/outcomes/results within this competition</li>
                                            </ul>
                                        </dd>
                                        <dt>manager&nbsp;&nbsp;<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="admin.player.permissions.competition[2]" /></dt>
                                        <dd class="well well-sm">
                                            <ul>
                                                <li>Can create/edit/delete divisions within this competition</li>
                                                <li>Can create/edit/delete teams in this competition</li>
                                                <li>Can move a team to another division</li>
                                            </ul>
                                        </dd>
                                        <dt>treasurer&nbsp;&nbsp;<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="admin.player.permissions.competition[3]" /></dt>
                                        <dd class="well well-sm">
                                            <ul>
                                                <li>Can edit registrations for any user that has registered for this competition</li>
                                                <li>Can apply fees and deductions to any player within this competition</li>
                                            </ul>
                                        </dd>
                                        <dt>administrator&nbsp;&nbsp;<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="admin.player.permissions.competition[4]" /></dt>
                                        <dd class="well well-sm">
                                            <ul>
                                                <li>Can edit users that have registered in this competition</li>
                                                <li>Create grant/revoke roles within this competition</li>
                                                <li>Can edit competition settings</li>
                                            </ul>
                                        </dd>
                                        <dt>contentEditor&nbsp;&nbsp;<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="admin.player.permissions.competition[5]" /></dt>
                                        <dd class="well well-sm">
                                            <ul>
                                                <li>Can create &amp; edit Waiver of Liability</li>
                                            </ul>
                                        </dd>
                                        <dt></dt>
                                        <dd>
                                            <!-- TODO: Find a way to consolidate this repeated code -->
                                            <button ng-click="admin.saveRoles()" class="btn btn-success"><span class="btn btn-content">Save Permissions</span></button>
                                            <img ng-show="admin.player.loadingData" src="img/loading1.gif" title="Loading" />
                                            <span class="col-md-9 col-md-offset-3">&nbsp;</span>
                                            <div ng-show="admin.player.confirm" class="alert alert-success col-md-8">
                                                {{admin.player.confirm}}
                                                <a ng-show="admin.player.confirm" role="button" style="float:right" ng-click="admin.player.confirm = ''" class="glyphicon glyphicon-remove-sign"></a>
                                            </div>
                                            <div ng-show="admin.player.error" class="alert alert-danger col-md-8">
                                                {{admin.player.error}}
                                                <a ng-show="admin.player.error" role="button" style="float:right" ng-click="admin.player.error = ''" class="glyphicon glyphicon-remove-sign"></a>
                                            </div>
                                        </dd>
                                    </dl>
                                </div>
                            </div>

                            <div ng-switch-when="division">
                                <div class="panel-body">
                                    <dl class="dl-horizontal">
                                        <dt>scheduler&nbsp;&nbsp;<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="admin.player.permissions.division[0]" /></dt>
                                        <dd class="well well-sm">
                                            <ul>
                                                <li>Can create/edit/delete games (except stats) within this division</li>
                                            </ul>
                                        </dd>
                                        <dt>statistician&nbsp;&nbsp;<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="admin.player.permissions.division[1]" /></dt>
                                        <dd class="well well-sm">
                                            <ul>
                                                <li>Can create/edit/delete stat lines within this division</li>
                                                <li>Can edit game scores/outcomes/results within this division</li>
                                            </ul>
                                        </dd>
                                        <dt>manager&nbsp;&nbsp;<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="admin.player.permissions.division[2]" /></dt>
                                        <dd class="well well-sm">
                                            <ul>
                                                <li>Can create/edit/delete teams within this division</li>
                                            </ul>
                                        </dd>
                                        <dt>treasurer&nbsp;&nbsp;<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="admin.player.permissions.division[3]" /></dt>
                                        <dd class="well well-sm">
                                            <ul>
                                                <li>Can edit registrations for any user that has registered for this division</li>
                                                <li>Can apply fees and deductions to any player within this division</li>
                                            </ul>
                                        </dd>
                                        <dt>administrator&nbsp;&nbsp;<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="admin.player.permissions.division[4]" /></dt>
                                        <dd class="well well-sm">
                                            <ul>
                                                <li>Can edit users that are on a team in this division</li>
                                                <li>Create grant/revoke roles within this division</li>
                                                <li>Can edit division settings</li>
                                            </ul>
                                        </dd>
                                        <dt>contentEditor&nbsp;&nbsp;<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="admin.player.permissions.division[5]" /></dt>
                                        <dd class="well well-sm">
                                            <ul>
                                                <li>tbd</li>
                                            </ul>
                                        </dd>
                                        <dt></dt>
                                        <dd>
                                            <!-- TODO: Find a way to consolidate this repeated code -->
                                            <button ng-click="admin.saveRoles()" class="btn btn-success"><span class="btn btn-content">Save Permissions</span></button>
                                            <img ng-show="admin.player.loadingData" src="img/loading1.gif" title="Loading" />
                                            <span class="col-md-9 col-md-offset-3">&nbsp;</span>
                                            <div ng-show="admin.player.confirm" class="alert alert-success col-md-8">
                                                {{admin.player.confirm}}
                                                <a ng-show="admin.player.confirm" role="button" style="float:right" ng-click="admin.player.confirm = ''" class="glyphicon glyphicon-remove-sign"></a>
                                            </div>
                                            <div ng-show="admin.player.error" class="alert alert-danger col-md-8">
                                                {{admin.player.error}}
                                                <a ng-show="admin.player.error" role="button" style="float:right" ng-click="admin.player.error = ''" class="glyphicon glyphicon-remove-sign"></a>
                                            </div>
                                        </dd>
                                    </dl>
                                </div>
                            </div>

                            <div ng-switch-when="team">
                                <div class="panel-body">
                                    <dl class="dl-horizontal">
                                        <dt>scheduler&nbsp;&nbsp;<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="admin.player.permissions.team[0]" /></dt>
                                        <dd class="well well-sm">
                                            <ul>
                                                <li>Can update games (except stats) for this team</li>
                                            </ul>
                                        </dd>
                                        <dt>statistician&nbsp;&nbsp;<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="admin.player.permissions.team[1]" /></dt>
                                        <dd class="well well-sm">
                                            <ul>
                                                <li>Can create/edit/delete stat lines for this team</li>
                                            </ul>
                                        </dd>
                                        <dt>manager&nbsp;&nbsp;<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="admin.player.permissions.team[2]" /></dt>
                                        <dd class="well well-sm">
                                            <ul>
                                                <li>Can invite players to the team</li>
                                                <li>Can add/remove players from team roster</li>
                                                <li>Can modify roster status of players</li>
                                                <li>Can edit team settings</li>
                                            </ul>
                                        </dd>
                                        <dt>treasurer&nbsp;&nbsp;<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="admin.player.permissions.team[3]" /></dt>
                                        <dd class="well well-sm">
                                            <ul>
                                                <li>Can pay for a player on the team</li>
                                                <li>Can view billing information for members of the team</li>
                                            </ul>
                                        </dd>
                                        <dt>administrator&nbsp;&nbsp;<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="admin.player.permissions.team[4]" /></dt>
                                        <dd class="well well-sm">
                                            <ul>
                                                <li>Create grant/revoke roles within this team</li>
                                                <li>Can edit team settings</li>
                                            </ul>
                                        </dd>
                                        <dt>contentEditor&nbsp;&nbsp;<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="admin.player.permissions.team[5]" /></dt>
                                        <dd class="well well-sm">
                                            <ul>
                                                <li>tbd</li>
                                            </ul>
                                        </dd>
                                        <dt></dt>
                                        <dd>
                                            <!-- TODO: Find a way to consolidate this repeated code -->
                                            <button ng-click="admin.saveRoles()" class="btn btn-success"><span class="btn btn-content">Save Permissions</span></button>
                                            <img ng-show="admin.player.loadingData" src="img/loading1.gif" title="Loading" />
                                            <span class="col-md-9 col-md-offset-3">&nbsp;</span>
                                            <div ng-show="admin.player.confirm" class="alert alert-success col-md-8">
                                                {{admin.player.confirm}}
                                                <a ng-show="admin.player.confirm" role="button" style="float:right" ng-click="admin.player.confirm = ''" class="glyphicon glyphicon-remove-sign"></a>
                                            </div>
                                            <div ng-show="admin.player.error" class="alert alert-danger col-md-8">
                                                {{admin.player.error}}
                                                <a ng-show="admin.player.error" role="button" style="float:right" ng-click="admin.player.error = ''" class="glyphicon glyphicon-remove-sign"></a>
                                            </div>
                                        </dd>
                                    </dl>
                                </div>
                            </div>

                        </div>  <!--- switch on admin.role.level -->
                   </div>
                </div>
            </div>
        </section>
    </section>
</div>
