<div class="container main-body">
    <p>
        <strong>Attention!</strong> This is a very rough mockup of a feature that we are hoping to bring you in 2024. The links on this page are not yet functional and,
        when implemented, specific suggestions will be customized based on the field identified. Check back in 2024 for details.
    </p>
    <section id="main" class="content-container">
        <h2>Suggested Post-game Refreshments near:</h2>
        <h3>{{fieldInfo.name}}</h3>
        <br />
        <div class="row">
            <div class="col-md-4">
                <div class="well" style="text-align:center; font-size:large; color:yellow; background-color:firebrick">
                    <a ng-href="{{marketAd.href}}" target="_blank"><img width=315 ng-src="img/ads/afterGame/Damans.png" /></a>
                    <p >
                        Directions
                    </p>
                    <p style="text-align:center;">
                        Menu
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well" style="text-align:center; font-size:large; color:yellow; background-color:firebrick">
                    <a ng-href=" {{marketAd.href}}" target="_blank"><img width=315 ng-src="img/ads/afterGame/RedRobin.png" /></a>
                    <p>
                        Directions
                    </p>
                    <p style="text-align:center;">
                        Menu
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well" style="text-align:center; font-size:large; color:yellow; background-color:firebrick">
                    <a ng-href=" {{marketAd.href}}" target="_blank"><img width=315 ng-src="img/ads/afterGame/Pasquallys.png" /></a>
                    <p>
                        Directions
                    </p>
                    <p style="text-align:center;">
                        Menu
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>


