<div class="container main-body">
    <section id="main" class="content-container">

        <!-----------------------------------------
         Rough First cut at this ... will probably want to clean up the tab selection logic and
         use angularjs directives to display the tables.
         ----------------------------------------->
        <section ng-if="page=='search'">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3><strong>Player Search</strong></h3>
                    <p>
                        You can search for any player who has registered with the PCBL since 2007, even if they are not a currently registered member. Just enter all or part of their
                        first and/or last name and click the "Submit" button. Up to 20 results containing the text entered will be returned. Clicking on any of the results will bring you
                        to the player's career stats page.
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            <label style="display:block" class="control-label">First Name</label>
                            <input style="display:block;width:100%" type="text" name="firstName" autocomplete="off" ng-model="search.playerFirstName">
                        </div>
                        <div class="col-md-2">
                            <label style="display:block" class="control-label">Last Name</label>
                            <input style="display:block;width:100%" type="text" name="lastName" autocomplete="off" ng-model="search.playerLastName">
                        </div>
                        <div class="col-md-2">
                            <label style="display:block" class="control-label">Search&nbsp;</label>
                            <button autocomplete="off" ng-disabled="search.playerFirstName.length + search.playerLastName.length < 3" ng-click="search.submitPlayerQuery(playerFirstName, playerLastName)" class="btn btn-primary">
                                <span>Submit</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <h3> After submitting search, click on selected player from list below:</h3>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Account Created</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="result in search.searchResults">
                                <td><a href="#!/player/{{result.playerId}}">{{result.firstName}} {{result.lastName}}</a></td>
                                <td>{{result.year}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-show="search.emptyResults()" class="alert alert-info">
                    (No matches found)
                </div>
            </div>
        </section>

        <section ng-if="page=='career'">

            <h1 style="text-align:center">
                Career Stat Leaders
                <img ng-show="loadingData" src="img/loading1.gif" title="Loading" />
            </h1>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong ng-click="callDebug()">Career Stat Search</strong>
                    <p>
                        This feature allows you to search the historical database records to list various categories of league leaders. While we hope you enjoy this,
                        please be aware that there are severe limitations regarding the completeness and accuracy of this information. For a more detailed explanation,
                        see the article at this link: <a href="#!/articles/career-stats-information">Career Stats Information</a>
                    </p>
                </div>
                <div class="panel-body" style="background-color:lightyellow">
                    <div class="row" style="text-align:center;color:blue">
                        <strong><em>Select search options and click the "Submit" button to view results:</em></strong>
                    </div>
                    <div>&nbsp;</div>

                    <!-- Two Column collapsible VERSION -->
                    <div class="btn-group col-md-6 row">
                        <span>
                            <label class="control-label-block">Search Type</label>
                            <select class="btn btn-primary" ng-change="career.setType()" ng-model="career.search.type">
                                <option value="Career">Career Leaders</option>
                                <option value="Season">Single Season Records</option>
                                <option value="Year">Specific Year</option>
                                <option value="FiveYear">Last 5 Seasons</option>
                            </select>
                        </span>
                        <span>
                            <label class="control-label-block">Scope</label>
                            <select class="btn btn-default" ng-change="career.setScope()" ng-model="career.search.scope">
                                <option value="League">League Wide</option>
                                <option ng-hide="career.search.type == 'Year'" value="Division">Division</option>
                                <option ng-hide="career.search.type == 'Year'" value="Franchise">Franchise</option>
                            </select>
                        </span>
                        <span ng-show="career.search.year">
                            <label class="control-label-block">Year</label>
                            <select class="btn btn-default" ng-change="career.setYear()" ng-model="career.search.year">
                                <option ng-repeat="year in career.years" value={{year}} selected>{{year}}</option>
                            </select>
                        </span>
                        <span ng-show="career.search.division">
                            <label class="control-label-block">Division</label>
                            <select ng-show="career.search.division" class="btn btn-default" ng-change="career.setDivision()" ng-model="career.search.division">
                                <option ng-repeat="division in career.divisions" value={{division}}>{{division}}</option>
                            </select>
                        </span>
                        <span ng-show="career.search.teamId" >
                            <label class="control-label-block">Team</label>
                            <select class="btn btn-default" ng-change="career.setTeam()" ng-model="career.search.teamId">
                                <option ng-repeat="team in career.teamList" value="{{team.id}}">{{team.name}}</option>
                            </select>
                        </span>
                        <p style="color:green" ng-show="career.search.scope == 'Franchise'"><strong><em>Select a representative team of the desired franchise by year, division, and team name. Results will include all seasons for that franchise.</em></strong></p>
                        <span ng-show="career.search.restrict">
                            <label class="control-label-block">Restrict to</label>
                            <select class="btn btn-default" ng-change="career.clearResults()" ng-model="career.search.restrict">
                                <option value="All">All Teams</option>
                                <option value="Single">Single Team</option>
                            </select>
                        </span>
                    </div>
                    <div class="btn-group col-md-6">
                        <span>
                            <label class="control-label-block">Category</label>
                            <select class="btn btn-primary" ng-change="career.setCategory()" ng-model="career.search.category">
                                <option value="Batting" selected>Batting</option>
                                <option value="Pitching">Pitching</option>
                            </select>
                        </span>
                        <span>
                            <label class="control-label-block">Stat</label>
                            <select class="btn btn-default" ng-change="career.clearResults()" ng-model="career.search.stat">
                                <option ng-repeat="stat in career.statLabels" value="{{$index}}" selected>{{stat}}</option>
                            </select>
                        </span>

                    </div>            
                    <div class="row col-md-12">
                        <hr />
                        <div style="text-align:center">
                            <button autocomplete="off" ng-click="career.searchStats()" class="btn btn-success">
                                <span>Submit</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div  ng-if="career.showTable('Batting') || career.showTable('Pitching')">
                <h3>{{career.constructTitle()}}</h3>
                <div class="row">
                    <div uib-pagination boundary-links="true" class="col-md-4" total-items="career.totalItems" items-per-page="career.itemsPerPage" ng-change="career.pageChanged()" ng-model="career.currentPage" max-size="career.maxPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                    </div>

                    <!-- Button dropdown with keyboard nav -->
                    <div class="col-md-4 pagination">
                        <div class="btn-group" uib-dropdown dropdown-append-to-body>
                            <button id="per-page-btn" type="button" class="btn btn-primary" uib-dropdown-toggle>
                                Show Per Page <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="per-page-btn">
                                <li role="menuitem"><a role="button" ng-click="career.setPerPage(25)">25</a></li>
                                <li role="menuitem"><a role="button" ng-click="career.setPerPage(50)">50</a></li>
                                <li role="menuitem"><a role="button" ng-click="career.setPerPage(100)">100</a></li>
                            </ul>
                        </div>

                        <!-- Query Box -->
                        <span>&nbsp;&nbsp;<input ng-model="career.query" type="text" placeholder="Filter by"></span>
                    </div>

                    <!-- Currently showing info -->
                    <div class="pagination-info pagination pull-right">
                        Showing
                        <span class="label label-info">{{career.currentPage * career.itemsPerPage - career.itemsPerPage + 1}}&mdash;{{career.currentPage * career.itemsPerPage}}</span>
                        of <span class="label label-info">{{career.totalItems}}</span>
                    </div>

                </div>
            </div>
                        
            <div ng-if="career.showTable('Batting')">
                <div class="table-responsive">
                    <table class="table table-hover table-condensed stats-table">
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Name</th>
                                <th ng-show="career.search.restrict == 'Single'"></th>
                                <th ng-show="career.search.type == 'Season'" class="number">Year</th>
                                <th ng-class="career.isSortColumn('g')" class="number">G</th>
                                <th ng-class="career.isSortColumn('pa')" class="number">PA</th>
                                <th ng-class="career.isSortColumn('ab')" class="number">AB</th>
                                <th ng-class="career.isSortColumn('r')" class="number">R</th>
                                <th ng-class="career.isSortColumn('h')" class="number">H</th>
                                <th ng-class="career.isSortColumn('2b')" class="number">2B</th>
                                <th ng-class="career.isSortColumn('3b')" class="number">3B</th>
                                <th ng-class="career.isSortColumn('hr')" class="number">HR</th>
                                <th ng-class="career.isSortColumn('rbi')" class="number">RBI</th>
                                <th ng-class="career.isSortColumn('sb')" class="number">SB</th>
                                <th ng-class="career.isSortColumn('cs')" class="number">CS</th>
                                <th ng-class="career.isSortColumn('bb')" class="number">BB</th>
                                <th ng-class="career.isSortColumn('so')" class="number">SO</th>
                                <th ng-class="career.isSortColumn('avg')" class="number">AVG</th>
                                <th ng-class="career.isSortColumn('obp')" class="number">OBP</th>
                                <th ng-class="career.isSortColumn('slg')" class="number">SLG</th>
                                <th ng-class="career.isSortColumn('ops')" class="number">OPS</th>
                                <th ng-class="career.isSortColumn('tb')" class="number">TB</th>
                                <th ng-class="career.isSortColumn('hbp')" class="number">HBP</th>
                                <th ng-class="career.isSortColumn('sh')" class="number">SH</th>
                                <th ng-class="career.isSortColumn('sf')" class="number">SF</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--{"playerId":"312","firstName":"John","lastName":"Jury","teamId":"668","g":"17","ab":"56","r":"12","h":"28","d":"2","t":"0","hr":"0","rbi":"14","sb":"5","cs":"0","bb":"5","so":"3","gdp":"0","hbp":"0","rboe":"2","sh":"0","sf":"0","ibb":"0","ci":"0","rboe":"0"}-->
                            <tr ng-Repeat="statLine in career.results | filter:career.query" ng-show="career.inRange($index, career.currentPage, statLine)">
                                <td>{{statLine.rank}}</td>
                                <td>
                                    <a href="/#!/player/{{statLine.playerId}}" title="{{statLine.firstName}}&nbsp;{{statLine.lastName}}">
                                        {{career.getPlayerName(statLine)}}
                                    </a>
                                </td>
                                <td ng-show="career.search.restrict == 'Single'">({{statLine.team}})</td>
                                <td ng-show="career.search.type == 'Season'" class="number">{{statLine.year}}</td>
                                <td ng-class="career.isSortColumn('g')" class="number">{{statLine.g}}</td>
                                <td ng-class="career.isSortColumn('pa')" class="number">{{statLine.pa}}</td>
                                <td ng-class="career.isSortColumn('ab')" class="number">{{statLine.ab}}</td>
                                <td ng-class="career.isSortColumn('r')" class="number">{{statLine.r}}</td>
                                <td ng-class="career.isSortColumn('h')" class="number">{{statLine.h}}</td>
                                <td ng-class="career.isSortColumn('2b')" class="number">{{statLine.d}}</td>
                                <td ng-class="career.isSortColumn('3b')" class="number">{{statLine.t}}</td>
                                <td ng-class="career.isSortColumn('hr')" class="number">{{statLine.hr}}</td>
                                <td ng-class="career.isSortColumn('rbi')" class="number">{{statLine.rbi}}</td>
                                <td ng-class="career.isSortColumn('sb')" class="number">{{statLine.sb}}</td>
                                <td ng-class="career.isSortColumn('cs')" class="number">{{statLine.cs}}</td>
                                <td ng-class="career.isSortColumn('bb')" class="number">{{statLine.bb}}</td>
                                <td ng-class="career.isSortColumn('so')" class="number">{{statLine.so}}</td>
                                <td ng-class="career.isSortColumn('avg')" class="number">{{statLine.avg}}</td>
                                <td ng-class="career.isSortColumn('obp')" class="number">{{statLine.obp}}</td>
                                <td ng-class="career.isSortColumn('slg')" class="number">{{statLine.slg}}</td>
                                <td ng-class="career.isSortColumn('ops')" class="number">{{statLine.ops}}</td>
                                <td ng-class="career.isSortColumn('tb')" class="number">{{statLine.tb}}</td>
                                <td ng-class="career.isSortColumn('hbp')" class="number">{{statLine.hbp}}</td>
                                <td ng-class="career.isSortColumn('sh')" class="number">{{statLine.sh}}</td>
                                <td ng-class="career.isSortColumn('sf')" class="number">{{statLine.sf}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <div ng-if="career.showTable('Pitching')">
                <div class="table-responsive">
                    <table class="table table-hover table-condensed stats-table">
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Name</th>
                                <th ng-show="career.search.restrict == 'Single'"></th>
                                <th ng-show="career.search.type == 'Season'" class="number">Year</th>
                                <th ng-class="career.isSortColumn('g')" ng-click="sortPitching('g')" class="number sortable-column">G</th>
                                <th ng-class="career.isSortColumn('w')" ng-click="sortPitching('w')" class="number sortable-column">W</th>
                                <th ng-class="career.isSortColumn('l')" ng-click="sortPitching('l')" class="number sortable-column">L</th>
                                <th ng-class="career.isSortColumn('gs')" ng-click="sortPitching('gs')" class="number sortable-column">GS</th>
                                <th ng-class="career.isSortColumn('gf')" ng-click="sortPitching('gf')" class="number sortable-column">GF</th>
                                <th ng-class="career.isSortColumn('cg')" ng-click="sortPitching('cg')" class="number sortable-column">CG</th>
                                <th ng-class="career.isSortColumn('sho')" ng-click="sortPitching('sho')" class="number sortable-column">SHO</th>
                                <th ng-class="career.isSortColumn('sv')" ng-click="sortPitching('sv')" class="number sortable-column">SV</th>
                                <th ng-class="career.isSortColumn('ip')" ng-click="sortPitching('ip')" class="number sortable-column">IP</th>
                                <th ng-class="career.isSortColumn('h')" ng-click="sortPitching('h')" class="number sortable-column">H</th>
                                <th ng-class="career.isSortColumn('r')" ng-click="sortPitching('r')" class="number sortable-column">R</th>
                                <th ng-class="career.isSortColumn('er')" ng-click="sortPitching('er')" class="number sortable-column">ER</th>
                                <th ng-class="career.isSortColumn('hr')" ng-click="sortPitching('hr')" class="number sortable-column">HR</th>
                                <th ng-class="career.isSortColumn('bb')" ng-click="sortPitching('bb')" class="number sortable-column">BB</th>
                                <th ng-class="career.isSortColumn('so')" ng-click="sortPitching('so')" class="number sortable-column">K</th>
                                <th ng-class="career.isSortColumn('hbp')" ng-click="sortPitching('hbp')" class="number sortable-column">HBP</th>
                                <th ng-class="career.isSortColumn('bk')" ng-click="sortPitching('bk')" class="number sortable-column">BK</th>
                                <th ng-class="career.isSortColumn('wp')" ng-click="sortPitching('wp')" class="number sortable-column">WP</th>
                                <th ng-class="career.isSortColumn('era')" ng-click="sortPitching('era')" class="number sortable-column">ERA</th>
                                <th ng-class="career.isSortColumn('whip')" ng-click="sortPitching('whip')" class="number sortable-column">WHIP</th>
                                <th ng-class="career.isSortColumn('k9')" ng-click="sortPitching('k9')" class="number sortable-column">K/9</th>
                                <th ng-class="career.isSortColumn('bb9')" ng-click="sortPitching('bb9')" class="number sortable-column">BB/9</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-Repeat="statLine in career.results | filter:career.query" ng-show="career.inRange($index, career.currentPage, statLine)">
                                <td>{{statLine.rank}}</td>
                                <td>
                                    <a href="#!/player/{{statLine.playerId}}" title="{{statLine.firstName}}&nbsp;{{statLine.lastName}}">
                                        {{career.getPlayerName(statLine)}}
                                    </a>
                                </td>
                                <td ng-show="career.search.restrict == 'Single'">({{statLine.team}})</td>
                                <td ng-show="career.search.type == 'Season'" class="number">{{statLine.year}}</td>
                                <td ng-class="career.isSortColumn('g')" class="number ">{{statLine.g}}</td>
                                <td ng-class="career.isSortColumn('w')" class="number ">{{statLine.w}}</td>
                                <td ng-class="career.isSortColumn('l')" class="number ">{{statLine.l}}</td>
                                <td ng-class="career.isSortColumn('gs')" class="number ">{{statLine.gs}}</td>
                                <td ng-class="career.isSortColumn('gf')" class="number ">{{statLine.gf}}</td>
                                <td ng-class="career.isSortColumn('cg')" class="number ">{{statLine.cg}}</td>
                                <td ng-class="career.isSortColumn('sho')" class="number ">{{statLine.sho}}</td>
                                <td ng-class="career.isSortColumn('sv')" class="number ">{{statLine.sv}}</td>
                                <td ng-class="career.isSortColumn('ip')" class="number ">{{statLine.ip}}</td>
                                <td ng-class="career.isSortColumn('h')" class="number ">{{statLine.h}}</td>
                                <td ng-class="career.isSortColumn('r')" class="number ">{{statLine.r}}</td>
                                <td ng-class="career.isSortColumn('er')" class="number ">{{statLine.er}}</td>
                                <td ng-class="career.isSortColumn('hr')" class="number ">{{statLine.hr}}</td>
                                <td ng-class="career.isSortColumn('bb')" class="number ">{{statLine.bb}}</td>
                                <td ng-class="career.isSortColumn('so')" class="number ">{{statLine.so}}</td>
                                <td ng-class="career.isSortColumn('hbp')" class="number ">{{statLine.hbp}}</td>
                                <td ng-class="career.isSortColumn('bk')" class="number ">{{statLine.bk}}</td>
                                <td ng-class="career.isSortColumn('wp')" class="number ">{{statLine.wp}}</td>
                                <td ng-class="career.isSortColumn('era')" class="number ">{{statLine.era}}</td>
                                <td ng-class="career.isSortColumn('whip')" class="number ">{{statLine.whip}}</td>
                                <td ng-class="career.isSortColumn('k9')" class="number ">{{statLine.k9}}</td>
                                <td ng-class="career.isSortColumn('bb9')" class="number ">{{statLine.bb9}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div ng-if="career.showTable('Batting') || career.showTable('Pitching')">
                <input ng-model="career.hideColumns" type="checkbox">
                Hide Other Columns
            </div>
        </section>
    </section>
</div>
