<div class="container main-body">
    <section id="main" class="content-container">
        <!-- This warning is probably no longer relevant, so I will comment it out
        <div class="alert alert-warning">
            <strong>Note:</strong> If you are using the Google Chrome browser and having difficulties loading these pages or viewing the videos, please see the following article: <a href="#!/articles/chrome-issues">
                <em>Chrome Issues</em></a><br />
            Warning: if you have already entered the error condition, the help link may also take a long time (5 minutes or more) to load.
        </div>
        -->

        <!-- Individual Draft Player Page -->
        <a href="#!/players/Draft/{{draft.player.year}}" class="btn btn-default">Return to list ...</a>
        <h2 class="row col-md-9">
            <span ng-click="callDebug()" style="color:blue"><strong>{{draft.player.name}}</strong></span> Draft Profile -
            <small>Bib #{{draft.player.bib}}</small>
        </h2>
        <hr />
        <!-- This is the information Row -->
        <div class="row">
            <div class="col-md-5">
                <img width="400" check-image ng-src="data/upload/photos/draft/{{draft.player.year}}/{{draft.player.bib}}.jpg" />
            </div>
            <div class="col-md-7">
                <div class="col-md-6">
                    <div class="col-md-12">
                        <label  for="draft-positions" class="control-label">Positions:</label>
                        <h2 style="color:green" name="draft-positions">{{draft.player.positions}}</h2>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="draft-availability" class="control-label">Availability:</label>
                        <textarea readonly ng-model="draft.player.availability" rows="6" name="draft-availability" cols="35"></textarea>
                    </div>
                    <div class="col-md-12">
                        <h3 ng-style="draft.is80Pct(draft.player, 'style')" ng-class="draft.is80Pct(draft.player, 'class')">80% Availability</h3>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12">
                        <label for="draft-experience" class="control-label">Experience:</label>
                        <h2  style="color:green" name="draft-experience">{{draft.formatExperience(draft.player.experience)}}</h2>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="draft-notes" class="control-label">Notes:</label>
                        <textarea readonly rows="6" name="draft-notes" cols="35" ng-model="draft.player.notes"></textarea>
                    </div>
                    <div class="col-md-12">
                        <h2 style="color:maroon" class="text-right">Age: {{draft.getPlayerAge(draft.player.birthDate)}}</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- This is the video row -->
        <div>Videos: (if you are willing to help with filming, please contact support@pssbl.com)</div>
        <div class="well">
            <video ng-repeat="video in draft.player.videos" ng-src="{{draft.vidSource(video)}}" width="320" height="240" controls>
                Your browser does not support the video tag.
            </video>
        </div>
        <!-- This is the edit section -->
        <button ng-if="draft.canEditProfile" ng-hide="draft.editingInfo" ng-click="draft.editDraftProfile()" class="btn btn-primary">Edit Details</button>
        <button ng-show="draft.editingInfo" ng-click="draft.saveDraftProfile()" class="btn btn-success">Save Details</button>
        <button ng-show="draft.editingInfo" ng-click="draft.cancelProfileEdit()" class="btn btn-danger">Cancel Edit</button>
        <img ng-show="draft.loadingData" src="img/loading1.gif" title="Loading" />
        <div ng-show="draft.error" class="alert alert-danger">
            {{draft.error}}
            <a ng-show="draft.error" role="button" style="float:right" ng-click="draft.error = ''" class="glyphicon glyphicon-remove-sign"></a>
        </div>
        <table ng-if="draft.editingInfo">
            <tr>
                <td>
                    <h3>Tryout Player Information</h3>
                    <div class="row">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <h4 class="col-md-2 control-label"><strong>Position Preferences:</strong></h4>
                    <div class="form-group col-md-2">
                        <label for="draft-position1" class="control-label">1st Choice</label>
                        <select ng-model="draft.form.position1" name="draft-position1">
                            <option value="none" selected>-none-</option>
                            <option value="P">Pitcher</option>
                            <option value="C">Catcher</option>
                            <option value="1B">First Base</option>
                            <option value="2B">Second Base</option>
                            <option value="SS">Short Stop</option>
                            <option value="3B">Third Base</option>
                            <option value="LF">Left Field</option>
                            <option value="CF">Center Field</option>
                            <option value="RF">Right Field</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="draft-position2" class="control-label">2nd Choice</label>
                        <select ng-model="draft.form.position2" name="draft-position2">
                            <option value="none" selected>-none-</option>
                            <option value="P">Pitcher</option>
                            <option value="C">Catcher</option>
                            <option value="1B">First Base</option>
                            <option value="2B">Second Base</option>
                            <option value="SS">Short Stop</option>
                            <option value="3B">Third Base</option>
                            <option value="LF">Left Field</option>
                            <option value="CF">Center Field</option>
                            <option value="RF">Right Field</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="draft-position3" class="control-label">3rd Choice</label>
                        <select ng-model="draft.form.position3" name="draft-position3">
                            <option value="none" selected>-none-</option>
                            <option value="P">Pitcher</option>
                            <option value="C">Catcher</option>
                            <option value="1B">First Base</option>
                            <option value="2B">Second Base</option>
                            <option value="SS">Short Stop</option>
                            <option value="3B">Third Base</option>
                            <option value="LF">Left Field</option>
                            <option value="CF">Center Field</option>
                            <option value="RF">Right Field</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="draft-position4" class="control-label">4th Choice</label>
                        <select ng-model="draft.form.position4" name="draft-position4">
                            <option value="none" selected>-none-</option>
                            <option value="P">Pitcher</option>
                            <option value="C">Catcher</option>
                            <option value="1B">First Base</option>
                            <option value="2B">Second Base</option>
                            <option value="SS">Short Stop</option>
                            <option value="3B">Third Base</option>
                            <option value="LF">Left Field</option>
                            <option value="CF">Center Field</option>
                            <option value="RF">Right Field</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="draft-position5" class="control-label">5th Choice</label>
                        <select ng-model="draft.form.position5" name="draft-position5">
                            <option value="none" selected>-none-</option>
                            <option value="P">Pitcher</option>
                            <option value="C">Catcher</option>
                            <option value="1B">First Base</option>
                            <option value="2B">Second Base</option>
                            <option value="SS">Short Stop</option>
                            <option value="3B">Third Base</option>
                            <option value="LF">Left Field</option>
                            <option value="CF">Center Field</option>
                            <option value="RF">Right Field</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group col-md-2">
                        <label for="draft-experience">Experience</label>
                        <select name=draft-experience ng-model="draft.form.experience">
                            <option value="none" selected>-none-</option>
                            <option value="ll">Little League</option>
                            <option value="ms">Middle School</option>
                            <option value="hs">High School</option>
                            <option value="adult">Adult League</option>
                            <option value="college">College</option>
                            <option value="pro">Professional</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="draft-availability" class="control-label">Availability:</label>
                        <textarea rows="3" name="draft-availability" cols="40" ng-model="draft.form.availability" placeholder="describe your availability schedule"></textarea>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="draft-notes" class="control-label">Notes:</label>
                        <textarea rows="3" name="draft-notes" cols="40" ng-model="draft.form.notes" placeholder="enter any additional information"></textarea>
                    </div>
                    <div class="form-group col-md-12 col-md-offset-2">
                        <label><input ng-model="draft.form.available80" type="checkbox" name="draft-80pct">80% Availability?</label>
                    </div>
                    <div class="form-group col-md-12 col-md-offset-2">
                        <label><input ng-model="draft.form.drafted" type="checkbox" name="draft-drafted">Drafted?</label>
                    </div>
               </td>
            </tr>
        </table>
    </section>
</div>


