<style>
    /* Will move style definitions to .css file when done */

    #draft .draft-main {
        background-image: url('img/textures/grassTile.jpg');
    }

    #draft .draft-header-image {
        max-width: 100%;
    }

    #draft .btn-left {
    }

    #draft .draft-division-label {
        display: inline-block;
        width: 422px;
        color: yellow;
        text-align: center;
        font-size: 40px;
        font-weight: bold;
    }

    #draft .draft-round-label {
        display: inline-block;
        width: 533px;
        color: lightgoldenrodyellow;
        background-color: darkslategray;
        text-align: center;
        font-size: 35px;
        font-weight: bold;
    }

    #draft .draft-left-panel {
        background-color: black;
        border-style: solid;
        border-color: white;
        border-width: 4px 4px;
    }

    #draft .draft-previous-header {
        color: white;
        background-color: darkblue;
        text-align: center;
    }

    #draft .draft-round-table {
        background-color: lightgoldenrodyellow;
        font-size: small;
        text-align: left;
        width: 45%;
        margin-left: 20px;
    }

        #draft .draft-round-table th {
            background-color: #ff6a00;
            color: white;
            font-size: small;
            text-align: center;
        }

    #draft .draft-current-table {
        background-color: aquamarine;
        font-size: 18px;
    }

    #draft .draft-current-selection {
        background-color: darkblue;
        font-size: 36px;
        color: white;
        font-weight: bold;
        border-top-width: 3px;
    }

    #draft .draft-current-controls {
        background-color: darkblue;
    }

    #draft .draft-timer {
        color: yellow;
        font-size: 48px;
    }

    #draft-tile-canvas {
        margin-right: 10px;
        margin-top: 10px;
        background-image: url("img/tryout-tile.png");
    }
</style>

<div id="draft" class="container main-body">
    <section id="main" class="content-container draft-main">
        <img ng-click="callDebug()" src="img/Draft_Title_{{draft.year}}.png" class="draft-header-image" />
        <div class="row">
            <section class="col-md-6">
                <img src="img/selection_draft_panel.jpg" class="draft-header-image" />
                <div class="draft-left-panel">
                    <img width="50" height="50" ng-show="draft.league.divisionIndex > 0" ng-click="draft.changeDivision(-1)" ng-src="img/button_left.png" style="background-color:black" />
                    <img width="50" height="50" ng-hide="draft.league.divisionIndex > 0" ng-src="img/button_black.png" style="background-color:black" />
                    <span height="50" class="draft-division-label">
                        {{draft.league.divisions[draft.league.divisionIndex].name}} Division
                    </span>
                    <img width="50" height="50" ng-show="draft.league.divisionIndex < draft.league.divisions.length-1" ng-click="draft.changeDivision(1)" ng-src="img/button_right.png" style="background-color:black" />
                    <span height="50" class="draft-round-label">Round {{draft.division.currentRound}}</span>
                </div>
                Current Round = {{draft.division.currentRound}} picks = {{draft.division.rounds[draft.division.currentRound].length}}
                <table class="table draft-current-table">
                    <tbody>
                        <tr ng-repeat-start="pick in draft.division.rounds[draft.division.currentRound]" ng-if="$index < draft.division.currentPick">
                            <td>{{pick.teamName}}</td>
                            <td ng-if="pick.bib" class="badge">{{pick.bib}}</td>
                            <td ng-if="!pick.bib">&nbsp;</td>
                            <td ng-hide="pick.pass || pick.finished">{{pick.playerName}}</td>
                            <td ng-show="pick.pass">=Pass=</td>
                            <td ng-show="pick.finished">*Finished*</td>
                        </tr>
                        <tr class="draft-current-selection" ng-if="$index == draft.division.currentPick">
                            <td>{{pick.teamName}}</td>
                            <td>&nbsp;</td>
                            <td class="draft-timer">{{draft.timerValue}}</td>
                        </tr>
                        <tr ng-if="draft.canManage && $index == draft.division.currentPick">
                            <td colspan="3" class="draft-current-controls">
                                <a role="button" ng-disabled="$index == draft.division.rounds[draft.division.currentRound].length - 1" ng-click="draft.skipPick()" class="btn btn-default">Skip</a>
                                <a role="button" ng-click="draft.passPick()" class="btn btn-default">Pass</a>
                                <a role="button" ng-click="draft.finishPicks()" class="btn btn-default">Finished</a>
                                <select ng-model="draft.tradeTo" ng-change="draft.tradePick()" class="btn btn-success" name="list-choices">
                                    <option value="-1" selected>Trade To:</option>
                                    <option ng-repeat="team in draft.division.teams" value="{{$index}}">{{team.name}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr ng-repeat-end ng-if="$index > draft.division.currentPick">
                            <td>{{pick.teamName}}</td>
                            <td class="badge"></td>
                            <td ng-hide="draft.division.rounds[draft.division.currentRound][$index].finished">=pending=</td>
                            <td ng-show="draft.division.rounds[draft.division.currentRound][$index].finished">*Finished*</td>
                        </tr>
                        <tr ng-if="draft.canManage">
                            <td colspan="4" style="background-color:darkgreen" height="50">
                                <select ng-hide="draft.divisionComplete()" ng-model="draft.addPick" ng-change="draft.addExtraPick()" class="btn btn-success">
                                    <option value="-1" selected>Add Pick For:</option>
                                    <option ng-repeat="team in draft.division.teams" value="{{$index}}">{{team.name}}</option>
                                </select>
                                <a role="button" ng-hide="draft.divisionComplete()" ng-click="draft.advanceRound()" ng-disabled="draft.division.currentPick < draft.division.rounds[draft.division.currentRound].length" class="btn btn-default">Advance to Next Round</a>
                                <button ng-if="draft.divisionComplete()" ng-click="draft.recordResults()" class="btn btn-success">Record Draft Results</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h1 class="draft-previous-header">Previous Rounds</h1>
                <table ng-repeat="round in draft.division.rounds" ng-if="$index < draft.division.currentRound - 1"class="table draft-round-table col-md-6">
                    <thead ng-class="{{($index % 2 == 0) ? 'row':'' }}">
                        <tr>
                            <th colspan="3"> Round {{$index+1}} Selections</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pick in draft.division.rounds[$index+1]">
                            <td>{{pick.teamName}}</td>
                            <td ng-if="pick.bib" class="badge">{{pick.bib}}</td>
                            <td ng-if="!pick.bib">&nbsp;</td>
                            <td ng-hide="pick.pass || pick.finished">{{pick.playerName}}</td>
                            <td ng-show="pick.pass">=Pass=</td>
                            <td ng-show="pick.finished">*Finished*</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section class="col-md-6" style="cursor: url('img/baseball.cur'), default;">
                <img src="img/available_draft_panel.jpg" style="max-width:100%;" />
                <tryout-tile ng-repeat="player in draft.draftPlayers" bib="{{player.bib}}" firstname="{{player.firstName}}" lastName="{{player.lastName}}" age="{{getPlayerAge(player.birthDate)}}"
                             ng-click="draft.selectPlayer(player)" ng-if="draft.passesFilter(player)">
                </tryout-tile>
                <hr />
                <div ng-if="draft.canManage" class="row">
                    <span style="color:yellow">(Pool ID - NOT Bib # !)</span>
                    <button ng-disabled="!draft.tryoutId" ng-click="draft.addToPool()" class="btn btn-success">Add Player</button>
                    <div class="col-md-3 form-group">
                        <input type="number" ng-model="draft.tryoutId" class="form-control age">
                    </div>
                    <button ng-disabled="!draft.tryoutId" ng-click="draft.removeFromPool()" class="btn btn-danger">Remove Player</button>
                </div>
                <div class="row"><canvas width="400" height="100"></canvas></div>
            </section>
        </div>
        <img ng-hide="master.fullScreen" ng-click="master.fullScreen = true" src="img/full-screen.png" />
        <img ng-show="master.fullScreen" ng-click="master.fullScreen = false" src="img/shrink-screen.png" />
        <img ng-hide="draft.timerRunning || !draft.canManage" ng-click="draft.startTimer()" src="img/play.png" />
        <img ng-show="draft.timerRunning && draft.canManage" ng-click="draft.pauseTimer()" src="img/pause.png" />
        <img ng-show="draft.undoImage && draft.canManage" ng-click="draft.undo($event)" src="img/undo.png" />
        <img ng-hide="draft.undoImage || !draft.canManage" ng-click="draft.undo($event)" src="img/undo2.png" />
    </section>
</div>

