<div class="container main-body">
    <section id="main" class="content-container">
        <h2 ng-click="callDebug()">
            Draft Players
            <small class="heading-subtext">
                Summer {{year}}&nbsp;
            </small>
            <img ng-show="loadingData" src="img/loading1.gif" title="Loading" />
        </h2>

        <form ng-if="true" class="form filter-form">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Filter Options</strong></div>
                <div class="panel-body" style="background-color:lightyellow">
                    <div class="row">
                        <div class="col-md-1 form-group">
                            <label class="control-label">Min Age</label>
                            <input type="number" ng-model="draft.filter.minAge" placeholder="19" name="minAge" autocomplete="off" class="form-control age">
                        </div>
                        <div class="col-md-1 form-group">
                            <label class="control-label">Max Age</label>
                            <input type="number" ng-model="draft.filter.maxAge" placeholder="99" name="maxAge" autocomplete="off" class="form-control age">
                        </div>
                        <div class="col-md-2 form-group">
                            <label class="control-label">Positions</label>
                            <select ng-model="draft.filter.positions" name="positions" multiple autocomplete="off" class="form-control show-tick">
                                <option value="P">P</option>
                                <option value="C">C</option>
                                <option value="1B">1B</option>
                                <option value="2B">2B</option>
                                <option value="3B">3B</option>
                                <option value="SS">SS</option>
                                <option value="LF">LF</option>
                                <option value="CF">CF</option>
                                <option value="RF">RF</option>
                            </select>
                        </div>
                        <div class="col-md-2 form-group">
                            <label class="control-label">Experience</label>
                            <select ng-model="draft.filter.experience" name="experience" multiple autocomplete="off" class="form-control show-tick">
                                <option value="ll">
                                    Little League
                                </option>
                                <option value="ms">
                                    Middle School
                                </option>
                                <option value="hs">
                                    High School
                                </option>
                                <option value="adult">
                                    Adult League
                                </option>
                                <option value="college">
                                    College
                                </option>
                                <option value="pro">
                                    Pro
                                </option>
                            </select>
                        </div>
                        <div class="col-md-1 form-group">
                            <label class="control-label">80%?</label>
                            <div>
                                <input ng-model="draft.filter.commitment" type="checkbox" name="commitment">
                            </div>
                        </div>
                        <div class="col-md-1 form-group">
                            <label class="control-label">Paid</label>
                            <div>
                                <input ng-model="draft.filter.paid" type="checkbox" name="paid">
                            </div>
                        </div>
                        <div class="col-md-1 form-group">
                            <label class="control-label">Undrafted</label>
                            <div>
                                <input ng-model="draft.filter.undrafted" type="checkbox" name="undrafted">
                            </div>
                        </div>
                        <div class="col-md-1 form-group">
                            <label class="control-label">Clear All</label>
                            <div>
                                <a role="button" class="btn btn-default" ng-click="draft.clearFilters()">Clear Filters</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="row">
            <div uib-pagination boundary-links="true" class="col-md-5" total-items="draft.filter.passCount" items-per-page="draft.itemsPerPage" ng-change="draft.pageChanged(draft.currentPage)" ng-model="draft.currentPage" max-size="maxPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
            </div>

            <!-- Button dropdown with keyboard nav -->
            <div class="col-md-5 pagination">
                <div class="btn-group" uib-dropdown dropdown-append-to-body>
                    <button id="per-page-btn" type="button" class="btn btn-primary" uib-dropdown-toggle>
                        Show Per Page <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="per-page-btn">
                        <li role="menuitem"><a role="button" ng-click="draft.setPerPage(20)">20</a></li>
                        <li role="menuitem"><a role="button" ng-click="draft.setPerPage(50)">50</a></li>
                        <li role="menuitem"><a role="button" ng-click="draft.setPerPage(100)">100</a></li>
                        <li class="divider"></li>
                        <li role="menuitem"><a role="button" ng-click="draft.setPerPage(-1)">Show All</a></li>
                    </ul>
                 </div>

                <!-- Query Box -->
                <span>&nbsp;&nbsp;<input ng-model="query" type="text" placeholder="Search for" autofocus></span>
             </div>

            <!-- Currently showing info -->
            <div class="pagination-info pagination pull-right">
                Showing
                <span class="label label-info">{{draft.currentPage * draft.itemsPerPage - draft.itemsPerPage + 1}}&mdash;{{draft.currentPage * draft.itemsPerPage}}</span>
                of <span class="label label-info">{{draft.filter.passCount}}</span>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th ng-click="draft.sortBy('Name')">Name<span class="fa fa-sort"></span></th>
                            <th ng-click="draft.sortBy('Age')">Age<span class="fa fa-sort"></span></th>
                            <th ng-click="draft.sortBy('Bib')">Bib<span class="fa fa-sort"></span></th>
                            <th>Positions</th>
                            <th>Experience</th>
                            <th>80%?</th>
                            <th>Paid</th>
                            <th ng-click="draft.sortBy('Registered')">Registered<span class="fa fa-sort"></span></th>
                            <th>Waiver</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-class="draftStatus(player.drafted)" ng-repeat="player in draft.draftPlayers | filter:query" ng-if="draft.passesFilter(player) && draft.inRange()">
                            <td>{{$index + 1}}</td>
                            <td><a href="#!/profile/draft/{{player.draftId}}">{{player.playerName}}</a></td>
                            <td>{{getPlayerAge(player.birthDate)}}</td>
                            <td>
                                <input ng-show="draft.editingBibs" size="4" type="text" ng-model="player.bib" />
                                <span ng-hide="draft.editingBibs" class="badge">{{player.bib}}</span>
                            </td>
                            <td>{{player.positions}}</td>
                            <td>{{formatExperience(player.experience)}}</td>
                            <td>
                                <span class="label" ng-class="isTrue(player.commitment) ? 'success fa fa-check' : 'danger fa fa-times'">{{isTrue(player.commitment) ? 'Yes' : 'No'}}</span>
                            </td>
                            <td>
                                <span class="label" ng-class="isTrue(player.paid) ? 'success fa fa-check' : 'danger fa fa-times'">{{isTrue(player.paid) ? 'Yes' : 'No'}}</span>
                            </td>
                            <td>{{draft.parseDate(player.registered) | date:'short'}}</td>
                            <td>
                                <span class="label" ng-class="isTrue(player.waiver) ? 'success fa fa-check' : 'danger fa fa-times'">{{isTrue(player.waiver) ? 'Yes' : 'No'}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer">
            <button autocomplete="off" ng-click="draft.download()" class="btn btn-info"><span class="glyphicon glyphicon-save"></span>Export as .csv File</button>
            <button ng-if="draft.canEditBibs" ng-hide="draft.editingBibs" ng-click="draft.editingBibs = true" class="btn btn-primary">Edit Bib #s</button>
            <button ng-show="draft.editingBibs" ng-click="draft.saveBibs()" class="btn btn-success">Save Bib #s</button>
            <button ng-show="draft.editingBibs" ng-click="draft.cancelBibEdit()" class="btn btn-danger">Cancel Edit</button>
            <div ng-show="draft.error" class="alert alert-danger">
                {{draft.error}}
                <a ng-show="draft.error" role="button" style="float:right" ng-click="draft.error = ''" class="glyphicon glyphicon-remove-sign"></a>
            </div>
        </div>
    </section>
</div>
