<div class="container main-body">
    <section id="main-media" class="content-container">

        <div ng-switch on="event.page">

            <div ng-switch-when="Loading">
                <h1>Loading Event Registration Information  <img src="img/loading1.gif" width="128" style="margin-left: 60px;" title="Loading" /></h1>
                <div class="row"><canvas width="200" height="400"></canvas></div>
            </div>

            <div ng-switch-when="Main">
                <p style="text-align:center">
                    <img src="img/clipart/safeco.jpg" align="middle" style="max-width:100%" />
                </p>
                <h1 ng-click="callDebug()">Register for {{currentYear}} PCBL Field Event</h1>

                <table class="table table-bordered">
                    <tr>
                        <th>&nbsp;</th>
                        <th colspan="2">
                            The exhibition-style games will be at 12:30pm and 3:45pm.  Once we have everyone registered and paid, we’ll divide the players into four teams with an eye towards age, competitive levels, keeping team mates together, etc.
                        </th>
                        <th class="tg-yw4l" style="width:10%">Amount</th>
                    </tr>

                    <tr>
                        <!-- Status is either Unregistered, Registered, or Paid -->
                        <td ng-if="event.status=='Unregistered'"><h4>Register</h4></td>
                        <td ng-if="event.status=='Registered'"><h4>Payment</h4></td>
                        <td ng-if="event.status=='Paid'"><h4>Status</h4></td>
                        <td ng-if="event.status=='Unregistered'" colspan="2">
                            <a disabled role="button" ng-click="event.Register(true)" class="btn btn-success a">
                                <span style="color:green" class="glyphicon glyphicon-dollar"></span>Register and Pay
                            </a>
                            Registration is now full and closed to additional registrants.
                            <!--a role="button" ng-click="event.Register(false)" class="btn btn-info a">Register without Payment</a> -->
                        </td>
                        <td ng-if="event.status=='Registered'" colspan="2">
                            <a role="button" ng-hide="event.showPay" ng-click="event.Pay(true)" class="btn btn-success a">
                                <span style="color:green" class="glyphicon glyphicon-dollar"></span>Pay
                            </a>
                            <a role="button" ng-show="event.showPay" ng-click="event.showPay = false" class="btn btn-danger a">
                                <span class="glyphicon glyphicon-remove-sign"></span>Cancel
                            </a>
                            <span><strong>You have registered for this event. Payment is due.</strong></span>
                        </td>
                        <td ng-if="event.status=='Paid'" colspan="2">
                            <span style="color:green"><strong>You have successfully registered and paid for this event</strong></span>
                        </td>
                        <td ng-show="false" style="width:30%">You can pay later or mail a check; contact <a href="mailto:info@pcbl.org">info@pcbl.org</a> for the mailing address.</td>
                        <td><h3>{{.01 * event.amountDue | currency}}</h3></td>
                    </tr>
                </table>
            </div>

            <div ng-switch-when="Error">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="well row">
                            <h2>Event Registration Failure</h2>
                            <p>
                                There was a problem accessing event registration information on the server.
                                <br />Please contact <a href="mailto:info@pcbl.org">info@pcbl.org</a>. and report the following error:
                                <br />{{event.error}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Credit card payment is handled by directive -->
        <credit-directive ng-if="event.showPay" />
    </section>
</div>