<div class="container main-body">
    <section id="main" class="content-container">
        <section class="field-details">
            <h2>
                <span ng-hide="field.canEdit">{{fieldInfo.name}}</span>
                <input ng-show="field.canEdit" type="text" maxlength="100" ng-model="fieldInfo.name" placeholder="Full Field Name" required/>
                <small class="heading-subtext">
                    <span ng-hide="field.canEdit">{{fieldInfo.shortName}}&nbsp;</span>
                    <input ng-show="field.canEdit" type="text" maxlength="20" ng-model="fieldInfo.shortName" placeholder="Field Short Name" required/>
                </small>
                <img ng-show="loadingData" src="img/loading1.gif" title="Loading" />
                <div class="text-right">
                    <a role="button" ng-show="isAdmin()" ng-click="addField()" class="btn btn-success">Add New Field</a>
                </div>
            </h2>
            <div class="panel panel-default panel-map">
                <div class="panel-heading">
                    <a ng-hide="field.canEdit" href="{{fieldInfo.mapLink}}" target="_blank" title="View map" class="nav-icon-with-text">
                        <span class="fa fa-map-marker"></span>{{fieldInfo.address}}</a>
                    <input ng-show="field.canEdit" size="50" type="text" ng-model="fieldInfo.address" placeholder="Field Address" />
                </div>
                <div class="panel-body">
                    <!-- <div><small>Map display broken: working on fix. Clicking below will bring up map</small></div> -->
                    <a href="{{fieldInfo.mapLink}}" target="_blank" title="View map on Google Maps" class="map-image-container">
                        <img alt="Map of {{fieldInfo.address}}" ng-src="{{fieldInfo.staticMap}}">
                    </a>
                    <a href="#!/afterGame/{{currentFieldId}}" class="ad">
                        <img src="img/AfterGame.png" alt="After the Game" class="image">
                    </a>
                </div>
                <div align="center" ng-show="field.canEdit">
                    <label>Lat: </label>
                    <input type="text" maxlength="11" ng-model="fieldInfo.lat" />
                    <label>Lon: </label>
                    <input type="text" maxlength="12" ng-model="fieldInfo.lon" />
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Details</div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt ng-if="fieldInfo.infield || field.canEdit">Infield surface</dt>
                        <dd>
                            <span ng-hide="field.canEdit" ng-if="fieldInfo.infield">{{fieldInfo.infield}}</span>
                            <select ng-show="field.canEdit" type="text" ng-model="fieldInfo.infield" required>
                                <option value="Unknown">Unknown</option>
                                <option value="Turf">Turf</option>
                                <option value="Grass">Grass</option>
                                <option value="Dirt">Dirt</option>
                            </select>
                        </dd>

                        <dt ng-if="fieldInfo.outfield || field.canEdit">Outfield surface</dt>
                        <dd>
                            <span ng-hide="field.canEdit" ng-if="fieldInfo.outfield">{{fieldInfo.outfield}}</span>
                            <select ng-show="field.canEdit" type="text" ng-model="fieldInfo.outfield" required>
                                <option value="Unknown">Unknown</option>
                                <option value="Turf">Turf</option>
                                <option value="Grass">Grass</option>
                            </select>
                        </dd>

                        <dt ng-if="fieldInfo.mound || field.canEdit">Mound surface</dt>
                        <dd>
                            <span ng-hide="field.canEdit" ng-if="fieldInfo.mound">{{fieldInfo.mound}}</span>
                            <select ng-show="field.canEdit" type="text" ng-model="fieldInfo.mound" required>
                                <option value="Unknown">Unknown</option>
                                <option value="Turf">Turf</option>
                                <option value="Dirt">Dirt</option>
                            </select>
                        </dd>

                        <dt ng-if="fieldInfo.spikes || field.canEdit">Metal cleats</dt>
                        <dd>
                            <span ng-hide="field.canEdit" ng-if="fieldInfo.spikes">{{fieldInfo.spikes}}</span>
                            <select ng-show="field.canEdit" type="text" ng-model="fieldInfo.spikes" required>
                                <option value="Unknown">Unknown</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                                <option value="mound_only">mound_only</option>
                            </select>
                        </dd>

                        <dt ng-if="fieldInfo.hasLights || field.canEdit">Lights</dt>
                        <dd>
                            <span ng-if="fieldInfo.hasLights" ng-hide="field.canEdit">{{hasLights(fieldInfo.hasLights)}}</span>
                            <select ng-show="field.canEdit" type="text" ng-model="fieldInfo.hasLights">
                                <option value="NULL">Unknown</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </dd>

                        <dt ng-if="(fieldInfo.lightsOutTime || fieldInfo.hasLights == '1')">Lights turn off at</dt>
                        <dd>
                            <span ng-hide="field.canEdit || fieldInfo.hasLights !='1'">{{fieldInfo.lightsOutTime | date:"hh:mm"}}</span>
                            <div uib-timepicker ng-show="field.canEdit && fieldInfo.hasLights == '1'" ng-model="fieldInfo.lightsOutTime" minute-step="15"></div>
                        </dd>

                        <dt ng-if="fieldInfo.parking || field.canEdit">Parking</dt>
                        <dd>
                            <span ng-hide="field.canEdit">{{fieldInfo.parking}}</span>
                            <input ng-show="field.canEdit" type="text" maxlength="300" ng-model="fieldInfo.parking" />
                        </dd>
                        <dt ng-if="fieldInfo.notes || field.canEdit">Other Info</dt>
                        <dd ng-if="fieldInfo.notes && !field.canEdit">
                            <ul>
                                <li ng-repeat="note in fieldInfo.notesList">{{note}}</li>
                            </ul>
                        </dd>
                        <dd ng-if="field.canEdit">
                            <textarea rows="5" name="field.notes" cols="40" ng-model="fieldInfo.notes" placeholder="Enter any additional notes. This info is viewable by the general public."></textarea>
                        </dd>
                        <dt ng-if="isGM() && fieldInfo.confidential || field.canEdit">GM Notes</dt>
                        <dd>
                            <span ng-hide="!isGM() || field.canEdit">{{fieldInfo.confidential}}</span>
                            <input ng-show="field.canEdit" type="text" maxlength="300" ng-model="fieldInfo.confidential" placeholder="This info is viewable only to GMs and Admins."/>
                        </dd>
                        
                        <dt ng-if="isAdmin() && fieldInfo.fieldProvider || field.canEdit">Field Provider</dt>
                        <dd>
                            <span ng-hide="!isAdmin() || field.canEdit">{{fieldInfo.fieldProvider}}</span>
                            <select ng-show="field.canEdit" ng-model="fieldInfo.fieldProviderId">
                                <option value=”0″>[Select]</option>
                                <option ng-repeat="provider in fieldProviders" value={{provider.id}}>{{provider.name}}</option>
                            </select>
                            
                        </dd>
                        <dt ng-if="isAdmin() && fieldInfo.fieldProviderNotes" ng-hide="field.canEdit">Field Provider Notes</dt>
                        <dd>
                            <span ng-hide="!isAdmin() || field.canEdit">{{fieldInfo.fieldProviderNotes}}</span>
                        </dd>
                        <dt ng-if="isAdmin() && fieldInfo.phone" ng-hide="field.canEdit">Field Provider Phone</dt>
                        <dd>
                            <span ng-hide="!isAdmin() || field.canEdit">{{fieldInfo.phone}}</span>
                        </dd>
                        <dt ng-if="isAdmin() && fieldInfo.dayGameCost || field.canEdit">Day Game Cost</dt>
                        <dd>
                            <span ng-hide="!isAdmin() || field.canEdit">{{fieldInfo.dayGameCost}}</span>
                            <input ng-show="field.canEdit" type="text" maxlength="10" ng-model="fieldInfo.dayGameCost" ng-pattern="integerval"/>
                        </dd>
                        <dt ng-if="isAdmin() && fieldInfo.nightGameCost || field.canEdit">Night Game Cost</dt>
                        <dd>
                            <span ng-hide="!isAdmin() || field.canEdit">{{fieldInfo.nightGameCost}}</span>
                            <input ng-show="field.canEdit" type="text" maxlength="10" ng-model="fieldInfo.nightGameCost"/>
                        </dd>
                        <dt ng-if="isAdmin() && fieldInfo.returnWindow || field.canEdit">Return Window</dt>
                        <dd>
                            <span ng-hide="!isAdmin() || field.canEdit">
                                {{fieldInfo.returnWindow}}
                            </span>
                            <span ng-hide="!isAdmin()">
                                <span ng-if="fieldInfo.returnWindowType == 0 && !field.canEdit">Calendar Days</span>
                                <span ng-if="fieldInfo.returnWindowType == 1 && !field.canEdit">Business Days</span>
                            </span>
                            <input ng-show="field.canEdit" type="text" maxlength="10" ng-model="fieldInfo.returnWindow" />
                            <select ng-show="field.canEdit" ng-model="fieldInfo.returnWindowType">
                                <option value="0">Calendar Days</option>
                                <option value="1">Business Days</option>
                            </select>
                        </dd>

                    </dl>
                    <h3 ng-if="isAdmin()">
                        <a role="button" ng-hide="field.canEdit" ng-click="editField()" class="btn btn-primary">Edit</a>
                        <a role="button" ng-show="field.canEdit" ng-click="saveField()" class="btn btn-success" ng-disabled="!fieldInfo.name || !fieldInfo.shortName || !fieldInfo.infield || !fieldInfo.outfield || !fieldInfo.mound || !fieldInfo.spikes">Save Changes</a>
                        <a role="button" ng-show="field.canEdit" ng-click="cancelEdit()" class="btn btn-danger">Cancel Edit</a>
                    </h3>
                    <div ng-show="field.error" class="alert alert-danger">
                        {{field.error}}
                        <a ng-show="field.error" role="button" style="float:right" ng-click="field.error = ''" class="glyphicon glyphicon-remove-sign"></a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h3>Upcoming Games</h3>
                    <div ng-hide="upcomingGames && upcomingGames.length > 0" class="alert alert-warning">
                        <p>
                            No future games currently scheduled at this field
                        </p>
                    </div>
                    <div ng-show="upcomingGames && upcomingGames.length > 0" class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Participants</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="game in upcomingGames">
                                    <td>{{game.date | date:'EEE MMM d, y h:mm a'}}</td>
                                    <td>
                                        <a href="#!/game/{{game.gameId}}">{{game.awayTeam}} @ {{game.homeTeam}}</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>Recent Games</h3>
                    <div ng-hide="recentGames && recentGames.length > 0" class="alert alert-warning">
                        <p>
                            No recent games at this field
                        </p>
                    </div>
                    <div ng-show="recentGames && recentGames.length > 0" class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Result</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="game in recentGames">
                                    <td>{{game.date | date:'EEE MMM d, y h:mm a'}}</td>
                                    <td>
                                        <a href="#!/game/{{game.gameId}}">{{game.result}}</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </section>
    </section>
</div>