<footer class="site-footer">
    <div class="container">
        <div class="row hidden-xs">
            <div class="col-md-2 col-sm-4">
                <img src="img/pssbl-bottom-logo-2018.png" title="Puget Sound Senior Baseball League - Amateur Adult Baseball in Seattle" />
            </div>
            <div class="col-md-3 col-sm-4">
                <ul>
                    <li><strong>The League</strong></li>
                    <li><a href="#!/articles/PlayerRights">Player Rights</a></li>
                    <li><a href="#!/articles/RefundPolicy">Refund Policy</a></li>
                    <li><a href="#!/articles/TaxiPolicy">Taxi Player Policy</a></li>
                    <li><a href="#!/articles/GMDuties">GM Duties</a></li>
                    <li><a href="#!/articles/DocumentArchives">Document Archives</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-4">
                <ul>
                    <li><strong>PSSBL Website</strong></li>
                    <li><a href="#!/articles/website-status">Website Status</a></li>
                    <li><a href="#!/articles/ReportAProblem">Report a Problem</a></li>
                    <li><a href="#!/articles/HowYouCanHelp">How You Can Help</a></li>
                    <li><a href="#!/articles/PrivacyPolicy">Privacy Policy</a></li>
                    <li><a href="#!/articles/ServiceTerms">Terms of Service</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-4">
                <ul>
                    <li><strong>Outside Links</strong></li>
                    <li><a href="https://www.facebook.com/pugetsoundseniorbaseballleague/" target="_blank">PSSBL Facebook Page</a></li>
                    <li><a href="https://twitter.com/PSSBLBaseball?ref_src=twsrc%5Etfw" target="_blank">PSSBL Twitter Feed</a></li>
                    <li><a href="https://instagram.com/pssblbaseball" target="_blank">PSSBL Instagram</a></li>
                    <li><a href="http://www.msblnational.com/" target="_blank">MSBL National</a></li>                    
                    <li><a href="http://mlb.mlb.com/mlb/official_info/official_rules/official_rules.jsp" target="_blank">Rules of Baseball</a></li>
                </ul>
            </div>
            <div class="col-md-1 hidden-sm">
                <a href="http://msblnational.com">
                    <img src="img/msbl-monochrome.png" title="Men's Senior Baseball League" />
                </a>
            </div>
        </div>
        <p class="copyright-notice">&#0169; Puget Sound Senior Baseball League</p>
    </div>
</footer>