<div class="container main-body">
    <section id="main" class="content-container">

        <div ng-switch on="freeAgent.page">

            <!-- Main freeAgent registration page  -->
            <div ng-switch-when="EnterFreeAgent">
                <h1 ng-click="callDebug()">Register for the {{currentYear}} PCBL Waiver Wire&nbsp;<img ng-show="freeAgent.loadingData" src="img/loading1.gif" title="Loading" /></h1>
                <!--
                    Pressed for time here, but eventually need to move all styling to .css file
                    and reformat for responsive display.
                -->

                <style type="text/css">
                    .tg {
                        border-collapse: collapse;
                        border-spacing: 0;
                        border-color: #aaa;
                    }

                        .tg td {
                            padding: 10px 5px;
                            border-style: solid;
                            border-width: 1px;
                            overflow: hidden;
                            word-break: normal;
                            border-color: #aaa;
                            color: #333;
                            background-color: #fff;
                        }

                        .tg th {
                            padding: 10px 5px;
                            border-style: solid;
                            border-width: 1px;
                            overflow: hidden;
                            word-break: normal;
                            border-color: #aaa;
                            color: #fff;
                            background-color: #3082f3;
                        }

                        .tg .tg-yw4l {
                            vertical-align: top;
                        }

                        .tg .tg-formheader {
                            vertical-align: top;
                            text-align: center;
                        }

                        .tg .tg-oskr {
                            background-color: #ffffff;
                            vertical-align: top;
                        }

                        .tg .tg-kjho {
                            background-color: #FCFBE3;
                            vertical-align: top;
                            font: bold;
                        }

                        .tg .tg-uwer {
                            background-color: #99fff3;
                            vertical-align: top;
                        }

                        .tg .tg-account {
                            background-color: #cfff99;
                            vertical-align: top;
                            width: 50%;
                        }

                        .tg .tg-money {
                            text-align: right;
                        }
                </style>

                <table class="tg">
                    <tr>
                        <td class="tg-kjho">
                            <h2> WAIVER WIRE DESCRIPTION:</h2>
                            <b>The Waiver Wire is intended for players who currently are NOT rostered on a team.
                            If you are currently on a Team in the PCBL, do not proceed.</b><br>
                            <b>Waiver Wire</b> - While all teams already have rosters of 15 or more players by the conclusion of the draft, situations often arise during the season which cause teams to need additional players. 
                            The league player agent maintains a list of players who wish to be considered as late adds and distributes this list to all teams periodically throughout the season.  
                            Every effort will be made to help players find a team, but understand that it will be on a best effort basis and depends largely on the needs of the teams.
                            There is no cost to be on the Waiver Wire list. 
                            If you end up placed on a team, you will pay a prorated portion of the player dues based on the number of games remaining in the season (you must be fully registered and paid before you appear in any game). 
                            In order to be eligible for the playoffs, you would need to be on the roster of a team no later than midnight on July 15th.
                        </td>
                    </tr>
                    <tr>
                        <th class="tg-formheader">Waiver Wire Registration Form</th>
                    </tr>
                    <tr>
                        <td class="tg-account">
                            <h3>Waiver Wire Player Information</h3>
                            <div class="row">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4 class="col-md-2 control-label"><strong>Position Preferences:</strong></h4>
                            <div class="form-group">
                                <label for="freeAgent-positions">Positions:</label>
                                <label><input ng-model="freeAgent.form.p" type="checkbox" name="P">P</label>
                                <label><input ng-model="freeAgent.form.c" type="checkbox" name="C">C</label>
                                <label><input ng-model="freeAgent.form.b1" type="checkbox" name="1B">1B</label>
                                <label><input ng-model="freeAgent.form.b2" type="checkbox" name="2B">2B</label>
                                <label><input ng-model="freeAgent.form.ss" type="checkbox" name="SS">SS</label>
                                <label><input ng-model="freeAgent.form.b3" type="checkbox" name="3B">3B</label>
                                <label><input ng-model="freeAgent.form.lf" type="checkbox" name="LF">LF</label>
                                <label><input ng-model="freeAgent.form.cf" type="checkbox" name="CF">CF</label>
                                <label><input ng-model="freeAgent.form.rf" type="checkbox" name="RF">RF</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="freeAgent-experience">Experience:</label>
                                <select name=freeAgent-experience ng-model="freeAgent.form.experience">
                                    <option value="none" selected>-none-</option>
                                    <option value="ll">Little League</option>
                                    <option value="ms">Middle School</option>
                                    <option value="hs">High School</option>
                                    <option value="adult">Adult League</option>
                                    <option value="college">College</option>
                                    <option value="pro">Professional</option>
                                </select>
                            </div>
                            <!-- <div class="form-group col-md-4">
                                <label for="freeAgent-availability" class="control-label">Availability:</label>
                                <textarea rows="3" name="freeAgent-availability" cols="40" ng-model="freeAgent.form.availability" placeholder="describe your availablility schedule"></textarea>
                            </div> -->
                            <!-- <div class="form-group col-md-12 col-md-offset-2">
                                <label><input ng-model="freeAgent.form.available80" type="checkbox" name="freeAgent-80pct">80% Availablility?</label>
                            </div> -->
                            <div class="form-group">
                                <label for="freeAgent-bat">Bats:</label>
                                <select name=freeAgent-bat ng-model="freeAgent.form.bat">
                                    <option value="R" selected>R</option>
                                    <option value="L">L</option>
                                    <option value="S">S</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="freeAgent-throw">Throws:</label>
                                <select name=freeAgent-throw ng-model="freeAgent.form.throw">
                                    <option value="R" selected>R</option>
                                    <option value="L">L</option>
                                    <option value="S">S</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="freeAgent-notes" class="control-label">Notes:</label>
                                <textarea rows="3" name="freeAgent-notes" cols="40" ng-model="freeAgent.form.notes" placeholder="REQUIRED. This field allows you to tell interested teams a little about yourself, your baseball background and what you could bring to their team.  We find that including this additional information dramatically increases the chances of finding a team." required="required"></textarea>
                            </div>
                            <div class="form-group">
                                <h3> PROFILE PICTURE INSTRUCTIONS:</h3>
                                <strong>Please provide and up-to-date picture of yourself for your profile. To do so, email a < 1MB image to <a href="mailto:info@pcbl.org">info@pcbl.org</a>
                                with [Waiver Wire Profile Picture] in the subject line and include your full name in the body.</strong>
                            </div>
                        </td>
                    </tr>
                    <!-- <tr>
                        <td ng-hide="freeAgent.waiver" class="tg-yw4l" colspan="2">
                            <a role="button" ng-click="showWaiver()" class="btn btn-primary a">View and Sign the Waiver</a>
                            <span style="color:red; text-align:right;">The waiver must be signed before you can register.</span>
                        </td>
                        <td ng-show="freeAgent.waiver" class="tg-oskr" colspan="2">
                            <h4>
                                <span style="color:green" class="glyphicon glyphicon-ok"></span>
                                &nbsp;<em><b>Waiver Signed</b></em>
                            </h4>
                        </td>
                    </tr> -->

                    <tr>
                        <td class="tg-account">
                            <a role="button" ng-click="submitFreeAgent()" ng-disabled="!freeAgent.form.notes" class="btn btn-success a col-md-offset-5">Register for the Waiver Wire</a>
                        </td>
                    </tr>
                </table>
                <div class="row"><canvas width="200" height="150"></canvas></div>
            </div>


            <!-- Invalid token parameters passed in -->
            <div ng-switch-when="SignedUp">
                <div class="col-md-8 col-md-offset-2 well">
                    <h2 ngclick="callDebug()">freeAgent Registration Successful</h2>
                    <p>
                        You have successfully registered for the {{currentYear}} PCBL Waiver Wire Pool.
                        The Player Agent will review you application and Approve or Reject.
                    </p>
                    <p>
                        <bold> DESCRIPTION:</bold>
                        Waiver Wire - While all teams already have rosters of 15 or more players by the conclusion of the draft, situations often arise during the season which cause teams to need additional players. 
                        The league player agent maintains a list of players who wish to be considered as late adds and distributes this list to all teams periodically throughout the season.  
                        Every effort will be made to help players find a team, but understand that it will be on a best effort basis and depends largely on the needs of the teams.
                        There is no cost to be on the Free Agent list. 
                        If you end up placed on a team, you will pay a prorated portion of the player dues based on the number of games remaining in the season (you must be fully registered and paid before you appear in any game). 
                        In order to be eligible for the playoffs, you would need to be on the roster of a team no later than midnight on July 15th.
                    </p>

                    <p>
                        If you have additional questions about the Waiver Wire process, contact <a href="mailto:info@pcbl.org">info@pcbl.org</a>. 
                        If you have any technical issues with the signup process, contact <a href="mailto:info@pcbl.org">info@pcbl.org</a> <br />
                    </p>
                </div>
                <div class="row"><canvas width="200" height="400"></canvas></div>
            </div>

            <!-- Signup Fails -->
            <div ng-switch-when="SignupFailed">
                <div class="col-md-8 col-md-offset-2 well">
                    <h2 ngclick="callDebug()">Waiver Wire Registration Unsuccessful</h2>
                    <p>
                        The system was unable to register you for the {{currentYear}} Waiver Wire Pool. Please contact <a href="mailto:info@pcbl.org">info@pcbl.org</a> and report the
                        following error: "{{freeAgent.result.error}}"
                    </p>
                </div>
                <div class="row"><canvas width="200" height="400"></canvas></div>
            </div>

        </div>
    </section>
</div>

