<div class="container main-body">
    <section id="main" class="content-container">
        <h2 ng-click="callDebug()">
            Waiver Wire Players
            <small class="heading-subtext">
                Summer {{year}}&nbsp;
            </small>
            <img ng-show="loadingData" src="img/loading1.gif" title="Loading" />
        </h2>
        <div class="panel panel-default">
            <div class="table-responsive" ng-show="freeAgent.length">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name<span class="fa fa-sort"></span></th>
                            <th>Age<span class="fa fa-sort"></span></th>
                            <th>Positions</th>
                            <th>Bats</th>
                            <th>Throws</th>
                            <th>Experience</th>
                            <th>Joined</th>
                            <th>Deadline</th>
                            <th ng-if="isAdmin() || isDivisionCommissioner()">Claims</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="player in freeAgent">
                            <td><a href="#!/profile/freeAgent/{{player.freeAgentId}}">{{player.firstName}}
                                    {{player.lastName}}</a></td>
                            <td>{{getPlayerAge(player.birthDate)}}</td>
                            <td>
                                <span ng-if="player.p==1">P</span>
                                <span ng-if="player.c==1">C</span>
                                <span ng-if="player.b1==1">1B</span>
                                <span ng-if="player.b2==1">2B</span>
                                <span ng-if="player.ss==1">SS</span>
                                <span ng-if="player.b3==1">3B</span>
                                <span ng-if="player.lf==1">LF</span>
                                <span ng-if="player.cf==1">CF</span>
                                <span ng-if="player.rf==1">RF</span>
                            </td>
                            <td>{{player.bat}}</td>
                            <td>{{player.throw}}</td>
                            <td>{{formatExperience(player.experience)}}</td>
                            <td>{{player.approved}}</td>
                            <td>{{formatDeadline(player.approved)}}</td>
                            <td ng-if="isDivisionCommissioner() || isAdmin()">{{player.claims}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p ng-hide="freeAgent.length">There are no registered Free Agents.</p>
        </div>
        <div ng-if="isAdmin()">
            <h2>Player Agent Admin</h2>
            <h3>New Waiver Wire Applications</h3>
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Waiver Wire ID</th>
                                <th>Name<span class="fa fa-sort"></span></th>
                                <th>Age</th>
                                <th>Status</th>
                                <th>Claims</th>
                                <!--<th>UserId</th>-->
                                <th>Entered</th>
                                <th>Player Agent Notes</th>
                                <th>Target Division</th>
                                <th>Experience</th>
                                <!-- <th>Notes</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="player in freeAgentApplication.freeAgent.concat(freeAgent).concat(freeAgentClaimed.freeAgent)">
                                <td>{{player.freeAgentId}}</td>
                                <td><a href="#!/profile/freeAgent/{{player.freeAgentId}}">{{player.firstName}}
                                        {{player.lastName}}</a></td>
                                <td>{{getPlayerAge(player.birthDate)}}</td>
                                <td>
                                    <span ng-if="player.status==0" style="color:red">Pending</span>
                                    <span ng-if="player.status==1" style="color:rgb(255, 217, 0)">Available</span>
                                    <span ng-if="player.status==2" style="color:green">Awarded</span>
                                    <span ng-if="player.status==3" style="color:orange">Rejected</span>
                                </td>
                                <td>{{player.claims}}</td>
                                <!--<td>{{player.playerId}}</td>-->
                                <td>{{player.created}}</td>
                                <td>{{player.player_agent_notes}}</td>
                                <td>{{player.target_divisions}}</td>
                                <td>{{player.experience}}</td>
                                <!-- <td>{{player.notes}}</td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>