<div class="container main-body">
    <section id="main" class="content-container">
        <section class="game-details">
            <div ng-hide="futureGame">
                <div class="row">
                    <div class="col-md-12 game-aside">
                        <h2>
                            {{scoreSummary}}&nbsp;
                            <img ng-show="loadingData" src="img/loading1.gif" title="Loading" />
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="panel panel-default">
                            <div class="table-responsive">
                                <table class="table table-condensed inning-summary">
                                    <thead>
                                        <tr>
                                            <th class="team-name"></th>
                                            <th ng-repeat="runs in lineScore.awayRuns track by $index">{{$index + 1}}</th>
                                            <th>R</th>
                                            <th>H</th>
                                            <th>E</th>
                                        </tr>
                                    </thead>
                                    <tr>
                                        <td class="team-name"><a href="#!/team/{{gameInfo.awayId}}/{{gameInfo.awayName}}/{{gameInfo.awayDivision}}/{{gameInfo.year}}">{{gameInfo.awayName}}</a></td>
                                        <td ng-repeat="runs in lineScore.awayRuns track by $index">{{lineScore.awayRuns[$index]}}</td>
                                        <td class="box-runs">{{lineScore.awayRunTotal}}</td>
                                        <td>{{lineScore.awayHitTotal}}</td>
                                        <td>{{lineScore.awayErrorTotal}}</td>
                                    </tr>
                                    <tr>
                                        <td class="team-name"><a href="#!/team/{{gameInfo.homeId}}/{{gameInfo.homeName}}/{{gameInfo.homeDivision}}/{{gameInfo.year}}">{{gameInfo.homeName}}</a></td>
                                        <td ng-repeat="runs in lineScore.awayRuns track by $index">{{lineScore.homeRuns[$index]}}</td>
                                        <td class="box-runs">{{lineScore.homeRunTotal}}</td>
                                        <td>{{lineScore.homeHitTotal}}</td>
                                        <td>{{lineScore.homeErrorTotal}}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="panel-footer text-center">
                                <ul class="list-unstyled list-inline game-controls">
                                    <li ng-show="canEditHome || canEditAway"><a href="#!/scorebook/{{gameInfo.gameId}}/{{defaultTeamId}}/Score" class="btn btn-xs btn-primary">Edit Score</a></li>
                                    <li ng-show="canEditHome || canEditAway"><a href="#!/scorebook/{{gameInfo.gameId}}/{{defaultTeamId}}/Umpire" class="btn btn-xs btn-default">Umpire Feedback</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <ul class="list-unstyled game-metadata">
                            <li><strong><a href="#!/fields/{{gameInfo.fieldId}}">{{gameInfo.fieldName}}</a></strong></li>
                            <li><strong>{{gameInfo.dateTime | date:'EEE MMM d yyyy, h:mm a'}}</strong></li>
                            <li><strong>W:</strong><a href="#!/player/{{awayPitchingSummary.wpId}}{{homePitchingSummary.wpId}}">{{awayPitchingSummary.wp}}{{homePitchingSummary.wp}}</a></li>
                            <li><strong>L:</strong><a href="#!/player/{{awayPitchingSummary.lpId}}{{homePitchingSummary.lpId}}">{{awayPitchingSummary.lp}}{{homePitchingSummary.lp}}</a></li>
                            <li ng-show="homePitchingSummary.sp || awayPitchingSummary.sp">
                                <strong>SV:</strong><a href="#!/player/{{awayPitchingSummary.spId}}{{homePitchingSummary.spId}}">{{awayPitchingSummary.sp}}{{homePitchingSummary.sp}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <h3 ng-click="callDebug()">Batting</h3>
                <div class="row box-score-stats">
                    <div ng-hide='awayBattingStats && awayBattingStats.length > 0' class="col-md-6">
                        <div class="alert alert-warning">The {{gameInfo.awayName}} have not entered batting stats yet</div>
                        <div ng-show="canEditAway" class="edit-stats-controls">
                            <a href="#!/scorebook/{{gameInfo.gameId}}/{{gameInfo.awayId}}/Lineup" class="btn btn-block btn-primary">Enter Batting Stats</a>
                        </div>
                    </div>
                    <div ng-show="awayBattingStats && awayBattingStats.length > 0" class="col-md-6">
                        <div class="table-responsive">
                            <table class="table table-condensed table-hover stats-table">
                                <thead>
                                    <tr>
                                        <th>{{gameInfo.awayName}}</th>
                                        <th class="number ">AB</th>
                                        <th class="number ">R</th>
                                        <th class="number ">H</th>
                                        <th class="number ">RBI</th>
                                        <th class="number ">BB</th>
                                        <th class="number ">SO</th>
                                        <th class="number ">AVG</th>
                                        <th class="number ">OBP</th>
                                        <th class="number ">SLG</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="battingLine in awayBoxScore.battingLines">
                                        <td ng-class="isSubstitute(battingLine.battingOrder)"><a href="#!/player/{{battingLine.playerId}}">{{battingLine.firstName}} {{battingLine.lastName}}</a></td>
                                        <td class="number ">{{battingLine.ab}}</td>
                                        <td class="number ">{{battingLine.r}}</td>
                                        <td class="number ">{{battingLine.h}}</td>
                                        <td class="number ">{{battingLine.rbi}}</td>
                                        <td class="number ">{{battingLine.bb}}</td>
                                        <td class="number ">{{battingLine.so}}</td>
                                        <td class="number ">{{battingLine.avg}}</td>
                                        <td class="number ">{{battingLine.obp}}</td>
                                        <td class="number ">{{battingLine.slg}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr class="stats-totals-row">
                                        <th>Totals</th>
                                        <td class="number ">{{awayBoxScore.gameTotals.ab}}</td>
                                        <td class="number ">{{awayBoxScore.gameTotals.r}}</td>
                                        <td class="number ">{{awayBoxScore.gameTotals.h}}</td>
                                        <td class="number ">{{awayBoxScore.gameTotals.rbi}}</td>
                                        <td class="number ">{{awayBoxScore.gameTotals.bb}}</td>
                                        <td class="number ">{{awayBoxScore.gameTotals.so}}</td>
                                        <td class="number ">{{awayBoxScore.gameTotals.avg}}</td>
                                        <td class="number ">{{awayBoxScore.gameTotals.obp}}</td>
                                        <td class="number ">{{awayBoxScore.gameTotals.slg}}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div ng-show="canEditAway" class="edit-stats-controls">
                            <a href="#!/scorebook/{{gameInfo.gameId}}/{{gameInfo.awayId}}/Stats" class="btn btn-link">
                                Edit Batting Stats
                            </a>
                        </div>
                    </div>
                    <div ng-hide='homeBattingStats && homeBattingStats.length > 0' class="col-md-6">
                        <div class="alert alert-warning">The {{gameInfo.homeName}} have not entered batting stats yet</div>
                        <div ng-show="canEditHome" class="edit-stats-controls">
                            <a href="#!/scorebook/{{gameInfo.gameId}}/{{gameInfo.homeId}}/Lineup" class="btn btn-block btn-primary">Enter Batting Stats</a>
                        </div>
                    </div>
                    <div ng-show="homeBattingStats && homeBattingStats.length > 0" class="col-md-6">
                        <div class="table-responsive">
                            <table class="table table-condensed table-hover stats-table">
                                <thead>
                                    <tr>
                                        <th>{{gameInfo.homeName}}</th>
                                        <th class="number ">AB</th>
                                        <th class="number ">R</th>
                                        <th class="number ">H</th>
                                        <th class="number ">RBI</th>
                                        <th class="number ">BB</th>
                                        <th class="number ">SO</th>
                                        <th class="number ">AVG</th>
                                        <th class="number ">OBP</th>
                                        <th class="number ">SLG</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="battingLine in homeBoxScore.battingLines">
                                        <td ng-class="isSubstitute(battingLine.battingOrder)"><a href="#!/player/{{battingLine.playerId}}">{{battingLine.firstName}} {{battingLine.lastName}}</a></td>
                                        <td class="number ">{{battingLine.ab}}</td>
                                        <td class="number ">{{battingLine.r}}</td>
                                        <td class="number ">{{battingLine.h}}</td>
                                        <td class="number ">{{battingLine.rbi}}</td>
                                        <td class="number ">{{battingLine.bb}}</td>
                                        <td class="number ">{{battingLine.so}}</td>
                                        <td class="number ">{{battingLine.avg}}</td>
                                        <td class="number ">{{battingLine.obp}}</td>
                                        <td class="number ">{{battingLine.slg}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr class="stats-totals-row">
                                        <th>Totals</th>
                                        <td class="number ">{{homeBoxScore.gameTotals.ab}}</td>
                                        <td class="number ">{{homeBoxScore.gameTotals.r}}</td>
                                        <td class="number ">{{homeBoxScore.gameTotals.h}}</td>
                                        <td class="number ">{{homeBoxScore.gameTotals.rbi}}</td>
                                        <td class="number ">{{homeBoxScore.gameTotals.bb}}</td>
                                        <td class="number ">{{homeBoxScore.gameTotals.so}}</td>
                                        <td class="number ">{{homeBoxScore.gameTotals.avg}}</td>
                                        <td class="number ">{{homeBoxScore.gameTotals.obp}}</td>
                                        <td class="number ">{{homeBoxScore.gameTotals.slg}}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div ng-show="canEditHome" class="edit-stats-controls">
                            <a href="#!/scorebook/{{gameInfo.gameId}}/{{gameInfo.homeId}}/Stats" class="btn btn-link">
                                Edit Batting Stats
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row box-score-summary">
                    <div class="col-md-6">
                        <ul class="summary-info list-unstyled">
                            <li ng-if="awayBoxScore.extraStats['2B']"><strong>2B</strong>&nbsp;{{awayBoxScore.extraStats['2B']}}</li>
                            <li ng-if="awayBoxScore.extraStats['3B']"><strong>3B</strong>&nbsp;{{awayBoxScore.extraStats['3B']}}</li>
                            <li ng-if="awayBoxScore.extraStats['HR']"><strong>HR</strong>&nbsp;{{awayBoxScore.extraStats['HR']}}</li>
                            <li ng-if="awayBoxScore.extraStats['SB']"><strong>SB</strong>&nbsp;{{awayBoxScore.extraStats['SB']}}</li>
                            <li ng-if="awayBoxScore.extraStats['CS']"><strong>CS</strong>&nbsp;{{awayBoxScore.extraStats['CS']}}</li>
                            <li ng-if="awayBoxScore.extraStats['GDP']"><strong>GDP</strong>&nbsp;{{awayBoxScore.extraStats['GDP']}}</li>
                            <li ng-if="awayBoxScore.extraStats['HBP']"><strong>HBP</strong>&nbsp;{{awayBoxScore.extraStats['HBP']}}</li>
                            <li ng-if="awayBoxScore.extraStats['RBOE']"><strong>RBOE</strong>&nbsp;{{awayBoxScore.extraStats['RBOE']}}</li>
                            <li ng-if="awayBoxScore.extraStats['SAC']"><strong>SAC</strong>&nbsp;{{awayBoxScore.extraStats['SAC']}}</li>
                            <li ng-if="awayBoxScore.extraStats['SF']"><strong>SF</strong>&nbsp;{{awayBoxScore.extraStats['SF']}}</li>
                            <li ng-if="awayBoxScore.extraStats['CI']"><strong>CI</strong>&nbsp;{{awayBoxScore.extraStats['CI']}}</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="summary-info list-unstyled">
                            <li ng-if="homeBoxScore.extraStats['2B']"><strong>2B</strong>&nbsp;{{homeBoxScore.extraStats['2B']}}</li>
                            <li ng-if="homeBoxScore.extraStats['3B']"><strong>3B</strong>&nbsp;{{homeBoxScore.extraStats['3B']}}</li>
                            <li ng-if="homeBoxScore.extraStats['HR']"><strong>HR</strong>&nbsp;{{homeBoxScore.extraStats['HR']}}</li>
                            <li ng-if="homeBoxScore.extraStats['SB']"><strong>SB</strong>&nbsp;{{homeBoxScore.extraStats['SB']}}</li>
                            <li ng-if="homeBoxScore.extraStats['CS']"><strong>CS</strong>&nbsp;{{homeBoxScore.extraStats['CS']}}</li>
                            <li ng-if="homeBoxScore.extraStats['GDP']"><strong>GDP</strong>&nbsp;{{homeBoxScore.extraStats['GDP']}}</li>
                            <li ng-if="homeBoxScore.extraStats['HBP']"><strong>HBP</strong>&nbsp;{{homeBoxScore.extraStats['HBP']}}</li>
                            <li ng-if="homeBoxScore.extraStats['RBOE']"><strong>RBOE</strong>&nbsp;{{homeBoxScore.extraStats['RBOE']}}</li>
                            <li ng-if="homeBoxScore.extraStats['SAC']"><strong>SAC</strong>&nbsp;{{homeBoxScore.extraStats['SAC']}}</li>
                            <li ng-if="homeBoxScore.extraStats['SF']"><strong>SF</strong>&nbsp;{{homeBoxScore.extraStats['SF']}}</li>
                            <li ng-if="homeBoxScore.extraStats['CI']"><strong>CI</strong>&nbsp;{{homeBoxScore.extraStats['CI']}}</li>
                        </ul>
                    </div>
                </div>
                <h3>Pitching</h3>
                <div class="row box-score-stats">
                    <div ng-hide='awayPitchingStats && awayPitchingStats.length > 0' class="col-md-6">
                        <div class="alert alert-warning">The {{gameInfo.awayName}} have not entered pitching stats yet</div>
                        <div ng-show="canEditAway" class="edit-stats-controls">
                            <a href="#!/scorebook/{{gameInfo.gameId}}/{{gameInfo.awayId}}/Lineup" class="btn btn-block btn-primary">Enter Pitching Stats</a>
                        </div>
                    </div>
                    <div ng-show="awayPitchingStats && awayPitchingStats.length > 0" class="col-md-6">
                        <div class="table-responsive">
                            <table class="table table-condensed table-hover stats-table">
                                <thead>
                                    <tr>
                                        <th>{{gameInfo.awayName}}</th>
                                        <th class="number ">IP</th>
                                        <th class="number ">H</th>
                                        <th class="number ">R</th>
                                        <th class="number ">ER</th>
                                        <th class="number ">BB</th>
                                        <th class="number ">K</th>
                                        <th class="number ">ERA</th>
                                        <th class="number ">WHIP</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="pitchingLine in awayPitchingSummary.pitchingLines">
                                        <td><a href="#!/player/{{pitchingLine.playerId}}">{{pitchingLine.firstName}} {{pitchingLine.lastName}} {{pitchingLine.extra}}</a></td>
                                        <td class="number ">{{pitchingLine.ip}}</td>
                                        <td class="number ">{{pitchingLine.h}}</td>
                                        <td class="number ">{{pitchingLine.r}}</td>
                                        <td class="number ">{{pitchingLine.er}}</td>
                                        <td class="number ">{{pitchingLine.bb}}</td>
                                        <td class="number ">{{pitchingLine.so}}</td>
                                        <td class="number ">{{pitchingLine.era}}</td>
                                        <td class="number ">{{pitchingLine.whip}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr class="stats-totals-row">
                                        <th>Totals</th>
                                        <td class="number ">{{awayPitchingSummary.gameTotals.ip}}</td>
                                        <td class="number ">{{awayPitchingSummary.gameTotals.h}}</td>
                                        <td class="number ">{{awayPitchingSummary.gameTotals.r}}</td>
                                        <td class="number ">{{awayPitchingSummary.gameTotals.er}}</td>
                                        <td class="number ">{{awayPitchingSummary.gameTotals.bb}}</td>
                                        <td class="number ">{{awayPitchingSummary.gameTotals.so}}</td>
                                        <td class="number ">{{awayPitchingSummary.gameTotals.era}}</td>
                                        <td class="number ">{{awayPitchingSummary.gameTotals.whip}}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div ng-show="canEditAway" class="edit-stats-controls">
                            <a href="#!/scorebook/{{gameInfo.gameId}}/{{gameInfo.awayId}}/Stats" class="btn btn-link">Edit Pitching Stats</a>
                        </div>
                    </div>
                    <div ng-hide='homePitchingStats && homePitchingStats.length > 0' class="col-md-6">
                        <div class="alert alert-warning">The {{gameInfo.homeName}} have not entered pitching stats yet</div>
                        <div ng-show="canEditHome" class="edit-stats-controls">
                            <a href="#!/scorebook/{{gameInfo.gameId}}/{{gameInfo.homeId}}/Lineup" class="btn btn-block btn-primary">Enter Pitching Stats</a>
                        </div>
                    </div>
                    <div ng-show="homePitchingStats && homePitchingStats.length > 0" class="col-md-6">
                        <div class="table-responsive">
                            <table class="table table-condensed table-hover stats-table">
                                <thead>
                                    <tr>
                                        <th>{{gameInfo.homeName}}</th>
                                        <th class="number ">IP</th>
                                        <th class="number ">H</th>
                                        <th class="number ">R</th>
                                        <th class="number ">ER</th>
                                        <th class="number ">BB</th>
                                        <th class="number ">K</th>
                                        <th class="number ">ERA</th>
                                        <th class="number ">WHIP</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="pitchingLine in homePitchingSummary.pitchingLines">
                                        <td><a href="#!/player/{{pitchingLine.playerId}}">{{pitchingLine.firstName}} {{pitchingLine.lastName}} {{pitchingLine.extra}}</a></td>
                                        <td class="number ">{{pitchingLine.ip}}</td>
                                        <td class="number ">{{pitchingLine.h}}</td>
                                        <td class="number ">{{pitchingLine.r}}</td>
                                        <td class="number ">{{pitchingLine.er}}</td>
                                        <td class="number ">{{pitchingLine.bb}}</td>
                                        <td class="number ">{{pitchingLine.so}}</td>
                                        <td class="number ">{{pitchingLine.era}}</td>
                                        <td class="number ">{{pitchingLine.whip}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr class="stats-totals-row">
                                        <th>Totals</th>
                                        <td class="number ">{{homePitchingSummary.gameTotals.ip}}</td>
                                        <td class="number ">{{homePitchingSummary.gameTotals.h}}</td>
                                        <td class="number ">{{homePitchingSummary.gameTotals.r}}</td>
                                        <td class="number ">{{homePitchingSummary.gameTotals.er}}</td>
                                        <td class="number ">{{homePitchingSummary.gameTotals.bb}}</td>
                                        <td class="number ">{{homePitchingSummary.gameTotals.so}}</td>
                                        <td class="number ">{{homePitchingSummary.gameTotals.era}}</td>
                                        <td class="number ">{{homePitchingSummary.gameTotals.whip}}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div ng-show="canEditHome" class="edit-stats-controls">
                            <a href="#!/scorebook/{{gameInfo.gameId}}/{{gameInfo.homeId}}/Stats" class="btn btn-link">Edit Pitching Stats</a>
                        </div>
                    </div>
                </div>

                <div class="row box-score-summary">
                    <div class="col-md-6">
                        <ul class="summary-info list-unstyled">
                            <li ng-if="awayPitchingSummary.extraStats['IBB']"><strong>IBB</strong>&nbsp;{{awayPitchingSummary.extraStats['IBB']}}</li>
                            <li ng-if="awayPitchingSummary.extraStats['HBP']"><strong>HBP</strong>&nbsp;{{awayPitchingSummary.extraStats['HBP']}}</li>
                            <li ng-if="awayPitchingSummary.extraStats['HR']"><strong>HR</strong>&nbsp;{{awayPitchingSummary.extraStats['HR']}}</li>
                            <li ng-if="awayPitchingSummary.extraStats['BK']"><strong>BK</strong>&nbsp;{{awayPitchingSummary.extraStats['BK']}}</li>
                            <li ng-if="awayPitchingSummary.extraStats['WP']"><strong>WP</strong>&nbsp;{{awayPitchingSummary.extraStats['WP']}}</li>
                            <li ng-if="awayPitchingSummary.extraStats['BF']"><strong>BF</strong>&nbsp;{{awayPitchingSummary.extraStats['BF']}}</li>
                            <li ng-if="awayPitchingSummary.extraStats['PIT']"><strong>Pitches</strong>&nbsp;{{awayPitchingSummary.extraStats['PIT']}}</li>
                            <li ng-if="awayPitchingSummary.extraStats['STR']"><strong>Strikes</strong>&nbsp;{{awayPitchingSummary.extraStats['STR']}}</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="summary-info list-unstyled">
                            <li ng-if="homePitchingSummary.extraStats['IBB']"><strong>IBB</strong>{{homePitchingSummary.extraStats['IBB']}}</li>
                            <li ng-if="homePitchingSummary.extraStats['HBP']"><strong>HBP</strong>{{homePitchingSummary.extraStats['HBP']}}</li>
                            <li ng-if="homePitchingSummary.extraStats['HR']"><strong>HR</strong>{{homePitchingSummary.extraStats['HR']}}</li>
                            <li ng-if="homePitchingSummary.extraStats['BK']"><strong>BK</strong>{{homePitchingSummary.extraStats['BK']}}</li>
                            <li ng-if="homePitchingSummary.extraStats['WP']"><strong>WP</strong>{{homePitchingSummary.extraStats['WP']}}</li>
                            <li ng-if="homePitchingSummary.extraStats['BF']"><strong>BF</strong>{{homePitchingSummary.extraStats['BF']}}</li>
                            <li ng-if="homePitchingSummary.extraStats['PIT']"><strong>Pitches</strong>{{homePitchingSummary.extraStats['PIT']}}</li>
                            <li ng-if="homePitchingSummary.extraStats['STR']"><strong>Strikes</strong>{{homePitchingSummary.extraStats['STR']}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>Details</h3>
                    <div class="well well-sm">
                        <dl class="dl-horizontal">
                            <dt>Home</dt>
                            <dd>
                                <a href="#!/team/{{gameInfo.homeId}}/{{gameInfo.homeName}}/{{gameInfo.homeDivision}}/{{gameInfo.year}}">{{gameInfo.homeDivision}} {{gameInfo.homeName}}</a>
                            </dd>
                            <dt>Away</dt>
                            <dd>
                                <a href="#!/team/{{gameInfo.awayId}}/{{gameInfo.awayName}}/{{gameInfo.awayDivision}}/{{gameInfo.year}}">{{gameInfo.awayDivision}} {{gameInfo.awayName}}</a>
                            </dd>
                            <dt>Field</dt>
                            <dd>
                                <a href="#!/fields/{{gameInfo.fieldId}}">{{gameInfo.fieldName}}</a>
                            </dd>
                            <dt>Date</dt>
                            <dd>{{gameInfo.dateTime | date:'EEE MMM d yyyy, h:mm a'}}</dd>
                            <dt>Posted By</dt>
                            <dd>{{gameInfo.postedBy}}</dd>
                            <dt>Posted</dt>
                            <dd>{{gameInfo.postedDate | date:'EEE MMM d yyyy, h:mm a'}}</dd>
                        </dl>
                        <a href="#!/afterGame/{{gameInfo.fieldId}}" class="ad">
                            <img src="img/AfterGame.png" alt="After the Game" class="image">
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>Taxi Pool Info</h3>
                    <div class="well well-sm">
                        <dl ng-if="taxi.inviteTeam == 0 && !taxi.modifyRequest">
                            <dt class="col-md-3">{{gameInfo.homeName}}:</dt>
                            <dd><em>{{taxi.info[gameInfo.homeId].summary}}</em></dd>
                            <dd ng-repeat="request in taxi.info[gameInfo.homeId].requests">
                                <span>
                                    {{request.requestor}} requested {{request.players}} player(s) and
                                    {{request.catchers}} catcher(s) {{(request.gear == 1) ? "(with gear)" : ""}}
                                    on {{request.requestTime | date}}
                                    <br />
                                    <span ng-hide="taxi.isModifying" style="color:blue">
                                        Status: {{request.accepted}} accepted, {{request.declined}} declined, {{request.pending}} pending
                                        {{(request.closed == 1) ? "(closed)" : "(open)"}}
                                        <a role="button" ng-show="taxi.canModifyTaxi(request) && (request.closed != 1)" ng-click="taxi.cancelTaxi(request)" class="btn btn-sm btn-danger">Close</a>
                                        <a role="button" ng-show="taxi.canModifyTaxi(request) && (request.closed != 1)" ng-click="taxi.startModify(request)" class="btn btn-sm btn-warning">Modify / Expand</a>
                                        <a role="button" ng-show="taxi.canModifyTaxi(request) && (request.closed == 1)" ng-click="taxi.startModify(request)" class="btn btn-sm btn-success">Re-Open / Modify</a>
                                    </span>
                                </span>
                                <ul>
                                    <li ng-repeat="accept in request.accepts">
                                        {{accept}}
                                    </li>
                                </ul>
                            </dd>
                            <dd>
                                <a role="button" ng-show="taxi.canRequestTaxi(gameInfo.homeId) && !taxi.previousRequest(gameInfo.homeId)" ng-click="taxi.inviteTeam = gameInfo.homeId" class="btn btn-success">
                                    <span class="fa fa-taxi"></span>
                                    Request Taxi Player(s) for {{gameInfo.homeName}}
                                </a>
                            </dd>
                            <dd>&nbsp;</dd>
                            <dt class="col-md-3">{{gameInfo.awayName}}:</dt>
                            <dd><em>{{taxi.info[gameInfo.awayId].summary}}</em></dd>
                            <dd ng-repeat="request in taxi.info[gameInfo.awayId].requests">
                                <span>
                                    {{request.requestor}} requested {{request.players}} player(s) and
                                    {{request.catchers}} catcher(s) {{(request.gear == 1) ? "(with gear)" : ""}}
                                    on {{request.requestTime | date}}
                                    <br />
                                    <span style="color:blue">
                                        Status: {{request.accepted}} accepted, {{request.declined}} declined, {{request.pending}} pending
                                        {{(request.closed == 1) ? "(closed)" : "(open)"}}
                                        <a role="button" ng-show="taxi.canModifyTaxi(request) && (request.closed != 1)" ng-click="taxi.cancelTaxi(request)" class="btn btn-sm btn-danger">Close</a>
                                        <a role="button" ng-show="taxi.canModifyTaxi(request) && (request.closed != 1)" ng-click="taxi.startModify(request)" class="btn btn-sm btn-warning">Modify / Expand</a>
                                        <a role="button" ng-show="taxi.canModifyTaxi(request) && (request.closed == 1)" ng-click="taxi.startModify(request)" class="btn btn-sm btn-success">Re-Open / Modify</a>
                                    </span>
                                </span>
                                <ul>
                                    <li ng-repeat="accept in request.accepts">
                                        {{accept}}
                                    </li>
                                </ul>
                            </dd>
                            <dd>
                                <a role="button" ng-show="taxi.canRequestTaxi(gameInfo.awayId) && !taxi.previousRequest(gameInfo.awayId)" ng-click="taxi.inviteTeam = gameInfo.awayId" class="btn btn-success">
                                    <span class="fa fa-taxi"></span>
                                    Request Taxi Player(s) for {{gameInfo.awayName}}
                                </a>
                            </dd>
                            <dd ng-show="taxi.error" class="alert alert-danger">
                                {{taxi.error}}
                                <a ng-show="taxi.error" role="button" style="float:right" ng-click="taxi.error = ''" class="glyphicon glyphicon-remove-sign"></a>
                            </dd>
                        </dl>
                        <form ng-if="taxi.inviteTeam > 0">
                            <h3>Invite Taxi Players to play for {{taxi.info[taxi.inviteTeam].teamName}}</h3>
                            <p>
                                <label for="invite-count">Number of non-catchers needed</label>
                                <input name="invite-count" type="number" min="0" max="4" ng-model="taxi.inviteCount" />
                            </p>
                            <p>
                                <label for="invite-catcher">Need catcher?</label>
                                <input name="invite-catcher" type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="taxi.inviteCatcher" />
                                <label for="invite-gear">With own gear?</label>
                                <input ng-disabled="!taxi.inviteCatcher" name="invite-gear" type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="taxi.inviteGear" />
                            </p>
                            <p>
                                <input type="submit" ng-click="taxi.sendTaxiRequest('New',taxi.inviteTeam,null)" value="Send Invitations" class="btn btn-success">
                                <button ng-click="taxi.inviteTeam = 0" class="btn btn-danger">Cancel</button>
                                <img ng-show="taxi.loadingData" src="img/loading1.gif" title="Loading" />
                            </p>
                            <div ng-show="taxi.error" class="alert alert-danger">
                                {{taxi.error}}
                                <a ng-show="taxi.error" role="button" style="float:right" ng-click="taxi.error = ''" class="glyphicon glyphicon-remove-sign"></a>
                            </div>
                        </form>
                        <form ng-if="taxi.modifyRequest">
                            <h4>Modify Taxi Request for {{taxi.info[taxi.modifyRequest.teamId].teamName}}</h4>
                            <p>
                                <em>
                                    You cannot reduce the number of players requested below the number that have already accepted.
                                </em>
                            </p>
                            <p>
                                <label for="invite-count">Number of non-catchers needed</label>
                                <input name="invite-count" type="number" min={{taxi.modifyRequest.accepted}} max=4 ng-model="taxi.modifyCount" />
                            </p>
                            <p>
                                <label for="invite-catcher">Need catcher?</label>
                                <input name="invite-catcher" type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="taxi.modifyCatcher" />
                                <label for="invite-gear">With own gear?</label>
                                <input ng-disabled="!taxi.modifyCatcher" name="invite-gear" type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="taxi.modifyGear" />
                            </p>
                            <p>
                                <input type="submit" ng-disabled="taxi.noChanges()" ng-click="taxi.sendTaxiRequest('Modify',taxi.modifyRequest.teamId,taxi.modifyRequest.requestId)" value="Save Changes" class="btn btn-success">
                                <img ng-show="taxi.loadingData" src="img/loading1.gif" title="Loading" />
                            </p>

                            <div ng-show="taxi.modifyRequest.closed != 1">
                                <hr />

                                <h4>Expand Taxi Request</h4>
                                <p>
                                    <em>
                                        Expanding a taxi pool request will send additional invitations to a new group of players for any unfilled requirements. It must be at least 2 hours since you
                                        created the request or since you last asked to expand.
                                    </em>
                                </p>

                                <p>
                                    <input type="submit" ng-disabled="!taxi.canExpandTaxi(taxi.modifyRequest)" ng-click="taxi.sendTaxiRequest('Expand', taxi.modifyRequest.teamId, taxi.modifyRequest.requestId)" value="Expand Request" class="btn btn-success">
                                    <span ng-hide="taxi.canExpandTaxi(taxi.modifyRequest)">(Minimum time interval violated)</span>
                                    <img ng-show="taxi.loadingData" src="img/loading1.gif" title="Loading" />
                                </p>
                                <div ng-show="taxi.error" class="alert alert-danger">
                                    {{taxi.error}}
                                    <a ng-show="taxi.error" role="button" style="float:right" ng-click="taxi.error = ''" class="glyphicon glyphicon-remove-sign"></a>
                                </div>
                            </div>
                            <hr />
                            <p style="text-align:center;">
                                <strong>Return with no changes</strong><br />
                                <button ng-click="taxi.modifyRequest = null;taxi.error = ''" class="btn btn-danger">Close</button>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
