<nav class="navbar navbar-inverse navbar-default navbar-static-top site-header">
    <div class="container" ng-controller="authController">
        <div class="navbar-header">
            <a href="#!/" class="navbar-brand-small navbar-link affiliate-short-name">PSSBL</a>
            <a href="#!/" class="navbar-brand page-load-progress-container">
                <img src="img/PSSBL_H2019.png" alt="Puget Sound Senior Baseball League">
            </a>
        </div>

        <!-- Login Button or Menu -->
            <div id="cssmenu" ng-if="loggedIn()" class="navbar-right btn-group" uib-dropdown dropdown-append-to-body>
                <button id="btn-append-to-body" class="btn btn-primary login" uib-dropdown-toggle>
                    <span class="fa fa-user"></span><b><span class="username">{{login.userName}}</span></b>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                    <li role="menuitem" ng-if="isAdmin()"><a href="#!/admin" class="nav-icon-with-text"><span class="fa fa-desktop"></span>Admin</a></li>
                    <li class="divider" ng-if="isAdmin()"></li>
                    <li role="menuitem"><a href="#!/profile" class="nav-icon-with-text"><span class="fa fa-user"></span>Profile &amp; Preferences</a></li>
                    <li role="menuitem"><a href="#!/registration" class="nav-icon-with-text"><span class="fa fa-credit-card"></span>Registration</a></li>
                    <li role="menuitem"><a href="#!/player/schedule/{{login.userId}}/{{login.year}}" class="nav-icon-with-text"><span class="fa fa-calendar"></span>My Schedule</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header my-teams-item-header">My Teams</li>
                    <li role="menuitem" ng-repeat="team in login.teams" class="my-teams-item"><a ng-href="#!/team/{{team.team_id}}/{{team.team_name}}/{{team.division_name}}/{{login.year}}">{{team.division_name}} {{team.team_name}}</a></li>
                    <li class="divider"></li>
                    <li role="menuitem"><a role="button" ng-click="logout()" data-ignore class="nav-icon-with-text"><span class="fa fa-power-off"></span>Logout</a></li>
                    <!--li class="divider"></!--li>
                    <li role="menuitem"><a href="https://pssbl.com/Lime/index.php/294616?lang=en&token={{surveyToken()}}" class="nav-icon-with-text" target="_blank"><span class="fa fa-check-square-o"></span>{{season.currentYear}} PSSBL Player Survey</a></li-->
                </ul>
            </div>
            <ul id="cssmenu" ng-if="!loggedIn()" class="navbar-right">
                <li>
                    <a href="#!/login" class="dropdown-toggle login nav-icon-with-text"><span><b>Login</b></span></a>
                </li>
            </ul>

        <div id="top-navbar-items" class="collapse navbar-collapse">

            <ul class="nav navbar-nav navbar-left">
                <li><a href="#!/articles/PSSBLStaff">Info/Rainout Line: 425-644-1901</a></li>
            </ul>

            <!-- Social Media Icons -->
            <div style="font-size:1em;letter-spacing: 4px;margin-top: 13px;padding-left: 21px;cursor:pointer; color:white; text-decoration: none;">
                <a href="https://www.facebook.com/groups/pssbl/" rel="noopener" target="_blank">
                    <i class='fa fa-facebook' style="color:white"></i>
                </a>
                <a href="https://www.youtube.com/@pugetsoundseniorbaseballleague" rel="noopener" target="_blank">
                    <i class='fa fa-youtube' style="color:white"></i>
                </a>
                <a href="https://twitter.com/PSSBLBaseball" rel="noopener" target="_blank">
                    &#120143
                    <!--<i class='fa fa-twitter' style="color:white"></i>-->
                </a>
                <a href="https://instagram.com/pssblbaseball" target="_blank">
                    <i class='fa fa-instagram' style="color:white"></i>
                </a>
            </div>

            <!-- Title Text Banner-->
            <a href="#!/"><img style="margin-left:15px; max-width:100%" src="img/white_banner.png"></a>

        </div>

        <!--
             This is the new Boostrap menu code
         -->

        <div id='cssmenu' class="btn-group">
            <div class="btn-group" uib-dropdown dropdown-append-to-body>
                <button id="btn-append-to-body" class="btn btn-primary" uib-dropdown-toggle>
                    League Info <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                    <li role="menuitem"><a href="#!/articles/About">About the PSSBL</a></li>
                    <li role="menuitem"><a href="#!/articles/LeagueRules">League Rules</a></li>
                    <li role="menuitem"><a href="#!/articles/field-rules">Field Rules</a></li>
                    <li role="menuitem"><a href="#!/articles/PSSBLStaff">PSSBL Staff</a></li>
                    <li role="menuitem"><a href="#!/articles/EventCalendar">{{season.currentYear}} Event Calendar</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header"><a href='#'><span>League Policies</span></a></li>
                    <li role="menuitem"><a href="#!/articles/PlayerRights">Player Rights</a></li>
                    <li role="menuitem"><a href="#!/articles/RefundPolicy">Refund Policy</a></li>
                    <li role="menuitem"><a href="#!/articles/TaxiPolicy">Taxi Player Policy</a></li>
                    <li role="menuitem"><a href="#!/articles/WaiverWire">Waiver Wire Information</a></li>					
                    <li role="menuitem"><a href="#!/articles/Bylaws">League Bylaws</a></li>
                    <!--<li role="menuitem"><a href="#!/articles/2021 COVID Guidelines">"Play Safe" Rules for {{season.currentYear}}</a></li>-->
                    <li class="divider"></li>
                    <li role="menuitem"><a href="#!/fields">League Fields</a></li>
                </ul>
            </div>
            <div class="btn-group" uib-dropdown dropdown-append-to-body>
                <button id="btn-append-to-body" class="btn btn-primary" uib-dropdown-toggle>
                    Divisions <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                    <li role="menuitem"><a href="#!/division/Adams/{{season.currentYear}}"><b>Adams</b> (18+ Int)</a></li>
                    <li role="menuitem"><a href="#!/division/Adirondack/{{season.currentYear}}"><b>Adirondack</b> (60+ Rec)</a></li>
                    <li role="menuitem"><a href="#!/division/Cascade/{{season.currentYear}}"><b>Cascade</b> (18+ Adv)</a></li>
                    <li role="menuitem"><a href="#!/division/Denali/{{season.currentYear}}"><b>Denali</b> (30+ Rec)</a></li>
                    <li role="menuitem"><a href="#!/division/Everest/{{season.currentYear}}"><b>Everest</b> (50+ Adv)</a></li>
                    <li role="menuitem"><a href="#!/division/Rainier/{{season.currentYear}}"><b>Rainier</b> (60+ Adv)</a></li>
                    <li role="menuitem"><a href="#!/division/Rocky/{{season.currentYear}}"><b>Rocky</b> (18+ Rec)</a></li>
                    <li role="menuitem"><a href="#!/division/Sierra/{{season.currentYear}}"><b>Sierra</b> (30+ Adv)</a></li>
                    <li role="menuitem"><a href="#!/division/Smoky/{{season.currentYear}}"><b>Smoky</b> (40+ Adv)</a></li>
                    <li role="menuitem"><a href="#!/division/Teton/{{season.currentYear}}"><b>Teton</b> (45+ Rec)</a></li>
                    <li class="divider"></li>
                    <li role="menuitem"><a href="#!/articles/day-league">Midweek Daytime Baseball</a></li>
                </ul>
            </div>
            <div class="btn-group" uib-dropdown dropdown-append-to-body>
                <button id="btn-append-to-body" class="btn btn-primary" uib-dropdown-toggle>
                    Players <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                    <li role="menuitem"><a href="#!/players/Registered/{{season.currentYear}}">Registered Players</a></li>
                    <li role="menuitem"><a href="#!/players/Draft/{{season.currentYear}}">Draft Entries</a></li>
                    <li role="menuitem"><a href="#!/players/FreeAgents/{{season.currentYear}}">Waiver Wire</a></li>
                    <li role="menuitem"><a href="#!/players/Taxi/{{season.currentYear}}">Taxi Pool</a></li>
                    <li class="divider"></li>
                    <li role="menuitem"><a href="#!/articles/HallOfFame">PSSBL Hall of Fame</a></li>
                    <li role="menuitem"><a href="#!/career">Career Stat Leaders</a></li>
                    <li role="menuitem"><a href="#!/search">Search For Player ...</a></li>
                </ul>
            </div>
            <div class="btn-group" uib-dropdown dropdown-append-to-body>
                <button id="btn-append-to-body" class="btn btn-primary" uib-dropdown-toggle>
                    Past Seasons <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                    <li role="menuitem" ng-repeat="year in master.yearList" value="{{year}}"><a href="#!/league/{{year}}">Summer {{year}}</a></li>
                </ul>
            </div>
            <div class="btn-group" uib-dropdown dropdown-append-to-body>
                <button id="btn-append-to-body" class="btn btn-primary" uib-dropdown-toggle>
                    Special Events <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                    <li role="menuitem"><a href="#!/articles/Day at the Show VII#top">Safeco Field Charity Game 2017</a></li>
                    <li role="menuitem"><a href="#!/articles/day-at-the-show-vi-recap#top">Safeco Field Charity Game 2015</a></li>
                    <li role="menuitem"><a href="#!/articles/day-at-the-show-v-recap#top">Safeco Field Charity Game 2014</a></li>
                    <li role="menuitem"><a href="#!/articles/tournaments">Tournaments</a></li>
                </ul>
            </div>
            <button role="link" class="btn btn-primary" onclick="window.location='#!/media'">Media</button>
            <button role="link" class="btn btn-primary" onclick="window.location='#!/helpbot'"><i class="fa fa-robot"></i> AI Help</button>
            <button role="link" class="btn btn-primary" onclick="window.location='#!/articles/faq-contents'">Help / FAQ</button>
            <button role="link" class="btn btn-profile" onclick="window.location='#!/articles/contact-form'">Contact Us</button>
            <button type="button" role="link" class="btn navbar-right market" onclick="window.location='#!/market'"><i class="glyphicon glyphicon-shopping-cart"></i>MarketPlace</a></button>
        </div>
        
        <!-- End of Bootstrap menus -->
    </div>
</nav>




