<!-----------------------------------------
 Rough First cut at this ... will probably want to
 use angularjs directives to display the tables.
----------------------------------------->

<div class="container main-body">
    <section id="main" class="content-container">

        <section class="competition-details">
            <alert ng-show="invalidParams" close="closeAlert()">
                Warning! No results were found for selected season: *** {{ originalParams}} ***
                Displaying current season.
            </alert>

            <h1>
                PCBL
                <small class="heading-subtext">
                    Summer {{leagueYear}}&nbsp;
                </small>
                <img ng-show="loadingData" src="img/loading1.gif" title="Loading" />
            </h1>
            <uib-tabset>
                <uib-tab heading="Details" select="showTab('Details')"></uib-tab>
                <uib-tab heading="Schedule" select="showTab('Schedule')"></uib-tab>
                <uib-tab heading="Other Seasons" select="showTab('OtherSeasons')"></uib-tab>
            </uib-tabset>
            <div ng-switch on="tabSelected">
                <div ng-switch-when="Details">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="table-responsive">
                                    <table class="table divisions-list">
                                        <thead>
                                            <tr>
                                                <th>Division</th>
                                                <th>Age</th>
                                                <th>Roster</th>
                                                <th># Games</th>
                                                <th>Competition Level</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="division in divisions">
                                                <td><strong><a href="#!/division/{{division.name}}/{{ leagueYear}}">{{division.name}}</a></strong></td>
                                                <td>{{division.age}}+</td>
                                                <td>{{division.roster}}+</td>
                                                <td>{{division.games}}</td>
                                                <td>{{division.level}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-switch-when="OtherSeasons">
                    <ul>
                        <li ng-repeat="pastYear in pastYears">
                            <a href="#!/league/{{pastYear}}">
                                PCBL Summer {{ pastYear }}
                            </a>
                        </li>
                    </ul>
                </div>

                <div ng-switch-when="Schedule">
                    <schedule-directive />
                </div>
            </div>
        </section>
    </section>
</div>
