<div class="container main-body">
    <section id="main" class="content-container">
        <div style="text-align:right">
            <a href="https://www.amazon.com/?tag=pssbl-20&linkCode=ez" target="_blank">
                <img src="/img/AmazonAssociate.png" alt="Shop Product Showcase">
            </a>
        </div>
        <h2>The Marketplace features products and services offered by PSSBL members</h2>
        <h3>Your support of fellow members is much appreciated</h3>
        <br />
        <input ng-model="query" type="text" placeholder="Keywords" autofocus><hr />
        <div class="row">
            <div ng-repeat="marketAd in marketAds | filter:query" class="col-md-4">
                <div class="well">
                    <a ng-href="{{marketAd.href}}" target="_blank"><img width=315 ng-src="img/ads/market/{{marketAd.src}}" /></a>
                    <p>
                        {{marketAd.keywords}}
                    </p>
                </div>
            </div>
        </div>
        <div class="alert alert-warning">
            If you are interested in submitting an ad for display on this page, please see the <a href="#!/articles/marketplace-instructions">
                instructions
            </a> at this <a href="#!/articles/marketplace-instructions">link</a>
        </div>
    </section>
</div>


