<div class="container main-body">
    <section id="main" class="content-container">
        <alert ng-show="invalidParams" close="closeAlert()">
            <strong>Warning!</strong> Player Not Found.
        </alert>

        <!--Game Logs-->
        <section class="player-competition-game-log">
            <h2>Summer {{season.year}} Stats<small class="heading-subtext"><a href="#!/player/{{season.playerId}}">{{season.playerName}}</a></small></h2>
            <uib-tabset>
                <uib-tab ng-repeat="(teamId, teamName) in season.teamTabs" heading="{{teamName}}" select="season.showTeamTab(teamId)"></uib-tab>
            </uib-tabset>
            <div class="tab-content">
                <section class="player-details-page">
                    <h3>
                        <a href="#!/team/{{season.teamId}}/{{season.splitTeamName(season.teamName)}}/{{season.year}}">{{season.teamName}}</a>&nbsp;
                        Game Log
                        <img ng-show="loadingData" src="img/loading1.gif" title="Loading" />
                    </h3>

                    <div class="panel panel-primary">
                        <div class="panel-heading">Batting</div>
                        <div ng-if="season.hasBattingLogs()" class="table-responsive">
                            <table class="table table-hover stats-table">
                                <thead>
                                    <tr>
                                        <!--Date	Opponent	PA	AB	R	H	2B	3B	HR	RBI	SB	CS	BB	SO	AVG	OBP	SLG	OPS	TB	HBP	SH	SF	IBB-->
                                        <th>Date</th>
                                        <th>Opponent</th>
                                        <th class="number ">PA</th>
                                        <th class="number ">AB</th>
                                        <th class="number ">R</th>
                                        <th class="number ">H</th>
                                        <th class="number ">2B</th>
                                        <th class="number ">3B</th>
                                        <th class="number ">HR</th>
                                        <th class="number ">RBI</th>
                                        <th class="number ">SB</th>
                                        <th class="number ">CS</th>
                                        <th class="number ">BB</th>
                                        <th class="number ">SO</th>
                                        <th class="number ">AVG</th>
                                        <th class="number ">OBP</th>
                                        <th class="number ">SLG</th>
                                        <th class="number ">OPS</th>
                                        <th class="number ">TB</th>
                                        <th class="number ">HBP</th>
                                        <th class="number ">SH</th>
                                        <th class="number ">SF</th>
                                        <th class="number ">IBB</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="battingLine in season.battingLog[season.teamId].battingLines" ng-class="season.isPlayoff(battingLine)">
                                        <td><a href="#!/game/{{battingLine.gameId}}">{{battingLine.gameTime | date:"MMM d"}}</a></td>
                                        <td>{{battingLine.opponent}}</td>
                                        <td class="number">{{battingLine.pa}}</td>
                                        <td class="number">{{battingLine.ab}}</td>
                                        <td class="number">{{battingLine.r}}</td>
                                        <td class="number">{{battingLine.h}}</td>
                                        <td class="number">{{battingLine.d}}</td>
                                        <td class="number">{{battingLine.t}}</td>
                                        <td class="number">{{battingLine.hr}}</td>
                                        <td class="number">{{battingLine.rbi}}</td>
                                        <td class="number">{{battingLine.sb}}</td>
                                        <td class="number">{{battingLine.cs}}</td>
                                        <td class="number">{{battingLine.bb}}</td>
                                        <td class="number">{{battingLine.so}}</td>
                                        <td class="number">{{battingLine.avg}}</td>
                                        <td class="number">{{battingLine.obp}}</td>
                                        <td class="number">{{battingLine.slg}}</td>
                                        <td class="number">{{battingLine.ops}}</td>
                                        <td class="number">{{battingLine.tb}}</td>
                                        <td class="number">{{battingLine.hbp}}</td>
                                        <td class="number">{{battingLine.sh}}</td>
                                        <td class="number">{{battingLine.sf}}</td>
                                        <td class="number">{{battingLine.ibb}}</td>
                                    </tr>
                                    <tr class="stats-totals-row">
                                        <td>{{season.battingLog[season.teamId].battingLines.length}} Games</td>
                                        <td>&nbsp;</td>
                                        <td class="number">{{season.battingLog[season.teamId].battingTotals.pa}}</td>
                                        <td class="number">{{season.battingLog[season.teamId].battingTotals.ab}}</td>
                                        <td class="number">{{season.battingLog[season.teamId].battingTotals.r}}</td>
                                        <td class="number">{{season.battingLog[season.teamId].battingTotals.h}}</td>
                                        <td class="number">{{season.battingLog[season.teamId].battingTotals.d}}</td>
                                        <td class="number">{{season.battingLog[season.teamId].battingTotals.t}}</td>
                                        <td class="number">{{season.battingLog[season.teamId].battingTotals.hr}}</td>
                                        <td class="number">{{season.battingLog[season.teamId].battingTotals.rbi}}</td>
                                        <td class="number">{{season.battingLog[season.teamId].battingTotals.sb}}</td>
                                        <td class="number">{{season.battingLog[season.teamId].battingTotals.cs}}</td>
                                        <td class="number">{{season.battingLog[season.teamId].battingTotals.bb}}</td>
                                        <td class="number">{{season.battingLog[season.teamId].battingTotals.so}}</td>
                                        <td class="number">{{season.battingLog[season.teamId].battingTotals.avg}}</td>
                                        <td class="number">{{season.battingLog[season.teamId].battingTotals.obp}}</td>
                                        <td class="number">{{season.battingLog[season.teamId].battingTotals.slg}}</td>
                                        <td class="number">{{season.battingLog[season.teamId].battingTotals.ops}}</td>
                                        <td class="number">{{season.battingLog[season.teamId].battingTotals.tb}}</td>
                                        <td class="number">{{season.battingLog[season.teamId].battingTotals.hbp}}</td>
                                        <td class="number">{{season.battingLog[season.teamId].battingTotals.sh}}</td>
                                        <td class="number">{{season.battingLog[season.teamId].battingTotals.sf}}</td>
                                        <td class="number">{{season.battingLog[season.teamId].battingTotals.ibb}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-if="!season.hasBattingLogs()" class="panel-footer">No batting data for {{season.playerName}}</div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">Pitching</div>
                        <div ng-if="season.hasPitchingLogs()" class="table-responsive">
                            <table class="table table-hover stats-table">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Opponent</th>
                                        <th class="number ">W</th>
                                        <th class="number ">L</th>
                                        <th class="number ">GS</th>
                                        <th class="number ">GF</th>
                                        <th class="number ">CG</th>
                                        <th class="number ">SV</th>
                                        <th class="number ">IP</th>
                                        <th class="number ">H</th>
                                        <th class="number ">R</th>
                                        <th class="number ">ER</th>
                                        <th class="number ">HR</th>
                                        <th class="number ">BB</th>
                                        <th class="number ">IBB</th>
                                        <th class="number ">K</th>
                                        <th class="number ">HBP</th>
                                        <th class="number ">BK</th>
                                        <th class="number ">WP</th>
                                        <th class="number ">BF</th>
                                        <th class="number ">ERA</th>
                                        <th class="number ">WHIP</th>
                                        <th class="number ">K/9</th>
                                        <th class="number ">BB/9</th>
                                        <th class="number ">PIT</th>
                                        <th class="number ">STR</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="pitchingLine in season.pitchingLog[season.teamId].pitchingLines" ng-class="season.isPlayoff(pitchingLine)">
                                        <td><a href="#!/game/{{pitchingLine.gameId}}">{{pitchingLine.gameTime | date:"MMM d"}}</a></td>
                                        <td>{{pitchingLine.opponent}}</td>
                                        <td class="number">{{pitchingLine.w}}</td>
                                        <td class="number">{{pitchingLine.l}}</td>
                                        <td class="number">{{pitchingLine.gs}}</td>
                                        <td class="number">{{pitchingLine.gf}}</td>
                                        <td class="number">{{pitchingLine.cg}}</td>
                                        <td class="number">{{pitchingLine.sv}}</td>
                                        <td class="number">{{pitchingLine.ip}}</td>
                                        <td class="number">{{pitchingLine.h}}</td>
                                        <td class="number">{{pitchingLine.r}}</td>
                                        <td class="number">{{pitchingLine.er}}</td>
                                        <td class="number">{{pitchingLine.hr}}</td>
                                        <td class="number">{{pitchingLine.bb}}</td>
                                        <td class="number">{{pitchingLine.ibb}}</td>
                                        <td class="number">{{pitchingLine.so}}</td>
                                        <td class="number">{{pitchingLine.hbp}}</td>
                                        <td class="number">{{pitchingLine.bk}}</td>
                                        <td class="number">{{pitchingLine.wp}}</td>
                                        <td class="number">{{pitchingLine.bf}}</td>
                                        <td class="number">{{pitchingLine.era}}</td>
                                        <td class="number">{{pitchingLine.whip}}</td>
                                        <td class="number">{{pitchingLine.k9}}</td>
                                        <td class="number">{{pitchingLine.bb9}}</td>
                                        <td class="number">{{pitchingLine.pit}}</td>
                                        <td class="number">{{pitchingLine.str}}</td>
                                    </tr>
                                    <tr class="stats-totals-row">
                                        <td>{{season.pitchingLog[season.teamId].pitchingLines.length}} Games</td>
                                        <td>&nbsp;</td>
                                        <td class="number">{{season.pitchingLog[season.teamId].pitchingTotals.w}}</td>
                                        <td class="number">{{season.pitchingLog[season.teamId].pitchingTotals.l}}</td>
                                        <td class="number">{{season.pitchingLog[season.teamId].pitchingTotals.gs}}</td>
                                        <td class="number">{{season.pitchingLog[season.teamId].pitchingTotals.gf}}</td>
                                        <td class="number">{{season.pitchingLog[season.teamId].pitchingTotals.cg}}</td>
                                        <td class="number">{{season.pitchingLog[season.teamId].pitchingTotals.sv}}</td>
                                        <td class="number">{{season.pitchingLog[season.teamId].pitchingTotals.ip}}</td>
                                        <td class="number">{{season.pitchingLog[season.teamId].pitchingTotals.h}}</td>
                                        <td class="number">{{season.pitchingLog[season.teamId].pitchingTotals.r}}</td>
                                        <td class="number">{{season.pitchingLog[season.teamId].pitchingTotals.er}}</td>
                                        <td class="number">{{season.pitchingLog[season.teamId].pitchingTotals.hr}}</td>
                                        <td class="number">{{season.pitchingLog[season.teamId].pitchingTotals.bb}}</td>
                                        <td class="number">{{season.pitchingLog[season.teamId].pitchingTotals.ibb}}</td>
                                        <td class="number">{{season.pitchingLog[season.teamId].pitchingTotals.so}}</td>
                                        <td class="number">{{season.pitchingLog[season.teamId].pitchingTotals.hbp}}</td>
                                        <td class="number">{{season.pitchingLog[season.teamId].pitchingTotals.bk}}</td>
                                        <td class="number">{{season.pitchingLog[season.teamId].pitchingTotals.wp}}</td>
                                        <td class="number">{{season.pitchingLog[season.teamId].pitchingTotals.bf}}</td>
                                        <td class="number">{{season.pitchingLog[season.teamId].pitchingTotals.era}}</td>
                                        <td class="number">{{season.pitchingLog[season.teamId].pitchingTotals.whip}}</td>
                                        <td class="number">{{season.pitchingLog[season.teamId].pitchingTotals.k9}}</td>
                                        <td class="number">{{season.pitchingLog[season.teamId].pitchingTotals.bb9}}</td>
                                        <td class="number">{{season.pitchingLog[season.teamId].pitchingTotals.pit}}</td>
                                        <td class="number">{{season.pitchingLog[season.teamId].pitchingTotals.str}}</td>
                                    </tr>
                               </tbody>
                            </table>
                        </div>
                        <div ng-if="!season.hasPitchingLogs()" class="panel-footer">No pitching data for {{season.playerName}}</div>
                    </div>
                </section>
            </div>
        </section>
    </section>
</div>
