<div class="container main-body">
    <section id="main" class="content-container">
        <!--Main Section content-container-->

        <!--<div class="alert alert-danger">
            <strong>IMPORTANT!:</strong> If you were temporarily assigned to a different team prior to the 2020 canceled season, or if your team opted out of the 2021 season, you will
            probably need to receive a buddy pick invitation to permit you to properly register with your correct team(s). More detailed information will be published in the next few days
            and linked here. If you are unsure how to proceed, please wait for further instructions before attempting to register for the 2021 season.
        </div>-->

        <div class="row">

            <!-- Left Column -->
            <div class="col-md-8">

                <!-- Header -->
                <h2>
                    <span class="label label-success">{{registration.userName}}</span><span> </span><small>Summer {{registration.year}} Registration</small>
                    <a ng-show="registration.isCurrentYear()" href="#!/registration/{{currentYear - 1}}/{{registration.userId}}" class="btn btn-primary">View {{currentYear - 1}} Registration Info</a>
                    <a ng-if="false" href="#!/registration/{{registration.year}}/{{nextId()}}" class="btn btn-success">Next</a>
                    <img ng-show="loadingData" src="img/loading1.gif" title="Loading" />
                </h2>
                
                <!-- Previous Year Warning Banner -->
                <div ng-hide="registration.isCurrentYear()" class="alert alert-warning">
                    <p>
                        You are viewing registration information for a previous year. No changes to this information is permitted.
                    </p>
                </div>

                <!-- Register for current year -->
                <div ng-show="registration.canRegister()" class="panel panel-info">
                    <div class="panel-heading"><h4><strong>{{currentYear}} PSSBL Registration</strong></h4></div>
                    <a href="#!/register" class="btn btn-success">Register for {{currentYear}} Season</a>
                </div>

                <!-- Team List or Selection -->
                <h3 ng-click="callDebug()">Teams</h3>
                <div ng-hide="registration.teamCount > 0" class="panel panel-info">
                    <div class="panel-heading">You are not currently registered with any {{registration.year}} teams.</div>
                </div>

                <div ng-show="registration.teamCount > 0" class="panel panel-default">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Franchise</th>
                                    <th>Manager</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat-start="team in registration.teams">
                                    <td><a href="#!/team/{{team.team_id}}/{{team.team_name}}/{{team.division_name}}/{{registration.year}}">{{team.division_name}} {{team.team_name}}</a></td>
                                    <td>{{team.franchise}}</td>
                                    <td>{{team.manager_name}}</td>
                                    <td>
                                        <span ng-class="statusClass(team.roster_status)" class="label">{{team.roster_status}}</span>
                                    </td>
                                    <td ng-if="registration.canChangeStatus(team) && !team.changingStatus">
                                        <a role="button"  ng-disabled="!registration.isCurrentYear()" ng-hide="team.changingStatus" ng-click="team.changingStatus = true" class="btn btn-warning btn-sm">Change Status</a>
                                    </td>
                                </tr>
                                <tr ng-hide="!team.changingStatus" ng-repeat-end>
                                    <td colspan="2">
                                        <strong>Warning:</strong> This change will impose additional dues for the current season.
                                        If the season has already begun, you may only have to pay pro-rated dues, but the dues are
                                        calculated from the time of activation, not the time of payment, so do not activate until
                                        you are ready to pay.
                                        <div ng-show="team.error" class="alert alert-danger">
                                            Error Attempting Status Change: {{team.error}}
                                            <a ng-show="team.error" role="button" style="float:right" ng-click="team.error = ''" class="glyphicon glyphicon-remove-sign"></a>
                                        </div>
                                    </td>
                                    <td>
                                        <a role="button" ng-click="registration.changeStatus(team)" class="btn btn-success">Change Status to Active</a>
                                    </td>
                                    <td>
                                        <a role="button" ng-click="team.changingStatus = false" class="btn btn-danger">Cancel Change</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <h3>{{registration.year}} Player Draft</h3>
                <div ng-show="registration.isCurrentDraft()" class="panel panel-info">
                    <div class="panel-heading">
                        <h4><strong>{{registration.year}} Draft Registration</strong></h4>
                        Returning players should register for the season (above) before registering for the draft
                    </div>
                    <!-- <a href="#!/draft" ng-disabled="noDraft" class="btn btn-success">Register for the {{registration.year}} Draft</a> -->
                    <span>{{noDraftReason}}</span>
                </div>

                <!-- Waiver Wire Section -->
                <div ng-hide="registration.isCurrentDraft()" class="panel panel-info">
                    <div ng-hide="registration.isCurrentDraft() || registration.isFreeAgent()" class="panel panel-info">
                        <div class="panel-heading">Draft registration for {{registration.year}} is closed.
                        <br> If you missed the Draft or were not Drafted, you are eligble for the Waiver Wire. 
                        <br><b>IF YOU ARE ON THE ROSTER OF A PSSBL TEAM YOU ARE NOT ELIGIBLE FOR THE WAIVER WIRE.</b></div>
                        <a href="#!/freeAgent" ng-disabled="!registration.isCurrentYear()" class="btn btn-success">Register for the {{registration.year}} Waiver Wire</a>
                        <!--<a href="#!/freeAgent" ng-disabled="true" class="btn btn-success">Register for the Waiver Wire {{registration.year}} Season</a>-->
                    </div>

                    <div ng-show="registration.isFreeAgent()" class="panel panel-info">
                        You are Registered as on the Waiver Wire for the {{registration.year}} Season.
                    </div>
                </div>

                <!-- Taxi Pool Section -->
                <h3>
                    {{registration.year}} Taxi Pool
                    <a ng-show="registration.isCurrentYear() && registration.isTaxiPlayer()" role="button" style="float:right" ng-click="registration.leaveTaxi()" class="btn btn-warning btn-sm">Leave Taxi Pool</a>
                </h3>
                <div ng-hide="registration.isCurrentYear()" class="panel panel-info">
                    <div class="panel-heading">Taxi Pool registration for {{registration.year}} is closed.</div>
                </div>
                <div ng-show="registration.isCurrentYear() && registration.canRegister()" class="panel panel-info">
                    <div class="panel-heading">You must register for the {{registration.year}} season before joining the taxi pool.</div>
                </div>

                <div ng-show="registration.isCurrentYear() && !registration.canRegister()" class="panel panel-info">
                    <div ng-hide="registration.isTaxiPlayer()" class="panel-heading">
                        You are not currently registered for the {{registration.year}} Taxi Pool
                        <a role="button" style="float:right" ng-hide="registration.joiningTaxi" ng-click="registration.joiningTaxi=true" class="btn btn-warning btn-sm">Join Taxi Pool</a>
                    </div>
                    <div ng-show="registration.joiningTaxi" class="row col-md-12" style="margin:5px; border:2px solid gray; border-radius:5px; width:100%">
                        <div class="col-md-6">
                            <strong>Positions:</strong>
                            <div class="row">
                                <label><input ng-model="registration.taxiForm.positions.p" type="checkbox" name="P">P</label>
                                <label><input ng-model="registration.taxiForm.positions.c" type="checkbox" name="C">C</label>
                                <label><input ng-model="registration.taxiForm.positions.b1" type="checkbox" name="1B">1B</label>
                                <label><input ng-model="registration.taxiForm.positions.b2" type="checkbox" name="2B">2B</label>
                                <label><input ng-model="registration.taxiForm.positions.ss" type="checkbox" name="SS">SS</label>
                                <label><input ng-model="registration.taxiForm.positions.b3" type="checkbox" name="3B">3B</label>
                                <label><input ng-model="registration.taxiForm.positions.lf" type="checkbox" name="LF">LF</label>
                                <label><input ng-model="registration.taxiForm.positions.cf" type="checkbox" name="CF">CF</label>
                                <label><input ng-model="registration.taxiForm.positions.rf" type="checkbox" name="RF">RF</label>
                                <label><input ng-model="registration.taxiForm.gear" type="checkbox" name="Gear">I have my own catcher's gear and mask</label>
                            </div>
                            <button ng-show="registration.joiningTaxi" ng-click="registration.joinTaxi()" class="btn btn-success">Join Taxi Pool</button>
                            <button ng-show="registration.joiningTaxi" ng-click="registration.joiningTaxi=false" class="btn btn-danger">Cancel</button>
                            <img ng-show="registration.taxiChange.loadingData" src="img/loading1.gif" title="Loading" />
                            <div ng-show="registration.taxiChange.error" class="alert alert-danger">
                                {{registration.taxiChange.error}}
                                <a ng-show="registration.taxiChange.error" role="button" style="float:right" ng-click="registration.taxiChange.error = ''" class="glyphicon glyphicon-remove-sign"></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <strong>Notes:</strong>
                            <textarea rows="4" cols="45" ng-model="registration.taxiForm.notes" placeholder="enter any additional information"></textarea>
                        </div>
                    </div>

                    <div ng-show="registration.isTaxiPlayer()">
                        <div class="panel panel-default">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Positions</th>
                                            <th>Has Gear</th>
                                            <th>Notes</th>
                                            <th>Date</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{registration.taxiPositions()}}</td>
                                            <td>
                                                <span ng-class="registration.hasGear() ? 'success fa fa-check' : 'danger fa fa-times'">{{registration.hasGear() ? 'Yes' : 'No'}}</span>
                                            </td>
                                            <td>{{registration.taxi.notes}}</td>
                                            <td>{{registration.taxi.join_date | date}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

                <!--Added ability to re-sign waiver for special circumstances -->
                <div ng-show="registration.waiverNeeded()">
                    <!-- registration.waiverNeeded() or just false-->
                    <h3>{{registration.year}} Player Waiver</h3>
                    <div ng-show="registration.isCurrentYear()" class="panel panel-info">
                        <div class="panel-heading"><h4><strong>You need to sign the {{registration.year}} Waiver</strong></h4></div>
                        <div style="text-align:center">
                            <a role="button" ng-click="registration.showWaiver()" class="btn btn-primary a">View and Sign the Waiver</a>
                       </div>
                    </div>
                </div>

                <!--div ng-show="registration.isCurrentYear()" class="panel panel-info" **DISABLE UNLESS SAFECO REGISTRATION OPEN** -->
                <div ng-show="false" class="panel panel-info">
                    <div class="panel-heading"><h4><strong>{{registration.year}} Safeco Field Event Registration</strong></h4></div>
                    <div style="text-align:center">
                        <a href="#!/event" class="btn btn-success">Register for the {{registration.year}} Safeco Field Event</a>
                        <span></span>
                    </div>
                </div>

                <!-- Daytime midweek baseball: show only if age eligible -->
                <!--div ng-show="registration.isDayLeagueEligible()" CHANGE to "false" after closed -->
                <div ng-show="registration.isDayLeagueEligible()">
                    <h3>{{registration.year}} Daytime Baseball Registration</h3>
					<!-- Player may already be registered for Daytime Baseball -->
                    <div ng-show="!registration.dayLeague.registered" class="panel panel-info">
                        <div class="panel-heading">
                            You may be eligible to participate in the midweek daytime baseball schedule. See details
                            <a href="#!/articles/day-league">here:</a> 
                            <a href="#!/articles/day-league"><h4><strong>{{registration.year}} Midweek Day Baseball Info</strong></h4></a>
                            Registration closes on May 13th, {{registration.year}}.
                        </div>
                        <div style="text-align:center">
                            <a role="button" ng-click="registration.registerDayLeague()" class="btn btn-success a" ng-disabled="registration.dayLeague.disabled">
                            Register and Pay
                            </a>
                        </div>
                    </div>
                    <div ng-show="registration.dayLeague.registered" class=" panel panel-info">
                        <div class="panel-heading">
                            You have registered for midweek daytime baseball and have been assigned to team: <strong>{{registration.dayLeague.team}}</strong>.
                        </div>
                    </div>
                </div>

           </div>

            <!-- Right side info column -->
            <div class="col-md-4">
                <div class="well useful-info">
                    <h4>Useful Links &amp; Information</h4>
                    <ul>
                        <li><a target="_blank" href="#!/articles/LeagueRules">{{registration.year}} League Rules</a></li>
                        <li><a target="_blank" href="#!/articles/RefundPolicy">Refund Policy</a></li>
                        <li><a target="_blank" href="#!/articles/PlayerRights">Player Rights</a></li>
                    </ul>
                    <h5>Tryout Dates</h5>
                    <ul>
                        <li>Mar 8th at Russell Road Park</li>
                        <li>Mar 15th at Russell Road Park</li>
                        <li>Mar 22nd at Interlake High School</li>
                        <li><a href="#!/articles/Welcome to the 2026 Season#top" target="_blank">Full Details</a></li>
                    </ul>
                    <h5>PSSBL Draft</h5>
                    <p>The draft will be held on March 28th.</p>
                    <h5>Opening Day</h5>
                    <p>Most divisions will start playing on May 1st.</p>
                </div>
            </div>

        </div>

        <!-- Full width row for registration events -->
        <div class="row">
            <div class="col-md-12">
                <a name="events"></a>
                <h3>Registration Events &amp; Payments</h3>
                <div ng-hide="registration.events.length > 0" class="panel panel-info">
                    <div class="panel-heading">You had no registration events or payments in {{registration.year}}</div>
                </div>
                <div ng-show="registration.events.length > 0" class="panel panel-default">
                    <div class="table-responsive">
                        <table class="table events-table table-hover">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Comment</th>
                                    <th>Date</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="event in registration.events" ng-class="event.status">
                                    <!-- The event fields will depend on the event type-->

                                    <td class="event-type">
                                        <div class="btn btn-default btn-lg disabled">
                                            <span ng-class="event.iconClass" class="fa"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div ng-bind-html="event.comment | to_trusted"></div>
                                    </td>
                                    <td>{{event.date | date : 'MMM dd, yyyy'}}</td>
                                    <td class="number">{{.01 * event.amount | currency}}</td>
                                </tr>
                            </tbody>
                            <tfoot class="summary info">
                                <tr>
                                    <td colspan="2">
                                        <a ng-show="registration.isCurrentYear() && registration.amountOwed > 0" role="button" ng-click="PayDues()" class="btn btn-success a">Pay Now</a>
                                    </td>
                                    <td class="number"><strong>Total Dues Owed</strong></td>
                                    <td class="number">
                                        <input type="hidden" value="0.00" class="amount-owed"><strong><span class="amount-owed-display">{{.01 * registration.amountOwed | currency}}</span></strong>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <!-- Credit card payments handled by directive -->
                <credit-directive />
            </div>
        </div>
    </section>
</div>
