<div class="container main-body">
    <section id="main-media" class="content-container">

        <div ng-switch on="RegisterPage">

            <div ng-switch-when="Loading">
                <h1>Loading Registration Information  <img src="img/loading1.gif" width="128" style="margin-left: 60px;" title="Loading" /></h1>
                <div class="row"><canvas width="200" height="400"></canvas></div>
            </div>

            <div ng-switch-when="Main">
                <h1 ng-click="callDebug()">Welcome to {{currentYear}} PSSBL Player Registration</h1>
                <!--
                    Pressed for time here, but eventually need to move all styling to .css file
                    and reformat for responsive display.
                -->

                <style type="text/css">
                    .tg {
                        border-collapse: collapse;
                        border-spacing: 0;
                        border-color: #aaa;
                    }

                        .tg td {
                            padding: 10px 5px;
                            border-style: solid;
                            border-width: 1px;
                            overflow: hidden;
                            word-break: normal;
                            border-color: #aaa;
                            color: #333;
                            background-color: #fff;
                        }

                        .tg th {
                            padding: 10px 5px;
                            border-style: solid;
                            border-width: 1px;
                            overflow: hidden;
                            word-break: normal;
                            border-color: #aaa;
                            color: #fff;
                            background-color: #f38630;
                        }

                        .tg .tg-yw4l {
                            vertical-align: top;
                        }

                        .tg .tg-oskr {
                            background-color: #ffffff;
                            vertical-align: top;
                        }

                        .tg .tg-kjho {
                            background-color: #FCFBE3;
                            vertical-align: top;
                            font: bold;
                        }

                        .tg .tg-uwer {
                            background-color: #9aff99;
                            vertical-align: top;
                        }

                        .tg .tg-money {
                            text-align: right;
                        }
                </style>

                <table class="tg">
                    <tr>
                        <th class="tg-yw4l">Step</th>
                        <th colspan="2" class="tg-yw4l">Action</th>
                        <th class="tg-yw4l" style="width:10%">Amount</th>
                    </tr>
                    <tr>
                        <td class="tg-kjho" style="width:15%" rowspan="{{registerForm.teams.length + 1}}"><h4>1: Team Status</h4></td>
                        <td class="tg-kjho" colspan="3">Indicate your team status for the {{currentYear}} season
                        <br /><span style="color:red;" ng-show="!allTeamsMarked()"><em>You must indicate your intended status for each team before you can register</em></span>
                        </td>
                    </tr>
                    <tr ng-repeat="team in registerForm.teams">
                        <td class="tg-yw4l"><h3>{{team.division_name}} {{team.team_name}}</h3></td>
                        <td style="width:30%" class="tg-yw4l">
                            <div class="btn-group" data-toggle="buttons">
                                <label ng-hide="teamStatus($index, 'active')" ng-click="setTeamStatus($index, 'active')" class="btn btn-default">
                                    <input type="radio">
                                    <span>Active</span>
                                </label>
                                <label ng-show="teamStatus($index, 'active')" for="fancy-checkbox-default" class="btn btn-default active">
                                    <span style="color:green" class="glyphicon glyphicon-ok"></span>
                                    Active
                                </label>
                                <label ng-hide="teamStatus($index, 'inactive')" ng-click="setTeamStatus($index, 'inactive')" class="btn btn-default">
                                    <input type="radio">
                                    <span>Inactive</span>
                                </label>
                                <label ng-show="teamStatus($index, 'inactive')" for="fancy-checkbox-default" class="btn btn-default active">
                                    <span style="color:yellow" class="glyphicon glyphicon-asterisk"></span>
                                    Inactive
                                </label>
                                <label ng-hide="teamStatus($index, 'leaving')" ng-click="setTeamStatus($index, 'leaving')" class="btn btn-default">
                                    <input type="radio">
                                    <span>Not Joining</span>
                                </label>
                                <label ng-show="teamStatus($index, 'leaving')" for="fancy-checkbox-default" class="btn btn-default active">
                                    <span style="color:red" class="glyphicon glyphicon-remove"></span>
                                    Not Joining
                                </label>
                            </div>
                        </td>
                        <td class="tg-yw4l tg-money">{{.01 * registerForm.teams[$index].dues | currency}}</td>
                    </tr>
                    <tr>
                        <td class="tg-uwer" rowspan="2"><h4>2: Taxi Pool</h4></td>
                        <td class="tg-uwer" colspan="3">
                            Do you wish to participate in the {{currentYear}} Taxi Pool?
                            Taxi pool players are called upon to fill in when teams are short handed.
                            There is no additional charge to participate in the taxi pool for paid active or inactive players.
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="btn-group" data-toggle="buttons">
                                <label ng-hide="registerForm.taxi" ng-click="setTaxi(true)" class="btn btn-default">
                                    <input type="radio" name="options" id="option2">
                                    <span>Yes</span>
                                </label>
                                <label ng-show="registerForm.taxi" for="fancy-checkbox-default" class="btn btn-default active">
                                    <span style="color:green" class="glyphicon glyphicon-ok"></span>
                                    Yes
                                </label>
                                <label ng-show="registerForm.taxi" ng-click="setTaxi(false)" class="btn btn-default">
                                    <input type="radio" name="options" id="option2">
                                    <span>No</span>
                                </label>
                                <label ng-hide="registerForm.taxi" for="fancy-checkbox-default" class="btn btn-default active">
                                    <span style="color:red" class="glyphicon glyphicon-remove"></span>
                                    No
                                </label>
                                &nbsp;&nbsp;&nbsp;
                                <span ng-show="registerForm.taxi">I would like to join the {{currentYear}} taxi pool.</span>
                                <span ng-hide="registerForm.taxi">I do not want to join the {{currentYear}} taxi pool.</span>
                                <div ng-show="registerForm.taxi" class="row col-md-12" style="margin:5px; border:2px solid gray; border-radius:5px; width:100%">
                                    <div class="col-md-6">
                                        <strong>Positions:</strong>
                                        <div class="row">
                                            <label><input ng-model="registerForm.positions.p" type="checkbox" name="P">P</label>
                                            <label><input ng-model="registerForm.positions.c" type="checkbox" name="C">C</label>
                                            <label><input ng-model="registerForm.positions.b1" type="checkbox" name="1B">1B</label>
                                            <label><input ng-model="registerForm.positions.b2" type="checkbox" name="2B">2B</label>
                                            <label><input ng-model="registerForm.positions.ss" type="checkbox" name="SS">SS</label>
                                            <label><input ng-model="registerForm.positions.b3" type="checkbox" name="3B">3B</label>
                                            <label><input ng-model="registerForm.positions.lf" type="checkbox" name="LF">LF</label>
                                            <label><input ng-model="registerForm.positions.cf" type="checkbox" name="CF">CF</label>
                                            <label><input ng-model="registerForm.positions.rf" type="checkbox" name="RF">RF</label>
                                            <label><input ng-model="registerForm.gear" type="checkbox" name="Gear">I have my own catcher's gear and mask</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <strong>Notes:</strong>
                                        <textarea rows="3" cols="50" ng-model="registerForm.notes" placeholder="enter any additional information"></textarea>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="tg-yw4l tg-money">{{.01 * registerForm.taxiDues | currency}}</td>
                    </tr>
                    <tr>
                        <td class="tg-kjho"><h4>3: Sign Waiver</h4></td>
                        <td ng-hide="registerForm.waiver" class="tg-yw4l" colspan="2">
                            <a role="button" ng-click="showWaiver()" class="btn btn-primary a">View and Sign the Waiver</a>
                            <span style="color:red; text-align:right;">The waiver must be signed before you can register.</span>
                        </td>
                        <td ng-show="registerForm.waiver" class="tg-oskr" colspan="2">
                            <h4>
                                <span style="color:green" class="glyphicon glyphicon-ok"></span>
                                &nbsp;<em><b>Waiver Signed</b></em>
                            </h4>
                        </td>
                        <td class="tg-yw4l"></td>
                    </tr>
                    <tr>
                        <td class="tg-kjho"><h4>4: Register</h4></td>
                        <td class="tg-yw4l">
                            <a role="button" ng-disabled="blockRegistration(false)" ng-click="Register(true)" class="btn btn-success a">
                                <span style="color:green" class="glyphicon glyphicon-dollar"></span>Register and Pay Dues
                            </a>
                            <a role="button" ng-disabled="blockRegistration(false)" ng-click="Register(false)" class="btn btn-info a">Register without Payment</a>
                            <em>Total shown does not include any rollover credits or discounts that will be applied at time of payment</em>
                        </td>
                        <td>You can pay later or send a check for payment to: PSSBL, P.O. Box 577, Seattle, WA  98111-0177</td>
                        <td class="tg-yw4l tg-money"><h3>{{.01 * registerForm.totalDues | currency}}</h3></td>
                    </tr>
                </table>
            </div>

            <div ng-switch-when="Waiver">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="well row">
                            <h2>About the Waiver</h2>
                            <p>
                                Signing the Waiver of Liability is required to play in the Puget Sound Senior Baseball League.
                            </p>
                            <p>Please take the time to read the waiver, and then digitally sign the waiver at the bottom of the page.</p>
                            <p>If you have any questions about the waiver, please contact the league staff.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div ng-bind-html="html | to_trusted"></div>
                </div>
                <div class="well row">
                    <div class="alert alert-warning">
                        Type your name <strong>Exactly</strong> as it appears to sign your waiver.
                    </div>
                    <h2>{{login.userName}}</h2>
                    I, <input name="waiver-signature" ng-model="registerForm.signature" placeholder="type name here">, agree to the Waiver of Liability
                    <div ng-show="registerForm.signatureError" class="alert alert-danger">
                        <strong>Error:</strong> Signature does not match name
                    </div>
                </div>
                <div class="row">
                    <a role="button" ng-click="signWaiver(true)" class="btn btn-success a">Yes, I Agree</a>
                    <a role="button" ng-click="signWaiver(false)" class="btn btn-danger a">No, I Don't Agree</a>
                </div>
            </div>

            <div ng-switch-when="Error">
                <div ng-switch on="registerForm.errorType">
                    <div ng-switch-when="balance_owed">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="well row">
                                    <h2>Remaining Balance for Previous Year</h2>
                                    <p>
                                        At present, you are showing an unpaid balance for the previous season. We are currently restricting {{currentYear}} registration
                                        to members who are fully paid for the previous season. Please be patient for a few days as we work to resolve special
                                        cases and open registration to everyone.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-switch-when="no_teams">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="well row">
                                    <h2>No Eligible Teams for {{currentYear}}</h2>
                                    <p>
                                        At present, there are no teams for which you are eligible to register for in {{currentYear}} as a
                                        returning player. You may still register for the league draft or as a taxi pool only player.
                                        <div style="text-align:center">
                                            <a role="button" ng-click="setTaxiOnly()" class="btn btn-success">Register for Taxi Pool Only</a>
                                        </div>
                                        To register only for the league draft, return to the registration page and select
                                         "Register for the {{currentYear}} Draft"
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row"><canvas width="200" height="400"></canvas></div>
                    </div>
                    <div ng-switch-when="bad_data">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="well row">
                                    <h2>Data Error</h2>
                                    <p>
                                        There was a problem retrieving your registration information from the server.
                                        If this problem persists please contact <a href="mailto:support@pssbl.com">support@pssbl.com</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-switch-when="server_error">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="well row">
                                    <h2>Registration Failure</h2>
                                    <p>
                                        There was a problem processing your registration information on the server.
                                        Please contact <a href="mailto:support@pssbl.com">support@pssbl.com</a>. and report the following result:
                                        <br />{{registerForm.errorDetails}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-switch-when="Payment">
                <div ng-hide="registerComplete != ''">
                    <h2 ng-click="callDebug()">Processing Registration Form <img src="img/loading1.gif" width="128" style="margin-left: 60px;" title="Loading" /></h2>
                </div>
                <div class="row" ng-show="registerComplete != ''">
                    <div class="col-md-12">
                        <a name="events"></a>
                        <h3 ng-click="callDebug()">Registration Status</h3>
                        <div ng-hide="registration.events.length > 0" class="panel panel-info">
                            <div class="panel-heading">You had no registration events or payments in {{registration.year}}</div>
                        </div>
                        <div ng-show="registration.events.length > 0" class="panel panel-default">
                            <div class="table-responsive">
                                <table class="table events-table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Type</th>
                                            <th>Comment</th>
                                            <th>Date</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="event in registration.events" ng-class="event.status">
                                            <!-- The event fields will depend on the event type-->

                                            <td class="event-type">
                                                <div class="btn btn-default btn-lg disabled">
                                                    <span ng-class="event.iconClass" class="fa"></span>
                                                </div>
                                            </td>
                                            <td>
                                                <div ng-bind-html="event.comment | to_trusted"></div>
                                            </td>
                                            <td>{{event.date | date : 'MMM dd, yyyy'}}</td>
                                            <td class="number">{{.01 * event.amount | currency}}</td>
                                        </tr>
                                    </tbody>
                                    <tfoot class="summary info">
                                        <tr>
                                            <td colspan="2"></td>
                                            <td class="number">
                                                <strong>Total Dues Owed</strong>
                                            </td>
                                            <td class="number">
                                                <input type="hidden" value="0.00" class="amount-owed"><strong><span class="amount-owed-display">{{.01 * registration.amountOwed | currency}}</span></strong>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Credit card payment is handled by directive -->
                <credit-directive />
            </div>
            <div ng-show="registerForm.showComplete" class="row">
                <h1>Registration Complete!</h1>
                <p>You can pay later or send a check for payment to: PSSBL, P.O. Box 577, Seattle, WA  98111-0177</p>
            </div>
        </div>
    </section>
</div>