<div class="container main-body">
    <h2 ng-click="callDebug()">
        Score and Game Stat Entry &nbsp;
        <img ng-show="isLoading()" src="img/loading1.gif" title="Loading" />
    </h2>
    <div class="alert alert-warning">
        <strong>{{game.gameInfo.awayName}}</strong> @ <strong>{{game.gameInfo.homeName}}</strong>: {{game.gameInfo.dateTime}}, {{game.gameInfo.fieldName}}
    </div>
    <section id="main" class="content-container">

        <!-- Styling Info should eventually be moved to css file -->
        <!-- Selector for tool pages content -->
        <uib-tabset active="activePill" type="pills">
            <uib-tab index="0" heading="Score" select="showTab('Score')"></uib-tab>
            <uib-tab index="1" heading="Lineup" select="showTab('Lineup')"></uib-tab>
            <uib-tab index="2" heading="Enter Stats" select="showTab('Stats')"></uib-tab>
            <uib-tab index="3" heading="Umpire Feedback" select="showTab('Umpire')"></uib-tab>
        </uib-tabset>
        <hr />

        <div ng-switch on="tabSelected">

            <div ng-switch-when="Score">
                <div class="row">
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="table-responsive">
                                <table class="table table-condensed inning-summary">
                                    <thead>
                                        <tr>
                                            <th class="team-name"></th>
                                            <th width="20%">Runs</th>
                                        </tr>
                                    </thead>
                                    <tr>
                                        <td class="team-name"><a href="#!/team/{{game.gameInfo.awayId}}/{{game.gameInfo.awayName}}/{{game.gameInfo.awayDivision}}/{{game.gameInfo.year}}">{{game.gameInfo.awayName}}</a></td>
                                        <td>
                                            <input type="text" ng-model="score.lineScore.awayRunTotal" pattern='[0-9]{1,3}' style="width: 2em;">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="team-name"><a href="#!/team/{{game.gameInfo.homeId}}/{{game.gameInfo.homeName}}/{{game.gameInfo.homeDivision}}/{{game.gameInfo.year}}">{{game.gameInfo.homeName}}</a></td>
                                        <td>
                                            <input type="text" ng-model="score.lineScore.homeRunTotal" pattern='[0-9]{1,3}' style="width: 2em;">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="panel-footer text-center">
                                <ul class="list-unstyled list-inline game-controls">
                                    <li><a role="button" ng-disabled="loadingData" ng-click="score.submit()" class="btn btn-primary">Submit Score</a></li>
                                    <li><em>Please remember to submit umpire ratings for each game</em></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="panel panel-default">
                            <div class="table-responsive">
                                <table class="table table-condensed inning-summary">
                                    <thead>
                                        <tr>
                                            <th><span ng-click="removeInning()" style="color:red" class="glyphicon glyphicon-minus"></span></th>
                                            <th ng-repeat="runs in score.lineScore.awayRuns track by $index">{{$index + 1}}</th>
                                            <th><span ng-click="addInning()" style="color:green" class="glyphicon glyphicon-plus"></span></th>
                                            <th>R</th>
                                            <th>H</th>
                                            <th>E</th>
                                        </tr>
                                    </thead>
                                    <tr>
                                        <td class="team-name"><a href="#!/team/{{game.gameInfo.awayId}}/{{game.gameInfo.awayName}}/{{game.gameInfo.awayDivision}}/{{game.gameInfo.year}}">{{game.gameInfo.awayName}}</a></td>
                                        <td ng-repeat="runs in score.lineScore.awayRuns track by $index">
                                            <input type="text" ng-change="updateAwayRunTotal()" ng-model="score.lineScore.awayRuns[$index]" pattern='[0-9]{1,3}' style="width: 2em;">
                                        </td>
                                        <td></td>
                                        <td class="box-runs">{{score.lineScore.awayRunTotal}}</td>
                                        <td>
                                            <input type="text" ng-model="score.lineScore.awayHitTotal" pattern='[0-9]{1,3}' style="width: 2em;">
                                        </td>
                                        <td>
                                            <input type="text" ng-model="score.lineScore.awayErrorTotal" pattern='[0-9]{1,3}' style="width: 2em;">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="team-name"><a href="#!/team/{{game.gameInfo.homeId}}/{{game.gameInfo.homeName}}/{{game.gameInfo.homeDivision}}/{{game.gameInfo.year}}">{{game.gameInfo.homeName}}</a></td>
                                        <td ng-repeat="runs in score.lineScore.awayRuns track by $index">
                                            <input type="text" ng-change="updateHomeRunTotal()" ng-model="score.lineScore.homeRuns[$index]" pattern='[0-9]{1,3}' style="width: 2em;">
                                        </td>
                                        <td></td>
                                        <td class="box-runs">{{score.lineScore.homeRunTotal}}</td>
                                        <td>
                                            <input type="text" ng-model="score.lineScore.homeHitTotal" pattern='[0-9]{1,3}' style="width: 2em;">
                                        </td>
                                        <td>
                                            <input type="text" ng-model="score.lineScore.homeErrorTotal" pattern='[0-9]{1,3}' style="width: 2em;">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="panel-footer">
                                <ul class="list-unstyled list-inline game-controls text-center">
                                    <li><a role="button" ng-disabled="loadingData" ng-click="score.submit()" class="btn btn-primary">Submit Line Score</a></li>
                                </ul>
                                <div ng-show="score.result.error" class="alert alert-danger">
                                    <a ng-show="score.result.error" role="button" style="text-align:right" ng-click="score.result.error = ''" class="glyphicon glyphicon-remove-sign"></a>
                                    An error occured when attempting to submit the score. Your session might have timed out. It is recommended that
                                    you log out and log back in before proceding. The specific error reported was:
                                    <div style="text-align:center"><strong>{{score.result.error}}</strong></div>
                                </div>
                                <div ng-show="score.result.result=='success'" class="alert alert-success">
                                    <a ng-show="score.result.result=='success'" role="button" style="text-align:right" ng-click="score.result.result = ''" class="glyphicon glyphicon-remove-sign"></a>
                                    Score information was successfully saved.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div ng-switch-when="Lineup">
                <h3>Roster Players</h3>
                <div class="row">
                    <div class="col-md-4">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Player</th>
                                    <th>Add To:</th>
                                    <th>Add To:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="player in lineup.roster">
                                    <td width="10%">{{player.number}}</td>
                                    <td width="50%">{{player.firstName}} {{player.lastName}}</td>
                                    <td width="20%"><button class="btn btn-sm btn-primary" ng-click="lineup.addBatter(player.playerId)" ng-disabled="player.batting" type="button">Batters</button></td>
                                    <td width="20%"><button class="btn btn-sm btn-success" ng-click="lineup.addPitcher(player.playerId)" ng-disabled="player.pitching" type="button">Pitchers</button></td>
                                </tr>
                            </tbody>
                        </table>
                        <h4>Taxi Players</h4>
                        <table class="table table-bordered">
                            <tr ng-repeat="player in lineup.taxi">
                                <td width="10%">{{player.number}}</td>
                                <td width="50%">{{player.firstName}} {{player.lastName}}</td>
                                <td width="20%"><button class="btn btn-sm btn-primary" ng-click="lineup.addBatter(player.playerId)" ng-disabled="player.batting" type="button">Batters</button></td>
                                <td width="20%"><button class="btn btn-sm btn-success" ng-click="lineup.addPitcher(player.playerId)" ng-disabled="player.pitching" type="button">Pitchers</button></td>
                            </tr>
                        </table>
                        <a role="button" ng-click="lineup.addTaxi()" class="btn btn-success btn-md">
                            <span class="glyphicon glyphicon-plus"> Add</span>
                        </a>
                    </div>

                    <div class="col-md-4">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="2">Batting Order</th>
                                    <th><small>Sub</small></th>
                                    <th>Move</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="batter in lineup.batting">
                                    <td width="10%">{{batter.number}}</td>
                                    <td width="50%"><span ng-show="batter.isSub" class="glyphicon glyphicon-arrow-right"></span>{{batter.firstName}} {{batter.lastName}}</td>
                                    <td width="10%"><input ng-show="$index > 0" type="checkbox" ng-model="batter.isSub"/></td>
                                    <td width="30%">
                                        <a role="button" ng-click="lineup.moveBatterUp($index)" ng-disabled="$index == 0" class="btn btn-info btn-xs">
                                            <span class="glyphicon glyphicon-arrow-up"></span>
                                        </a>
                                        <a role="button" ng-click="lineup.moveBatterDown($index)" ng-disabled="$index == lineup.batting.length - 1" class="btn btn-info btn-xs">
                                            <span class="glyphicon glyphicon-arrow-down"></span>
                                        </a>
                                        <a role="button" ng-click="lineup.removeBatter($index)" class="btn btn-danger btn-xs">
                                            <span class="glyphicon glyphicon-remove-sign"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-4">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="4">Pitching Order</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="pitcher in lineup.pitching">
                                    <td width="10%">{{pitcher.number}}</td>
                                    <td width="60%">{{pitcher.firstName}} {{pitcher.lastName}}</td>
                                    <td width="30%">
                                        <a role="button" ng-click="lineup.movePitcherUp($index)" ng-disabled="$index == 0" class="btn btn-info btn-xs">
                                            <span class="glyphicon glyphicon-arrow-up"></span>
                                        </a>
                                        <a role="button" ng-click="lineup.movePitcherDown($index)" ng-disabled="$index == lineup.pitching.length - 1" class="btn btn-info btn-xs">
                                            <span class="glyphicon glyphicon-arrow-down"></span>
                                        </a>
                                        <a role="button" ng-click="lineup.removePitcher($index)" class="btn btn-danger btn-xs">
                                            <span class="glyphicon glyphicon-remove-sign"></span>
                                        </a>
                                    </td>
                                </tr>
                        </table>
                    </div>

                </div>
            </div>

            <div ng-switch-when="Stats">
                <div class="panel panel-default col-md-12">
                    <form>
                        <h3>Batting</h3>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Player</th>
                                        <th>AB</th>
                                        <th>R</th>
                                        <th>H</th>
                                        <th>RBI</th>
                                        <th>2B</th>
                                        <th>3B</th>
                                        <th>HR</th>
                                        <th>BB</th>
                                        <th>K</th>
                                        <th>SB</th>
                                        <th>CS</th>
                                        <th>HBP</th>
                                        <th>SAC</th>
                                        <th>SF</th>
                                        <th>CI</th>
                                        <th>GDP</th>
                                        <th>RBOE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="player in lineup.batting">
                                        <td><span ng-show="player.isSub" class="glyphicon glyphicon-arrow-right"></span>{{player.firstName}} {{player.lastName}}</td>
                                        <td><input type="text" ng-model="player.battingStats.ab" pattern='[0-9]{1,3}' style="width: 2em;"></td>
                                        <td><input type="text" ng-model="player.battingStats.r" pattern='[0-9]{1,3}' style="width: 2em;"></td>
                                        <td><input type="text" ng-model="player.battingStats.h" pattern='[0-9]{1,3}' style="width: 2em;"></td>
                                        <td><input type="text" ng-model="player.battingStats.rbi" pattern='[0-9]{1,3}' style="width: 2em;"></td>
                                        <td><input type="text" ng-model="player.battingStats.d" pattern='[0-9]{1,3}' style="width: 2em;"></td>
                                        <td><input type="text" ng-model="player.battingStats.t" pattern='[0-9]{1,3}' style="width: 2em;"></td>
                                        <td><input type="text" ng-model="player.battingStats.hr" pattern='[0-9]{1,3}' style="width: 2em;"></td>
                                        <td><input type="text" ng-model="player.battingStats.bb" pattern='[0-9]{1,3}' style="width: 2em;"></td>
                                        <td><input type="text" ng-model="player.battingStats.so" pattern='[0-9]{1,3}' style="width: 2em;"></td>
                                        <td><input type="text" ng-model="player.battingStats.sb" pattern='[0-9]{1,3}' style="width: 2em;"></td>
                                        <td><input type="text" ng-model="player.battingStats.cs" pattern='[0-9]{1,3}' style="width: 2em;"></td>
                                        <td><input type="text" ng-model="player.battingStats.hbp" pattern='[0-9]{1,3}' style="width: 2em;"></td>
                                        <td><input type="text" ng-model="player.battingStats.sh" pattern='[0-9]{1,3}' style="width: 2em;"></td>
                                        <td><input type="text" ng-model="player.battingStats.sf" pattern='[0-9]{1,3}' style="width: 2em;"></td>
                                        <td><input type="text" ng-model="player.battingStats.ci" pattern='[0-9]{1,3}' style="width: 2em;"></td>
                                        <td><input type="text" ng-model="player.battingStats.gdp" pattern='[0-9]{1,3}' style="width: 2em;"></td>
                                        <td><input type="text" ng-model="player.battingStats.rboe" pattern='[0-9]{1,3}' style="width: 2em;"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                    <form>
                        <h3>Pitching</h3>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Player</th>
                                        <th>W</th>
                                        <th>L</th>
                                        <th>SV</th>
                                        <th>IP</th>
                                        <th>R</th>
                                        <th>ER</th>
                                        <th>H</th>
                                        <th>BB</th>
                                        <th>K</th>
                                        <th>HBP</th>
                                        <th>BK</th>
                                        <th>WP</th>
                                        <th>BF</th>
                                        <th>PIT</th>
                                        <th>STR</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="player in lineup.pitching">
                                        <td>{{player.firstName}} {{player.lastName}}</td>
                                        <td><input type="checkbox" ng-model="player.pitchingStats.win" ng-disabled="player.pitchingStats.loss || player.pitchingStats.save" style="width: 1em;"></td>
                                        <td><input type="checkbox" ng-model="player.pitchingStats.loss" ng-disabled="player.pitchingStats.win || player.pitchingStats.save" style="width: 1em;"></td>
                                        <td><input type="checkbox" ng-model="player.pitchingStats.save" ng-disabled="player.pitchingStats.win || player.pitchingStats.loss" style="width: 1em;"></td>
                                        <td>
                                            <input type="text" ng-model ="player.pitchingStats.fullInnings" pattern='[0-9]{1,3}' style="width: 2em;">
                                            <select ng-model="player.pitchingStats.partInnings" name="outs">
                                                <option value="0">
                                                    --
                                                </option>
                                                <option value="1">
                                                    1/3
                                                </option>
                                                <option value="2">
                                                    2/3
                                                </option>
                                            </select>
                                        </td>
                                        <td><input type="text" ng-model="player.pitchingStats.r" pattern='[0-9]{1,3}' style="width: 2em;"></td>
                                        <td><input type="text" ng-model="player.pitchingStats.er" pattern='[0-9]{1,3}' style="width: 2em;"></td>
                                        <td><input type="text" ng-model="player.pitchingStats.h" pattern='[0-9]{1,3}' style="width: 2em;"></td>
                                        <td><input type="text" ng-model="player.pitchingStats.bb" pattern='[0-9]{1,3}' style="width: 2em;"></td>
                                        <td><input type="text" ng-model="player.pitchingStats.so" pattern='[0-9]{1,3}' style="width: 2em;"></td>
                                        <td><input type="text" ng-model="player.pitchingStats.hbp" pattern='[0-9]{1,3}' style="width: 2em;"></td>
                                        <td><input type="text" ng-model="player.pitchingStats.bk" pattern='[0-9]{1,3}' style="width: 2em;"></td>
                                        <td><input type="text" ng-model="player.pitchingStats.wp" pattern='[0-9]{1,3}' style="width: 2em;"></td>
                                        <td><input type="text" ng-model="player.pitchingStats.bf" pattern='[0-9]{1,3}' style="width: 2em;"></td>
                                        <td><input type="text" ng-model="player.pitchingStats.pit" pattern='[0-9]{1,3}' style="width: 2em;"></td>
                                        <td><input type="text" ng-model="player.pitchingStats.str" pattern='[0-9]{1,3}' style="width: 2em;"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="panel-footer text-center">
                            <ul class="list-unstyled list-inline game-controls">
                                <li><a role="button" ng-disabled="loadingData" ng-click="stats.submit()" class="btn btn-primary">Submit Stats</a></li>
                            </ul>
                            <div ng-show="saveStats.result.error" class="alert alert-danger">
                                <a ng-show="saveStats.result.error" role="button" style="text-align:right" ng-click="saveStats.result.error = ''" class="glyphicon glyphicon-remove-sign"></a>
                                An error occured when attempting to submit the stats. Your session might have timed out. It is recommended that
                                you log out and log back in before proceding. The specific error reported was:
                                <div style="text-align:center"><strong>{{saveStats.result.error}}</strong></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div ng-switch-when="Umpire">
                <div>
                    <br />
                    <br />
                    <table>
                        <thead>
                            <tr>
                                <th style="width:30%">Field Assignment</th>
                                <th style="width:30%;text-align:center" colspan="2">Rating</th>
                                <th style="width:40%">Comments</th>
                            </tr>
                            <tr>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td width="25%">Plate</td>
                                <td width="25%">
                                    <input type="range" min="1" max="5" value="5" class="slider" ng-model="feedback.plateRating">
                                </td>
                                <td width="10%" style="text-align:center;font-weight:bold;font-size:large">
                                    {{feedback.plateRating}}
                                </td>
                                <td width="40%" rowspan="2">
                                    <textarea rows="3" cols="40" ng-model="feedback.comments" placeholder="Enter comments"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>Base</td>
                                <td>
                                    <input type="range" min="1" max="5" value="5" class="slider"  ng-model="feedback.baseRating">
                                </td>
                                <td style="text-align:center;font-weight:bold;font-size:large">
                                    {{feedback.baseRating}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <div class="panel-footer text-center">
                        <ul class="list-unstyled list-inline game-controls">
                            <li><a role="button" ng-disabled="feedback.disabled" ng-click="feedback.submit()" class="btn btn-md btn-primary">Submit Feedback</a></li>
                        </ul>
                        <div ng-show="feedback.status == 'success'" class="alert alert-success">Umpire Feedback was successfully submitted</div>
                        <div ng-show="feedback.status == 'failed'" class="alert alert-danger">Attempt to Submit Feedback was unsuccessful</div>
                    </div>
                </div>
            </div>

            <div ng-switch-when="AddTaxi">
                <p></p>
                <div class="alert alert-danger">
                    <p>
                        Adding Taxi Players outside of the Taxi Pool Reservation System is only permitted under unusual circumstances with the permission of
                        the division commissioner and/or the league player agent. Unauthorized use of a taxi pool player may result in forfeiture
                        and/or other penalties.
                    </p>
                    <p>
                        If a taxi pool player participated in this game and was added outside of the normal process, please contact the league player agent to have
                        the player added as a game participant for the purpose of statistical reporting.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>