<div class="container main-body">
    <section id="main" class="content-container">

        <div ng-switch on="signup.page">

            <!-- Page to show while determining status -->
            <div ng-switch-when="Loading">
                <h1>Loading Signup Page  <img src="img/loading1.gif" width="128" style="margin-left: 60px;" title="Loading" /></h1>
                <div class="row"><canvas width="200" height="400"></canvas></div>
            </div>

            <!-- Invalid token parameters passed in -->
            <div ng-switch-when="CreateAccount">
                <h1 ng-click="callDebug()">Create a New Account&nbsp;<img ng-show="signup.loadingData" src="img/loading1.gif" title="Loading" /></h1>
                <!--
                    Pressed for time here, but eventually need to move all styling to .css file
                    and reformat for responsive display.
                -->

                <style type="text/css">
                    .tg {
                        border-collapse: collapse;
                        border-spacing: 0;
                        border-color: #aaa;
                    }

                        .tg td {
                            padding: 10px 5px;
                            border-style: solid;
                            border-width: 1px;
                            overflow: hidden;
                            word-break: normal;
                            border-color: #aaa;
                            color: #333;
                            background-color: #fff;
                        }

                        .tg th {
                            padding: 10px 5px;
                            border-style: solid;
                            border-width: 1px;
                            overflow: hidden;
                            word-break: normal;
                            border-color: #aaa;
                            color: #fff;
                            background-color: #f38630;
                        }

                        .tg .tg-yw4l {
                            vertical-align: top;
                        }

                        .tg .tg-formheader {
                            vertical-align: top;
                            text-align: center;
                        }

                        .tg .tg-oskr {
                            background-color: #ffffff;
                            vertical-align: top;
                        }

                        .tg .tg-kjho {
                            background-color: #FCFBE3;
                            vertical-align: top;
                            font: bold;
                        }

                        .tg .tg-uwer {
                            background-color: #99fff3;
                            vertical-align: top;
                        }

                        .tg .tg-account {
                            background-color: #9aff99;
                            vertical-align: top;
                            width: 50%;
                        }

                        .tg .tg-money {
                            text-align: right;
                        }
                </style>

                <table class="tg">
                    <tr>
                        <th colspan="2" class="tg-formheader">Account Signup Form</th>
                    </tr>
                    <tr>
                        <td class="tg-kjho" colspan="2">
                            Please do not create a new account if you have previously established an account on PSSBL. If you have played in the
                            league since 2006 or have tried out in either of the last two seasons, you likely already have an account here. If you can not
                            remember the login information for that account, please contact <a href="mailto:support@pssbl.com">support@pssbl.com</a> rather than creating
                            a new account. Thank you.
                        </td>
                    </tr>
                    <tr>
                        <td class="tg-account">
                            <h3>Account Information</h3>
                            <div class="row">
                                <div class="col-md-9 col-md-offset-1">
                                    <div class="form-group col-md-6">
                                        <label for="signup-first-name" class="control-label">First Name</label>
                                        <input name="signup-first-name" type="text" autofocus ng-model="signup.firstName" placeholder="first name" autocomplete="on" required maxlength="100" class="form-control">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="signup-last-name" class="control-label">Last Name</label>
                                        <input name="signup-last-name" type="text" ng-model="signup.lastName" placeholder="last name" autocomplete="on" required maxlength="100" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="signup-email" class="control-label">Email Address (this will serve as your login id)</label>
                                        <input name="signup-email" type="email" disabled ng-model="signup.email" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="signup-password" class="control-label">Password (Select a password to log in to PSSBL.com)</label>
                                        <input name="signup-password" type="password" ng-model="signup.password" placeholder="password" required min-length="6" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="signup-password2" class="control-label">Retype Password</label>
                                        <input name="signup-password2" type="password" ng-model="signup.password2" placeholder="password again" required min-length="6" class="form-control">
                                    </div>
                                    <div class="form-group col-md-8">
                                        <label for="signup-dob" class="control-label">Date of Birth</label>
                                        <input name="signup-dob" class="form-control" ng-model="signup.date" placeholder="MM/DD/YYYY" />
                                    </div>
                                    <div ng-show="signup.account.errorText" ng-bind-html="signup.account.errorText" class=" form-group col-md-12 alert alert-danger">
                                    </div>
                                </div>
                            </div>

                        </td>
                        <td class="tg-uwer">
                            <h3>Contact Information</h3>
                            <div class="row">
                                <div class="col-md-offset-1">
                                    <div class="form-group col-md-12">
                                        <label for="signup-address" class="control-label">Address</label>
                                        <input name="signup-address" type="text" ng-model="signup.address" placeholder="address" autocomplete="on" required maxlength="100" class="form-control">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="signup-address" class="control-label">Address 2</label>
                                        <input name="signup-address" type="text" ng-model="signup.address2" placeholder="(address 2)" autocomplete="on" maxlength="100" class="form-control">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="signup-address" class="control-label">City</label>
                                        <input name="signup-address" type="text" ng-model="signup.city" placeholder="city" autocomplete="on" required maxlength="50" class="form-control">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="signup-address" class="control-label">State</label>
                                        <input name="signup-address" type="text" ng-model="signup.state" value="WA" autocomplete="on" required maxlength="2" class="form-control">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="signup-address" class="control-label">Zip 5 Digits</label>
                                        <input name="signup-address" type="number" ng-model="signup.zip" placeholder="zip" autocomplete="on" required maxlength="15" class="form-control">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="signup-address" class="control-label">Phone (mobile)</label>
                                        <input name="signup-address" type="tel" ng-model="signup.phone" placeholder="phone" autocomplete="on" required maxlength="15" class="form-control">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="signup-address" class="control-label">Alt phone 1</label>
                                        <input name="signup-address" type="tel" ng-model="signup.alt_phone1" autocomplete="on" maxlength="15" class="form-control">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="signup-address" class="control-label">Alt phone 2</label>
                                        <input name="signup-address" type="tel" ng-model="signup.alt_phone2" autocomplete="on" maxlength="15" class="form-control">
                                    </div>
                                    <div ng-show="signup.contact.errorText" ng-bind-html="signup.contact.errorText" class=" form-group col-md-12 alert alert-danger">
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tg-kjho" colspan="2">
                            <a role="button" ng-click="submitAccount()" class="btn btn-info a  col-md-offset-5">Create Your Account</a>
                        </td>
                    </tr>
                </table>
            </div>

            <!-- Invalid token parameters passed in -->
            <div ng-switch-when="MailSent">
                <div class="col-md-8 col-md-offset-2 well">
                    <h2 ngclick="callDebug()">Signup Mail Sent</h2>
                    <p>
                        A mail has been sent to {{signup.email}}. Check your mailbox (don't forget to check your junk mail folder, just in case) and open the mail.
                        It will include a link that will return you to the site with an opportunity to register for an account.
                    </p>
                    <p>
                        If you are unable to locate the mail at all, please
                        contact <a href="mailto:support@pssbl.com">support@pssbl.com</a>
                    </p>
                </div>
                <div class="row"><canvas width="200" height="400"></canvas></div>
            </div>

            <div ng-switch-when="ReplyInvite">
                <div class="col-md-8 col-md-offset-2 well">
                    <h2 ngclick="callDebug()">Accept or Decline Invitation</h2>
                    <h3>
                        Do you wish to accept the invitation to join the {{signup.invite.teamName}}?
                    </h3>
                    <p style="text-align:center">
                        <a role="button" ng-click="signup.invite.replyInvite(true)" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span>Yes</a>
                        <a role="button" ng-click="signup.invite.replyInvite(false)" class="btn btn-danger"><span class="glyphicon glyphicon-remove-sign"></span>No</a>
                    </p>
                </div>
                <div class="row"><canvas width="200" height="400"></canvas></div>
            </div>

            <div ng-switch-when="ErrorMessage">
                <div class="col-md-8 col-md-offset-2 well">
                    <h2 ngclick="callDebug()">{{signup.errorTitle}}</h2>
                    <h3>
                        {{signup.errorText}}
                    </h3>
                </div>
                <div class="row"><canvas width="200" height="400"></canvas></div>
            </div>

            <!-- Invalid token parameters passed in -->
            <div ng-switch-when="AccountCreated">
                <div class="col-md-8 col-md-offset-2 well">
                    <h2 ngclick="callDebug()">Account Created</h2>
                    <p>
                        Your account on PSSBL.com has been created. Click the "Login" button on the top right of the page to login to your new account.
                        <strong>Please note that creating an account does not automatically register you for the draft or as a team member and additional registration steps
                        are required!</strong> If you are new to the PSSBL,
                        you will be able to register for the {{currentYear}} draft. You may also register with a team if you are invited to join by the General Manager,
                        subject to divisional restrictions. After logging in, look for the "Registration" menu item under your name (where the "Login" button orginally appeared) to
                        continue the registration process. You can also click the button below to continue the registration process.
                    </p>
                    <a ng-href="#!/signin/registration" class="btn btn-success">Login and Register&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></a>
                </div>
                <div class="row"><canvas width="200" height="400"></canvas></div>
            </div>

            <!-- Invalid token parameters passed in -->
            <div ng-switch-when="CreationFailed">
                <div class="col-md-8 col-md-offset-2 well">
                    <h2 ngclick="callDebug()">Account Creation Failed</h2>
                    <p>
                        The system was unable to create the account. Please contact <a href="mailto:support@pssbl.com">support@pssbl.com</a> and report the
                        following error: "{{signup.createResult.error}}"
                    </p>
                </div>
                <div class="row"><canvas width="200" height="400"></canvas></div>
            </div>

            <!-- Invalid token parameters passed in -->
            <div ng-switch-when="MailFail">
                <div class="col-md-8 col-md-offset-2 well">
                    <h2 ngclick="callDebug()">Signup Mail Could Not Be Sent</h2>
                    <p>
                        The system was unable to send the invitation mail. Please contact <a href="mailto:support@pssbl.com">support@pssbl.com</a> and report the
                        following error: "{{signup.error}}"
                    </p>
                </div>
                <div class="row"><canvas width="200" height="400"></canvas></div>
            </div>

            <!-- Invalid token parameters passed in -->
            <div ng-switch-when="BadToken">
                <div class="col-md-8 col-md-offset-2 well">
                    <h2 ngclick="callDebug()">Link Could Not Be Validated</h2>
                    <p>
                        The invitation link you are using could not be validated. Please check that you are using the original link sent
                        in your email invitation.
                    </p>
                    <p>
                        If you are unable to resolve this issue, please
                        contact <a href="mailto:support@pssbl.com">support@pssbl.com</a>
                    </p>
                </div>
                <div class="row"><canvas width="200" height="400"></canvas></div>
            </div>

            <div ng-switch-when="RequestAccount">
                <div class='col-md-8 col-md-offset-2 well' ng-if="!isCurrentDraft()">
                    <p>    
                        <p><strong>After the draft:</strong></p>
                        <p>If the draft has already concluded, most teams will already have full rosters but there are still a couple possible ways to get involved for the current season.</p>
                        
                    </p> 
                    <p>   
                        <p><strong>Taxi Pool</strong></p>
                        <p>The Taxi Pool is a pool (or sub-group) of PSSBL members who wish to be contacted from time to time to play for teams requesting additional players for a particular game.</p>
                        <p>
                        The purposes of the Taxi Pool are: a) to ensure that no game is ever forfeited due to a lack of available players on a team, and b) to provide an opportunity for the League's members to play in extra games.   
                        More details can be found here:  Taxi Pool Policy
                        </p>
                    </p>
                    <p>
                        All members of the PSSBL are eligible to participate in the Taxi Pool, so all that is required is to register and pay the PSSBL base dues of {{season.baseDues}}. 
                        Taxi pool usage is based on the needs of the teams, so there is no guaranteed number of games a player will be invited to play; however we do prioritize “Taxi-Pool” only players in the selection. 
                        Follow the instructions at the <a href="https://pssbl.com/#!/articles/existing-player-help#taxireg">FAQ</a> (How / when can I sign up?) to register for the taxi pool.
                    </p>
                    <p>
                        <p><strong>Free Agents</strong></p>
                        <p>While all teams already have rosters of 15 or more players by the conclusion of the draft, situations often arise during the season which cause teams to need additional players.</p>  
                        <p>
                            The league player agent maintains a list of players who wish to be considered as late adds and distributes this list to all teams periodically throughout the season. 
                            Every effort will be made to help players find a team, but understand that it will be on a best effort basis and depends largely on the needs of the teams.
                        </p>
                        <p>
                            There is no cost to be on the Free Agent list. 
                            If you end up placed on a team, you will pay a prorated portion of the player dues based on the number of games remaining in the season (you must be fully registered and paid before you appear in any game). 
                            In order to be eligible for the playoffs, you would need to be on the roster of a team no later than midnight on {{season.playoffCutoffDate}}.
                        </p> 
                    </p>
                </div>

                <div class="col-md-8 col-md-offset-2 well">
                    <h2 ngclick="callDebug()">Request New Account &nbsp;<img ng-show="signup.loadingData" src="img/loading1.gif" title="Loading" /></h2>
                    <p>
                        In order to register for the {{season.currentYear}} player draft, you must first have an account on PSSBL.com.                    </p>
                    <p>
                        In the form below, please enter a valid e-mail address that will serve as your login account name on this web site. You will be sent an
                        email asking you to confirm this request. It will include a link that will return you to the site with an opportunity to register for an
                        account. You will then be able to log in and register for the draft.
                    </p>
                    <p>
                        Please do not submit a request if you already have an account on PSSBL.com. Anyone who has played in the league or tried out for a team since
                        2006 is likely to already have an account.
                    </p>
                    <p>
                        If you do not receive the email message within a few minutes, remember to check your junk mail folder as well. If you are unable to locate the
                        mail at all, please contact <a href="mailto:support@pssbl.com">support@pssbl.com</a>
                    </p>
                    <form name="requestForm" class="form">
                        <noscript>
                            <div class="alert alert-warning noscript">
                                JavaScript must be enabled in order to login.
                            </div>
                        </noscript>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-2">
                                <div class="form-group">
                                    <label for="signup-name" class="control-label">Your Name</label>
                                    <input name="signup-name" ng-enter="signup.requestAccount()" autofocus ng-model="signup.name" placeholder="type your name here" required min-length="5" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="signup-email" class="control-label">Email</label>
                                    <input name="signup-email" type="email" ng-model="signup.email" placeholder="enter a valid email address" autocomplete="on" required maxlength="150" class="form-control">
                                </div>
                                <div ng-show="signup.showRequestError" class="alert alert-danger">
                                    {{signup.requestError}}
                                </div>
                                <button type="button" ng-disabled="signup.hasAdminPrivileges()" ng-click="signup.requestAccount(false)" class="btn btn-primary submit-input"><span class=" btn btn-content">Request Account</span></button>
                                <p ng-if="signup.hasAdminPrivileges()" style="color:red">
                                    You are authorized to create an account on someone else's behalf. Please do not proceed unless you are prepared to enter all required
                                    registration information.
                                </p>
                                <button ng-if="signup.hasAdminPrivileges()" type="button" ng-click="signup.requestAccount(true)" class="btn btn-danger">
                                    <span class="btn btn-content">Admin Request for Account</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Buddy Invitation accepted -->
            <div ng-switch-when="Invite">
                <div class="col-md-8 col-md-offset-2 well">
                    <h2 ngclick="callDebug()">Invitation Successful</h2>
                    <p>
                        You are now eligible to register as a member of the inviting team. Log in to your account and select the
                        registration item from the login menu to complete the process of registering for your new team (or just click the button below).
                    </p>
                    <a ng-href="#!/signin/registration" class="btn btn-success">Login and Register&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></a>
                </div>
                <div class="row"><canvas width="200" height="400"></canvas></div>
            </div>
        </div>
    </section>
</div>

