<style>
    /* Will move style definitions to .css file when done */

    #rsvp .rsvpHeader {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #rsvp .message-flag {
        height: 30px;
        width: 100%;
        padding: 5px;
        margin-bottom: 0;
		text-align: right;
    }
	
	#rsvp .comment-header {
		text-indent: 30px;
	}	
	
	#rsvp .comment-input {
		margin-left: 20px;
		width: 400px;
	}
	
	#rsvp .game-row {
		height: 52px;
	}
</style>

<div class="container main-body">
    <section id="main" class="content-container">

        <!-----------------------------------------
         Rough First cut at this ... will probably want to clean up the tab selection logic and
         use angularjs directives to display the tables.
        ----------------------------------------->

        <section>
            <alert ng-show="invalidParams" close="closeAlert()">
                <strong>Warning!</strong> No results were found for selected parameters: *** {{ originalParams}} ***
                Selecting defaults for invalid values.
            </alert>

            <h1>
                {{ divisionName }} {{teamName}}
                <small class="heading-subtext">
                    Summer {{ year }}&nbsp;
                </small>
                <img ng-show="loadingData" src="img/loading1.gif" title="Loading" />
            </h1>
            <uib-tabset active="activeTabIndex">
                <uib-tab heading="Schedule" select="showTab('Schedule')"></uib-tab>
                <uib-tab heading="Roster" select="showTab('Roster')"></uib-tab>
                <uib-tab ng-if="rsvp.isTeamMember()" heading="RSVP" select="showTab('RSVP')"></uib-tab>
                <uib-tab heading="Stats" select="showTab('Stats')"></uib-tab>
                <uib-tab heading="Other Seasons" select="showTab('OtherSeasons')">
                </uib-tab>
                <uib-tab ng-click="navigateUp()">
                    <uib-tab-heading>
                        <i class="glyphicon glyphicon-arrow-up"></i> {{ divisionName }} Summer {{ year }}
                    </uib-tab-heading>
                </uib-tab>
            </uib-tabset>

            <div ng-switch on="tabSelected">

                <div ng-switch-when="Schedule">
                    <schedule-directive />
                </div>

                <div ng-switch-when="Roster">
                    <h2>
                        Roster &nbsp; &nbsp; &nbsp;
                        <button ng-if="canManage()" autocomplete="off" ng-click="manageRoster()" class="btn btn-primary">
                            <span>Manage</span>
                        </button>
                    </h2>
                    <div class="panel panel-default">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Age</th>
                                    <th>Status</th>
                                    <th>Added</th>
                                    <th>Balance</th>
                                    <th>Waiver</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="player in roster">
                                    <td>{{player.number}}</td>
                                    <td>
                                        <a href="#!/player/{{player.playerId}}">{{player.firstName}} {{player.lastName}}</a>
                                        <span ng-if="player.GM == 1" class="label label-info manager-label">Manager</span>
                                    </td>
                                    <td>{{getPlayerAge(player.birthDate)}}</td>
                                    <td>
                                        <span class="label" ng-class="isActive(player.status) ? 'label-success' : 'label-default'">{{player.status}}</span>
                                    </td>
                                    <td>{{player.registered}}</td>
                                    <td>{{.01 * player.balance | currency}}</td>
                                    <td>
                                        <span class="label" ng-class="isTrue(player.waiver) ? 'success fa fa-check' : 'danger fa fa-times'">{{isTrue(player.waiver) ? 'Yes' : 'No'}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="rsvp" ng-switch-when="RSVP">
                    <div class="alert alert-danger">
                        <p>
                            <strong>Attention!</strong> You are viewing a feature that is in pre-release status. There may still be a few bugs and the look and feel may change somewhat, although
                            any data you enter should be preserved. It is recommended that you access this feature from a desktop or laptop device, as the interface has not yet been optimized for mobile
                            devices.
                        </p>
                    </div>
                    <div class="rsvpHeader">
                        <h2>
                            RSVP &nbsp; &nbsp; &nbsp;
                        </h2>
                        <div ng-if="rsvp.replyMode" style="text-align:right">
                            <a role="button" ng-hide="rsvp.editing" ng-click="rsvp.editing = true" style="align-content:end" class="btn btn-primary">Edit</a>
                            <a role="button" ng-show="rsvp.editing" ng-click="rsvp.SubmitEdits()" class="btn btn-success">Submit</a>
                            <a role="button" ng-show="rsvp.editing" ng-click="rsvp.CancelEdits()" class="btn btn-danger">Cancel Edit</a>
                            <div>
                                <img ng-show="rsvp.loadingData" src="img/loading1.gif" title="Loading" />
                                <div ng-show="rsvp.confirm" class="alert alert-success message-flag">
                                    {{rsvp.confirm}}
                                    <a ng-show="rsvp.confirm" role="button" style="float:right" ng-click="rsvp.confirm = ''" class="glyphicon glyphicon-remove-sign"></a>
                                </div>
                                <div ng-show="rsvp.error" class="alert alert-danger message-flag">
                                    {{rsvp.error}}
                                    <a ng-show="rsvp.error" role="button" style="float:right" ng-click="rsvp.error = ''" class="glyphicon glyphicon-remove-sign"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="col-md-6">
                            <table class="table games-list">
                                <thead>
                                    <tr class="game-row">
                                        <th>Game</th>
                                        <th><button ng-click="rsvp.SetMode('status', -1)" ng-class="rsvp.buttonClass()">My Status</button></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="game in games" class="game-row">
                                        <td>
                                            <button ng-click="rsvp.SetMode('game', game)" ng-class="rsvp.buttonClass(game)">{{game.date | date:'EEE MMM d'}}</button>
                                        </td>
                                        <td>
                                            {{game.time | date:'h:mm a'}}
                                        </td>
                                        <td>
                                            <a href="#!/team/{{game.opponentId}}/{{game.opponentName}}/{{game.opponentDivision}}/{{year}}">{{game.opponent}}</a>
                                        </td>
                                        <td>
                                            <a href="#!/fields/{{game.fieldId}}">{{game.fieldName}}</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-show="rsvp.replyMode" class="col-md-6">
                            <table>
                                <thead>
                                    <tr class="game-row">
                                        <th>Playing?</th>
                                        <th class="comment-header">Comment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="game-row" ng-repeat="game in games">
                                        <td ng-hide="rsvp.canEdit(game)">
                                            <!--<span class="label" ng-class="playingIcon(player)">{{rsvp.playingLabel(player)}}</span>-->
                                            <span ng-class=rsvp.playingIcon(game)>{{rsvp.playingLabel(game)}}</span>
                                        </td>
                                        <td ng-hide="rsvp.canEdit(game)">{{game.comment}}</td>
                                        <td ng-show="rsvp.canEdit(game)">
                                            <div class="btn-group" uib-dropdown dropdown-append-to-body>
                                                <button id="per-page-btn" type="button" class="btn btn-primary" uib-dropdown-toggle>
                                                    {{game.playingStatus}} <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" ng-model="game.playingStatus" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                                                    <li role="menuitem"><a role="button" ng-click="game.playingStatus='Yes'">Yes</a></li>
                                                    <li role="menuitem"><a role="button" ng-click="game.playingStatus='No'">No</a></li>
                                                    <li role="menuitem"><a role="button" ng-click="game.playingStatus='Maybe'">Maybe</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td ng-show="rsvp.canEdit(game)">
                                            <input ng-model="game.comment" type="text" class="comment-input" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div ng-hide="rsvp.replyMode" class="col-md-6">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Playing?</th>
                                        <th>Name</th>
                                        <th>Status</th>
                                        <th>Comment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="player in roster">
                                        <td>
                                            <!--<span class="label" ng-class="playingIcon(player)">{{playingLabel(player)}}</span>-->
                                            <span ng-class=rsvp.playingIcon(player)>{{rsvp.playingLabel(player)}}</span>
                                        </td>
                                        <td>
                                            <a href="#!/player/{{player.playerId}}">{{player.firstName}} {{player.lastName}}</a>
                                        </td>
                                        <td>
                                            <span class="label" ng-class="isActive(player.status) ? 'label-success' : 'label-default'">{{player.status}}</span>
                                        </td>
                                        <td>{{player.comment}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div ng-switch-when="Stats">
                    <uib-tabset>
                        <uib-tab heading="Team Batting" select="showStatsTab('TeamBatting')"></uib-tab>
                        <uib-tab heading="Team Pitching" select="showStatsTab('TeamPitching')"></uib-tab>
                    </uib-tabset>
                    <div ng-switch on="statsSelected">
                        <div ng-switch-when="TeamBatting">
                            <h3>Team Batting Stats</h3>
                            <div ng-hide='cumulativeBattingStats && cumulativeBattingStats.length > 0' class="col-md-6">
                                <div class="alert alert-warning">The {{teamName}} have not entered batting stats yet</div>
                            </div>
                            <div class="table-responsive" ng-show="cumulativeBattingStats && cumulativeBattingStats.length > 0">
                                <table class="table table-hover table-condensed stats-table">
                                    <thead>
                                        <tr>
                                            <th>Rank</th>
                                            <th ng-click="sortBatting('Name')" ng-class="isSortColumn('Name')">Name</th>
                                            <th ng-click="sortBatting('g')" ng-class="isSortColumn('g')" class="number sortable-column">G</th>
                                            <th ng-click="sortBatting('pa')" ng-class="isSortColumn('pa')" class="number sortable-column">PA</th>
                                            <th ng-click="sortBatting('ab')" ng-class="isSortColumn('ab')" class="number sortable-column">AB</th>
                                            <th ng-click="sortBatting('r')" ng-class="isSortColumn('r')" class="number sortable-column">R</th>
                                            <th ng-click="sortBatting('h')" ng-class="isSortColumn('h')" class="number sortable-column">H</th>
                                            <th ng-click="sortBatting('d')" ng-class="isSortColumn('d')" class="number sortable-column">2B</th>
                                            <th ng-click="sortBatting('t')" ng-class="isSortColumn('t')" class="number sortable-column">3B</th>
                                            <th ng-click="sortBatting('hr')" ng-class="isSortColumn('hr')" class="number sortable-column">HR</th>
                                            <th ng-click="sortBatting('rbi')" ng-class="isSortColumn('rbi')" class="number sortable-column">RBI</th>
                                            <th ng-click="sortBatting('sb')" ng-class="isSortColumn('sb')" class="number sortable-column">SB</th>
                                            <th ng-click="sortBatting('cs')" ng-class="isSortColumn('cs')" class="number sortable-column">CS</th>
                                            <th ng-click="sortBatting('bb')" ng-class="isSortColumn('bb')" class="number sortable-column">BB</th>
                                            <th ng-click="sortBatting('so')" ng-class="isSortColumn('so')" class="number sortable-column">SO</th>
                                            <th ng-click="sortBatting('avg')" ng-class="isSortColumn('avg')" class="number sortable-column">AVG</th>
                                            <th ng-click="sortBatting('obp')" ng-class="isSortColumn('obp')" class="number sortable-column">OBP</th>
                                            <th ng-click="sortBatting('slg')" ng-class="isSortColumn('slg')" class="number sortable-column">SLG</th>
                                            <th ng-click="sortBatting('ops')" ng-class="isSortColumn('ops')" class="number sortable-column">OPS</th>
                                            <th ng-click="sortBatting('tb')" ng-class="isSortColumn('tb')" class="number sortable-column">TB</th>
                                            <th ng-click="sortBatting('hbp')" ng-class="isSortColumn('hbp')" class="number sortable-column">HBP</th>
                                            <th ng-click="sortBatting('sh')" ng-class="isSortColumn('sh')" class="number sortable-column">SH</th>
                                            <th ng-click="sortBatting('sf')" ng-class="isSortColumn('sf')" class="number sortable-column">SF</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!--{"playerId":"312","firstName":"John","lastName":"Jury","teamId":"668","g":"17","ab":"56","r":"12","h":"28","d":"2","t":"0","hr":"0","rbi":"14","sb":"5","cs":"0","bb":"5","so":"3","gdp":"0","hbp":"0","rboe":"2","sh":"0","sf":"0","ibb":"0","ci":"0","rboe":"0"}-->
                                        <tr ng-Repeat="statLine in cumulativeBattingStats" ng-show="isQualified(statLine)">
                                            <td>{{$index+1}}</td>
                                            <td ng-class="isSortColumn('Name')">
                                                <a href="/#!/player/{{statLine.playerId}}" title="{{statLine.firstName}}&nbsp;{{statLine.lastName}}">
                                                    {{getShortPlayerName(statLine)}}
                                                </a>
                                            </td>
                                            <td ng-class="isSortColumn('g')" class="number ">{{statLine.g}}</td>
                                            <td ng-class="isSortColumn('pa')" class="number ">{{statLine.pa}}</td>
                                            <td ng-class="isSortColumn('ab')" class="number ">{{statLine.ab}}</td>
                                            <td ng-class="isSortColumn('r')" class="number ">{{statLine.r}}</td>
                                            <td ng-class="isSortColumn('h')" class="number ">{{statLine.h}}</td>
                                            <td ng-class="isSortColumn('d')" class="number ">{{statLine.d}}</td>
                                            <td ng-class="isSortColumn('t')" class="number ">{{statLine.t}}</td>
                                            <td ng-class="isSortColumn('hr')" class="number ">{{statLine.hr}}</td>
                                            <td ng-class="isSortColumn('rbi')" class="number ">{{statLine.rbi}}</td>
                                            <td ng-class="isSortColumn('sb')" class="number ">{{statLine.sb}}</td>
                                            <td ng-class="isSortColumn('cs')" class="number ">{{statLine.cs}}</td>
                                            <td ng-class="isSortColumn('bb')" class="number ">{{statLine.bb}}</td>
                                            <td ng-class="isSortColumn('so')" class="number ">{{statLine.so}}</td>
                                            <td ng-class="isSortColumn('avg')" class="number ">{{statLine.avg}}</td>
                                            <td ng-class="isSortColumn('obp')" class="number ">{{statLine.obp}}</td>
                                            <td ng-class="isSortColumn('slg')" class="number ">{{statLine.slg}}</td>
                                            <td ng-class="isSortColumn('ops')" class="number ">{{statLine.ops}}</td>
                                            <td ng-class="isSortColumn('tb')" class="number ">{{statLine.tb}}</td>
                                            <td ng-class="isSortColumn('hbp')" class="number ">{{statLine.hbp}}</td>
                                            <td ng-class="isSortColumn('sh')" class="number ">{{statLine.sh}}</td>
                                            <td ng-class="isSortColumn('sf')" class="number ">{{statLine.sf}}</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr class="stats-totals-row">
                                            <td colspan="2">Totals</td>
                                            <td class="number ">{{cumulativeBattingTotals.g}}</td>
                                            <td class="number ">{{cumulativeBattingTotals.pa}}</td>
                                            <td class="number ">{{cumulativeBattingTotals.ab}}</td>
                                            <td class="number ">{{cumulativeBattingTotals.r}}</td>
                                            <td class="number ">{{cumulativeBattingTotals.h}}</td>
                                            <td class="number ">{{cumulativeBattingTotals.d}}</td>
                                            <td class="number ">{{cumulativeBattingTotals.t}}</td>
                                            <td class="number ">{{cumulativeBattingTotals.hr}}</td>
                                            <td class="number ">{{cumulativeBattingTotals.rbi}}</td>
                                            <td class="number ">{{cumulativeBattingTotals.sb}}</td>
                                            <td class="number ">{{cumulativeBattingTotals.cs}}</td>
                                            <td class="number ">{{cumulativeBattingTotals.bb}}</td>
                                            <td class="number ">{{cumulativeBattingTotals.so}}</td>
                                            <td class="number ">{{cumulativeBattingTotals.avg}}</td>
                                            <td class="number ">{{cumulativeBattingTotals.obp}}</td>
                                            <td class="number ">{{cumulativeBattingTotals.slg}}</td>
                                            <td class="number ">{{cumulativeBattingTotals.ops}}</td>
                                            <td class="number ">{{cumulativeBattingTotals.tb}}</td>
                                            <td class="number ">{{cumulativeBattingTotals.hbp}}</td>
                                            <td class="number ">{{cumulativeBattingTotals.sh}}</td>
                                            <td class="number ">{{cumulativeBattingTotals.sf}}</td>
                                        </tr>
                                    </tfoot>
                                </table>
                                <div>
                                    <input ng-model="stats.qualified" type="checkbox">
                                    Qualified Only
                                    <input ng-model="stats.noTaxi" type="checkbox">
                                    No Taxi
                                </div>
                            </div>
                        </div>
                        <div ng-switch-when="TeamPitching">
                            <h3>Team Pitching Stats</h3>
                            <div ng-hide='cumulativePitchingStats && cumulativePitchingStats.length > 0' class="col-md-6">
                                <div class="alert alert-warning">The {{teamName}} have not entered pitching stats yet</div>
                            </div>
                            <div class="table-responsive" ng-show="cumulativePitchingStats && cumulativePitchingStats.length > 0">
                                <table class="table table-hover table-condensed stats-table">
                                    <thead>
                                        <tr>
                                            <th>Rank</th>
                                            <th ng-class="isSortColumn('Name')" ng-click="sortPitching('Name')">Name</th>
                                            <th ng-class="isSortColumn('g')" ng-click="sortPitching('g')" class="number sortable-column">G</th>
                                            <th ng-class="isSortColumn('w')" ng-click="sortPitching('w')" class="number sortable-column">W</th>
                                            <th ng-class="isSortColumn('l')" ng-click="sortPitching('l')" class="number sortable-column">L</th>
                                            <th ng-class="isSortColumn('gs')" ng-click="sortPitching('gs')" class="number sortable-column">GS</th>
                                            <th ng-class="isSortColumn('gf')" ng-click="sortPitching('gf')" class="number sortable-column">GF</th>
                                            <th ng-class="isSortColumn('cg')" ng-click="sortPitching('cg')" class="number sortable-column">CG</th>
                                            <th ng-class="isSortColumn('sv')" ng-click="sortPitching('sv')" class="number sortable-column">SV</th>
                                            <th ng-class="isSortColumn('ip')" ng-click="sortPitching('ip')" class="number sortable-column">IP</th>
                                            <th ng-class="isSortColumn('h')" ng-click="sortPitching('h')" class="number sortable-column">H</th>
                                            <th ng-class="isSortColumn('r')" ng-click="sortPitching('r')" class="number sortable-column">R</th>
                                            <th ng-class="isSortColumn('er')" ng-click="sortPitching('er')" class="number sortable-column">ER</th>
                                            <th ng-class="isSortColumn('hr')" ng-click="sortPitching('hr')" class="number sortable-column">HR</th>
                                            <th ng-class="isSortColumn('bb')" ng-click="sortPitching('bb')" class="number sortable-column">BB</th>
                                            <th ng-class="isSortColumn('so')" ng-click="sortPitching('so')" class="number sortable-column">K</th>
                                            <th ng-class="isSortColumn('hbp')" ng-click="sortPitching('hbp')" class="number sortable-column">HBP</th>
                                            <th ng-class="isSortColumn('bk')" ng-click="sortPitching('bk')" class="number sortable-column">BK</th>
                                            <th ng-class="isSortColumn('wp')" ng-click="sortPitching('wp')" class="number sortable-column">WP</th>
                                            <th ng-class="isSortColumn('bf')" ng-click="sortPitching('bf')" class="number sortable-column">BF</th>
                                            <th ng-class="isSortColumn('era')" ng-click="sortPitching('era')" class="number sortable-column">ERA</th>
                                            <th ng-class="isSortColumn('whip')" ng-click="sortPitching('whip')" class="number sortable-column">WHIP</th>
                                            <th ng-class="isSortColumn('k9')" ng-click="sortPitching('k9')" class="number sortable-column">K/9</th>
                                            <th ng-class="isSortColumn('bb9')" ng-click="sortPitching('bb9')" class="number sortable-column">BB/9</th>
                                            <th ng-class="isSortColumn('pit')" ng-click="sortPitching('pit')" class="number sortable-column">PIT</th>
                                            <th ng-class="isSortColumn('str')" ng-click="sortPitching('str')" class="number sortable-column">STR</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-Repeat="statLine in cumulativePitchingStats" ng-show="isQualified(statLine)">
                                            <td>{{$index+1}}</td>
                                            <td ng-class="isSortColumn('Name')">
                                                <a href="/#!/player/{{statLine.playerId}}" title="{{statLine.firstName}}&nbsp;{{statLine.lastName}}">
                                                    {{getShortPlayerName(statLine)}}
                                                </a>
                                            </td>
                                            <td ng-class="isSortColumn('g')" class="number ">{{statLine.g}}</td>
                                            <td ng-class="isSortColumn('w')" class="number ">{{statLine.w}}</td>
                                            <td ng-class="isSortColumn('l')" class="number ">{{statLine.l}}</td>
                                            <td ng-class="isSortColumn('gs')" class="number ">{{statLine.gs}}</td>
                                            <td ng-class="isSortColumn('gf')" class="number ">{{statLine.gf}}</td>
                                            <td ng-class="isSortColumn('cg')" class="number ">{{statLine.cg}}</td>
                                            <td ng-class="isSortColumn('sv')" class="number ">{{statLine.sv}}</td>
                                            <td ng-class="isSortColumn('ip')" class="number ">{{statLine.ip}}</td>
                                            <td ng-class="isSortColumn('h')" class="number ">{{statLine.h}}</td>
                                            <td ng-class="isSortColumn('r')" class="number ">{{statLine.r}}</td>
                                            <td ng-class="isSortColumn('er')" class="number ">{{statLine.er}}</td>
                                            <td ng-class="isSortColumn('hr')" class="number ">{{statLine.hr}}</td>
                                            <td ng-class="isSortColumn('bb')" class="number ">{{statLine.bb}}</td>
                                            <td ng-class="isSortColumn('so')" class="number ">{{statLine.so}}</td>
                                            <td ng-class="isSortColumn('hbp')" class="number ">{{statLine.hbp}}</td>
                                            <td ng-class="isSortColumn('bk')" class="number ">{{statLine.bk}}</td>
                                            <td ng-class="isSortColumn('wp')" class="number ">{{statLine.wp}}</td>
                                            <td ng-class="isSortColumn('bf')" class="number ">{{statLine.bf}}</td>
                                            <td ng-class="isSortColumn('era')" class="number ">{{statLine.era}}</td>
                                            <td ng-class="isSortColumn('whip')" class="number ">{{statLine.whip}}</td>
                                            <td ng-class="isSortColumn('k9')" class="number ">{{statLine.k9}}</td>
                                            <td ng-class="isSortColumn('bb9')" class="number ">{{statLine.bb9}}</td>
                                            <td ng-class="isSortColumn('pit')" class="number ">{{statLine.pit}}</td>
                                            <td ng-class="isSortColumn('str')" class="number ">{{statLine.str}}</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr class="stats-totals-row">
                                            <td colspan="2">Totals</td>
                                            <td class="number ">{{cumulativePitchingTotals.g}}</td>
                                            <td class="number ">{{cumulativePitchingTotals.w}}</td>
                                            <td class="number ">{{cumulativePitchingTotals.l}}</td>
                                            <td class="number ">{{cumulativePitchingTotals.gs}}</td>
                                            <td class="number ">{{cumulativePitchingTotals.gf}}</td>
                                            <td class="number ">{{cumulativePitchingTotals.cg}}</td>
                                            <td class="number ">{{cumulativePitchingTotals.sv}}</td>
                                            <td class="number ">{{cumulativePitchingTotals.ip}}</td>
                                            <td class="number ">{{cumulativePitchingTotals.h}}</td>
                                            <td class="number ">{{cumulativePitchingTotals.r}}</td>
                                            <td class="number ">{{cumulativePitchingTotals.er}}</td>
                                            <td class="number ">{{cumulativePitchingTotals.hr}}</td>
                                            <td class="number ">{{cumulativePitchingTotals.bb}}</td>
                                            <td class="number ">{{cumulativePitchingTotals.so}}</td>
                                            <td class="number ">{{cumulativePitchingTotals.hbp}}</td>
                                            <td class="number ">{{cumulativePitchingTotals.bk}}</td>
                                            <td class="number ">{{cumulativePitchingTotals.wp}}</td>
                                            <td class="number ">{{cumulativePitchingTotals.bf}}</td>
                                            <td class="number ">{{cumulativePitchingTotals.era}}</td>
                                            <td class="number ">{{cumulativePitchingTotals.whip}}</td>
                                            <td class="number ">{{cumulativePitchingTotals.k9}}</td>
                                            <td class="number ">{{cumulativePitchingTotals.bb9}}</td>
                                            <td class="number ">{{cumulativePitchingTotals.pit}}</td>
                                            <td class="number ">{{cumulativePitchingTotals.str}}</td>
                                        </tr>
                                    </tfoot>
                                </table>
                                <div>
                                    <input ng-model="stats.qualified" type="checkbox">
                                    Qualified Only
                                    <input ng-model="stats.noTaxi" type="checkbox">
                                    No Taxi
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-switch-when="OtherSeasons">
                    <ul>
                        <li ng-repeat="team in franchise">
                            <a href="#!/team/{{team.teamId}}/{{teamLinkName(team.teamName)}}/{{team.division}}/{{team.year}}">
                                {{team.year}} {{team.division}} {{team.teamName}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </section>
</div>
