<!--Sandbox area for testing sample markup-->

<div class="container main-body">
    <section id="main" class="content-container">
        <h1 ng-click="callDebug()">Live Testing Page</h1>
        <div class="btn-group" uib-dropdown dropdown-append-to-body>
            <button id="test-selector" type="button" class="btn btn-primary" uib-dropdown-toggle>
                Select Test <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="test-selector">
                <li role="menuitem"><a role="button" ng-click="selectTest('TimeFormats')">Time Formats</a></li>
                <li role="menuitem"><a role="button" ng-click="selectTest('BlogFormats')">Blog Formats</a></li>
                <li role="menuitem"><a role="button" ng-click="selectTest('HttpTest')">Http Test</a></li>
                <li role="menuitem"><a role="button" ng-click="selectTest('BoxScore')">Boxscore Capture</a></li>
                <li role="menuitem"><a role="button" ng-click="selectTest('ScheduleDirective')">Schedule Directive</a></li>
                <li role="menuitem"><a role="button" ng-click="selectTest('ScheduleEditor')">Schedule Editor</a></li>
                <li role="menuitem"><a role="button" ng-click="selectTest('StatDirective')">Stat Directive</a></li>
                <li role="menuitem"><a role="button" ng-click="selectTest('GameData')">Game Data</a></li>
                <li role="menuitem"><a role="button" ng-click="selectTest('ContentEditor')">Content Editor</a></li>
                <li role="menuitem"><a role="button" ng-click="selectTest('OldDraftPhotos')">Old Draft Photos</a></li>
                <li role="menuitem"><a role="button" ng-click="selectTest('DraftPhotos')">Current Draft Photos</a></li>
                <li role="menuitem"><a role="button" ng-click="selectTest('Mailer')">Mailer</a></li>
                <li role="menuitem"><a role="button" ng-click="selectTest('LoginMenu')">Login Menu</a></li>
                <li role="menuitem"><a role="button" ng-click="selectTest('SessionStorage')">Session Storage</a></li>
                <li role="menuitem"><a role="button" ng-click="selectTest('Permissions')">Permissions</a></li>
                <li role="menuitem"><a role="button" ng-click="selectTest('Payments')">Payment Sandbox</a></li>
                <li role="menuitem"><a role="button" ng-click="selectTest('Editor')">Editor</a></li>
                <li role="menuitem"><a role="button" ng-click="selectTest('DraftTools')">Draft Tools</a></li>
                <li role="menuitem"><a role="button" ng-click="selectTest('Modal')">Modal Dialog</a></li>
                <li role="menuitem"><a role="button" ng-click="selectTest('Video')">Video Player</a></li>
                <li role="menuitem"><a role="button" ng-click="selectTest('FullScreen')">Full Screen</a></li>
                <li role="menuitem"><a role="button" ng-click="selectTest('Deactivate')">Deactivate Tool</a></li>
                <li role="menuitem"><a role="button" ng-click="selectTest('MergeDups')">Merge Dup Tool</a></li>
                <li role="menuitem"><a role="button" ng-click="selectTest('TeamRemoval')">Team Removal Tool</a></li>
                <li role="menuitem"><a role="button" ng-click="selectTest('EligibleTeams')">Eligible Teams Test</a></li>
                <li role="menuitem"><a role="button" ng-click="selectTest('PhotoCapture')">Photo Capture Test</a></li>
                <li role="menuitem"><a role="button" ng-click="selectTest('PlayoffBracket')">Playoff Bracket Test</a></li>
            </ul>
        </div>

        <!--********* START OF TEST AREA ********** -->
        <!--Test Page for looking at small chunks of HTML -->
        <!--Test one thing at a time be setting $scope.testSelect in testController -->

        <div ng-switch on="testSelected">

            <!--    *** Testing filter formatting of time values *** -->
            <div ng-switch-when="TimeFormats">

                <div class="col-md-12">
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>

                <table border="1" cellpadding="1" cellspacing="1" style="width:500px;">
                    <caption>Time Format Tests</caption>
                    <thead>
                        <tr>
                            <th scope="col">Raw Format</th>
                            <th scope="col">Parse Result</th>
                            <th scope="col">Angular Filter</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="dateString in dateStrings">
                            <td>{{dateString.raw}}</td>
                            <td>{{dateString.parsed}}</td>
                            <td>{{dateString.parsed | date:'EEE MMM d, y h:mm a'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!--    *** Testing formatting of blog posts *** -->
            <div ng-switch-when="BlogFormats">
                <h1>Blog Post Format testing</h1>
                <article class="blog-post tease">
                    <h3>
                        <a href="/blog/187/2015-pssbl-division-champions">2015 PSSBL Division Champions</a>
                    </h3>
                    <div class="blog-post-meta row">
                        <div class="col-md-6"><span class="label label-default">by Tom Evans Krause</span></div>
                        <div class="col-md-6 text-right"><span class="label label-default">09/28/2015</span></div>
                    </div>
                    <div class="blog-post-main">
                        <div class="post-body">
                            <p>The 2015 PSSBL season is concluded.  Thanks to the Board and our entire membership for making this league one of the top adult sports organizations in the U.S. Hope to see you back in 2016.  Congratulations to the 2015 division winners!</p>
                            <p>ADAMS Nationals defeated the Iron Pigs 2-0 (Best of 3 series)</p>
                            <p>ADIRONDACK Osprey defeated the Wizards 21-1 in the final</p>
                            <p>CASCADE Indians defeated the Brewers 2-0 (Best of 3 series)</p>
                            <p>EVEREST Mariners defeated the Silver Foxes 9-5 in the final</p>
                            <p>OLYMPIC Ravens defeated the White Sox 2-0 (Best of 3 series)</p>
                            <p>ROCKY Sea Wolves defeated the Blue Rocks 2-1 (Best of 3 series)</p>
                            <p>SIERRA Ravens defeated the Islanders 2-0 (Best of 3 series)</p>
                            <p>SMOKY Rangers defeated the Twins 18-4 in the final</p>
                            <p>TETON Crawfords defeated the Ravens 14-0 in the final</p>
                        </div>
                    </div>
                    <div class="post-footer text-right"><a href="/blog/187/2015-pssbl-division-champions" class="btn btn-link"><span class="btn-content"><span class="fa fa-arrow-circle-o-right"></span>Read More</span></a></div>
                </article>


                <article class="blog-post tease">
                    <h3>
                        <a href="#!/articles/welcome-website-preview">Welcome to this Preview of our Future Website!</a>
                    </h3>
                    <hr />
                    <div class="blog-post-meta row">
                        <div class="col-md-6"><span class="label label-default">by Rich Bonny</span></div>
                        <div class="col-md-6 text-right">
                            <span class="label label-default">
                                <span>
                                    12/4/2015
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="blog-post-main">
                        <div class="post-body">
                            <row>
                                <div class="col-md-3">
                                    <img src="img/baseball-batter-animated.gif" style=" max-width:100%; " />
                                </div>
                                <div class="col-md-6">
                                    <h2>Welcome!</h2>
                                    We are still months away from rolling out a new PSSBL website, but we thought we would give you an early look and get your feedback.
                                    Feel free to look around, but remember there is still much work to be done here.
                                </div>
                                <div class="col-md-3">
                                    <img src="img/animated-baseball-image-0008.gif" style=" max-width:100%; " />
                                </div>
                            </row>
                        </div>
                    </div>
                    <div class="post-footer text-right"><a href="/blog/187/2015-pssbl-division-champions" class="btn btn-link"><span class="btn-content"><span class="fa fa-arrow-circle-o-right"></span>Read More</span></a></div>
                </article>
            </div>

            <div ng-switch-when="HttpTest">
                <!--    *** Http Test *** -->
                <h2>Test Controller</h2>
                <button ng-click="testHttp()">Test</button>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Returned:</th>
                            <th>{{fieldInfo.name}}</th>
                            <th>End of Test</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="field in fields">
                            <td>{{field.fieldId}}</td>
                            <td><a href="#!/field/{{field.fieldId}}">{{field.fieldName}}</a></td>
                            <td>{{field.address}}</td>
                        </tr>
                    </tbody>
                </table>
                <button ng-click="httpTests.testUploadHttp()">Test Http Upload</button>
                <input type="file" ngf-select="onFileSelect($files)" multiple>
            </div>

            <div ng-switch-when="BoxScore">
                <!--    *** Http Test *** -->
                <h2>BoxScore capture</h2>
                <button ng-click="boxScore.collect()">Test</button>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Returned:</th>
                            <th>{{fieldInfo.name}}</th>
                            <th>End of Test</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="field in fields">
                            <td>{{field.fieldId}}</td>
                            <td><a href="#!/field/{{field.fieldId}}">{{field.fieldName}}</a></td>
                            <td>{{field.address}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div ng-switch-when="ScheduleDirective">

                <!--    *** Schedule Directive Test *** -->
                <button ng-click="scheduleTest()">Schedule Test</button>
                <div controller="scheduleController">
                    <h2>Schedule Controller</h2>
                    <schedule-directive />
                </div>
            </div>

            <div ng-switch-when="ScheduleEditor">
                <!--    *** Schedule Editor Linking Test *** -->
                <a ng-href="/Scheduler/index.html">Go To Schedule Editor</a>
            </div>

            <div ng-switch-when="StatDirective">

                <!--    *** Schedule Directive Test *** -->
                <button ng-click="statTest()">Test</button>
                <h2>Stat Directive</h2>
                <stat-directive />
            </div>

            <div ng-switch-when="GameData">

                <!--    *** Team Data Tests *** -->
                <div>
                    <h2>Test Controller</h2>
                    <button ng-click="gamesTest()">Game Data Test</button>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Team Name</th>
                                <th>Division Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="team in teamNames">
                                <td>{{team.teamId}}</td>
                                <td><a href="#!/teams/{{team.teamId}}">{{team.teamName}}</a></td>
                                <td>{{team.divisionName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div ng-switch-when="ContentEditor">
                <h3>ngEditor</h3>
                <form name="frm">

                    <div ng-cloak ng-hide="isReady" class="highlight">
                        Initialising ...
                    </div>

                    <div ng-cloak ng-show="isReady">
                        <textarea ckeditor="editorOptions" name="editor" ng-model="test" ng-change="save()"></textarea>
                    </div>

                    {{test}}
                    <button ng-click="save()">Save</button>

                    {{frm.editor.$dirty}}
                    {{frm.$dirty}}
                </form>

                <h3>CTK Editor</h3>
                <div>
                    <span>Loaded:</span>
                    <span ng-bind="cke.loaded"</span>
                </div>

                <div>
                    <span>Content:</span>
                    <span ng-bind="cke.content"></span>
                </div>

                <div ckeditor="cke.options"
                     ng-model="cke.content"
                     ready="cke.onReady()">
                </div>

                <h3>RTE editor</h3>
                <!--
                <div ng-controller="CustomSectionEditController">
                    <ng-form>
                        <div ng-controller="Umbraco.PropertyEditors.RTEController" class="umb-editor umb-rte">
                            <textarea ng-model="model.value" rows="10" id="{{model.alias}}_rte"></textarea>
                        </div>
                        <pre>
            Value from the RTE {{model.value}}
        </pre>
                    </ng-form>
                </div>
                <script type="text/javascript">
                    function CustomSectionEditController($scope) {

                        $scope.model = {
                            alias: 'myRichtexteditor',
                            config: {
                                editor: {
                                    toolbar: ["code", "undo", "redo", "cut", "styleselect", "bold", "italic", "alignleft", "aligncenter", "alignright", "bullist", "numlist", "link", "umbmediapicker", "umbmacro", "table", "umbembeddialog"],
                                    stylesheets: [],
                                    dimensions: { height: 400, width: 250 }
                                }

                            }
                        };
                    }
                </script>
                -->
            </div>

            <div ng-switch-when="OldDraftPhotos">
                <!--  Load images from old PSSBL server -->
                <h3>Recover Draft Photos</h3>

                <figure style="float:left;" ng-repeat="photo in photoArray">
                    <img width=64 height=40 ng-src="{{draftPhotoLink(photo)}}" />
                    <figcaption>{{photo}}</figcaption>
                </figure>
            </div>

            <div ng-switch-when="DraftPhotos">
                <!-- Grid layout style for bib photos -->
                <style>
                    .photo-grid {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                        column-gap: 10px;
                    }
                    .verified-caption {
                        color: blue;
                        font-weight: bold;
                        text-align: center;
                    }
                </style>
                <h3>Current Draft Photos</h3>
                <button ng-click="photos.verify()" type="button">Verify</button>
                <span>{{photos.error}}</span>
                <!--  Load images from current PSSBL server -->
                <div ng-hide="photos.verified" class="photo-grid">
                    <figure style="float:left;" ng-repeat="photo in photos.photoArray">
                        <img width=240 ng-src="{{photos.draftPhotoLink(photo.bib)}}" />
                        <figcaption>{{photo.bib}}</figcaption>
                    </figure>
                </div>
                <div ng-show="photos.verified" class="photo-grid">
                    <figure style="float:left;" ng-repeat="photo in photos.photoArray">
                        <a href="/profile/draft/{{photo.draftId}}">
                            <img width=240 check-image ng-src="{{photos.draftPhotoLink(photo.bib)}}" />
                        </a>
                        <figcaption class="verified-caption">{{photo.bib}} {{photo.name}}</figcaption>
                    </figure>
                </div>
            </div>

            <div ng-switch-when="Mailer">
                <!--  Send mail via SMTP -->
                <h3>Automated Mailer Test</h3>
                <br />
                <p><button ng-click="mailerTest.sendMail()" type="button">Send Mail!</button></p>
            </div>

            <div ng-switch-when="LoginMenu">
                <!--    *** populate menu on login *** -->
                <div id='cssmenu' style="width:auto; float:right;">
                    <!--ul class=" navbar-nav navbar-right profile-nav"-->
                    <ul ng-if="loggedIn" class="navbar-right">
                        <li class="has-sub">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-icon-with-text"><span class="fa fa-user"></span><b><span class="username">Rich Bonny</span></b></a>
                            <ul class="dropdown-menu">
                                <li ng-if="isAdmin"><a href="/profile" class="nav-icon-with-text"><span class="fa fa-desktop"></span>Admin</a></li>
                                <li ng-if="isAdmin" class="divider"></li>
                                <li><a href="/profile" class="nav-icon-with-text"><span class="fa fa-user"></span>Profile</a></li>
                                <li><a href="/profile/preferences" class="nav-icon-with-text"><span class="fa fa-cog"></span>Preferences</a></li>
                                <li><a href="/profile/preferences" class="nav-icon-with-text"><span class="fa fa-credit-card"></span>Registration</a></li>
                                <li class="divider"></li>
                                <li class="my-teams-item-header dropdown-header ">My Teams</li>
                                <li ng-repeat="team in myTeams" class="my-teams-item"><a ng-ref="team.ref">{{team.name}}</a></li>
                                <li class="divider my-teams-item"></li>
                                <li><a role="button" ng-click="logout()" data-ignore class="nav-icon-with-text"><span class="fa fa-power-off"></span>Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul ng-if="!loggedIn" class="navbar-right">
                        <li>
                            <a role="button" ng-click="login()" class="dropdown-toggle nav-icon-with-text"><span><b>Login</b></span></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div ng-switch-when="SessionStorage">
                <!--    *** count button clicks *** -->
                <h3>Session Storage Testing</h3>
                <p><button ng-click="storageTests.clickCounter()" type="button">Click me!</button></p>
                <div id="result">{{storageTests.result}}</div>
                <p>Click the button to see the counter increase.</p>
                <p>Close the browser tab (or window), and try again, and the counter will continue to count (is not reset).</p>
            </div>

            <div ng-switch-when="Permissions">
                <!--    *** show permissions list as tab bar *** -->
                <br />Permissions Testing:<br /> <b>Logged In?</b> {{permissionTests.isLoggedIn()}} <br /> <b>Admin?</b> {{permissionTests.isAdmin()}} <br /><b>UserId:</b> {{permissionTests.userId()}}</br>
                <p><button ng-click="permissionTests.getServerPerms()" type="button">Get Server Permissions</button></p>
                <span>{{permissionTests.serverPerms[0].error}}</span>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>scopeId</th>
                            <th>discriminator</th>
                            <th>mask</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="permission in permissionTests.serverPerms">
                            <td>{{permission.scope}}</td>
                            <td>{{permission.discriminator}}</td>
                            <td>{{permission.mask}}</td>
                        </tr>
                    </tbody>
                </table>
                <p>
                    <button ng-click="permissionTests.getSessionInfo()" type="button">Session Info</button>
                    <button ng-click="permissionTests.getServerInfo()" type="button">Server Info</button>
                </p>
                <p style="white-space: pre-line;">{{permissionTests.info}}</p>
            </div>

            <div ng-switch-when="Payments">
                <h3 ng-click="callDebug()">Payment testbed using directive</h3>
                <h4>new method</h4>
                <div>

                    <input ng-model="creditCard.number"
                           placeholder="4111111111111111" />

                    <input ng-model="creditCard.expirationDate"
                           placeholder="10/18" />

                    <input type="submit"
                           value="Purchase"
                           onClick="payButtonClicked()" />

                </div>
                <h4>end of new method</h4>
                //Temp drop of braintree
                <div>
                    <div class="info">
                        Has the payment callback set the $scope variable: <strong>{{hasCalledBack}}</strong>
                        <span>Return Object: {{nonceObject}}</span>
                    </div>
                    <div class="success">Enter the card 4111 1111 1111 1111 and a date in the future eg. 11/16</div>
                    <form id="checkout">
                        <div id="dropin"></div>
                        <input class="btn" type="submit" value="Pay" />
                    </form>
                </div>
                <!--credit-directive /-->
            </div>

            <div ng-switch-when="Editor">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Editor demo</h3>
                        <div text-angular ng-model="htmlContent" name="demo-editor" ta-text-editor-class="clearfix border-around" ta-html-editor-class="border-around"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h3>HTML output</h3>
                        <pre ng-bind="htmlContent" class="white-box"></pre>
                    </div>
                </div>
            </div>

            <div ng-switch-when="Modal">
                <h3>Modal Dialog Test</h3>
                <button type="button" class="btn btn-primary" ng-click="modalTests.showModalOne()">
                    <small>Standard Modal Object</small>
                </button>
            </div>

            <div ng-switch-when="DraftTools">
                <h3>Draft tools</h3>
                <button type="button" class="btn btn-primary" ng-click="draftTools.createFile()">
                    <small>Create Draft File</small>
                </button>
            </div>

            <div ng-switch-when="Video">
                <h3>Video Player Test</h3>
                <video width="640" height="480" controls>
                    <source src="data/video/301H_converted.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>

            <div ng-switch-when="FullScreen">
                <h3>Full Screen Display Test</h3>
                <label class="control-label">Fullscreen</label>
                <div>
                    <input ng-model="master.fullScreen" type="checkbox" name="FullScreen">
                </div>
            </div>

            <div ng-switch-when="Deactivate">
                <h3>Deactivate Tool</h3>
                <p><button ng-click="deactivationTests.deactivateAll()" type="button">Deactivate Unpaid Active Accounts</button></p>
            </div>

            <div ng-switch-when="MergeDups">
                <h3>Merge Duplicate Account Tool</h3>
                <label class="control-label">Replace:</label>
                <input ng-model="mergeDupTests.replace" type="number" name="MergeReplace">
                <label class="control-label">With:</label>
                <input ng-model="mergeDupTests.with" type="number" name="MergeWith">
                <button ng-click="mergeDupTests.mergeSingle()" type="button">Merge Single Pair</button>
                <hr />
                <p><button ng-click="mergeDupTests.mergeAll()" type="button">Merge All Duplicate Accounts</button></p>
            </div>

            <div ng-switch-when="TeamRemoval">
                <h3>Team/Roster Removal Tool</h3>
                <p>Based on a list of playerId, teamId pairs, this tool removes the identified player from the corresponding roster</p>
                <p><button ng-click="removeFromRosterTest.removeAll()" type="button">Clear Deleted Team Rosters</button></p>
            </div>

            <div ng-switch-when="EligibleTeams">
                <h3>Eligible Teams Test</h3>
                <p>Based on a list of playerId, teamId pairs, this tool removes the identified player from the corresponding roster</p>
                <p>
                    <input name="user-id" type="number" min="0" max="99999" ng-model="eligibleTeamsTest.userId" />
                    <button ng-click="eligibleTeamsTest.getTeams()" type="button">Fetch Eligible Teams</button>
                </p>
                <p>Results:</p>
                <p>{{eligibleTeamsTest.data}}</p>
            </div>
            <div ng-switch-when="PhotoCapture">
                <h3>Photo Capture Test</h3>
                <input type="file" accept="image/*" capture="environment">
            </div>

            <div ng-switch-when="PlayoffBracket">
                <h3>Playoff Bracket Test</h3>
                <form>
                    <input type="file" ng-file-select="onFileSelect($files)" ng-model="test.PlayoffBracket.imageSrc">
                    <textarea style="resize:none" ng-paste="playoffBracketTest.paste($event)">Paste Image of PSSBL bracket in this box</textarea>
                    <img ng-src="https://pssbl.com/PHP/clipboard/image.png" />
                </form>
            </div>

            <div ng-switch-default>
                <h2>No Test Selected</h2>
            </div>

        </div>   <!--ng-switch -->
        <!--******** END OF TEST AREA ********** -->


    </section>
</div>



