<div class="container main-body">
    <section id="main" class="content-container">

        <!-- Show and sign waiver -->
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="well row">
                    <h2>About the Waiver</h2>
                    <p>
                        Signing the Waiver of Liability is required to play in the Puget Sound Senior Baseball League.
                    </p>
                    <p>Please take the time to read the waiver, and then digitally sign the waiver at the bottom of the page.</p>
                    <p>If you have any questions about the waiver, please contact the league staff.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div ng-bind-html="html | to_trusted"></div>
        </div>
        <div class="well row">
            <div class="alert alert-warning">
                Type your name <strong>Exactly</strong> as it appears to sign your waiver.
            </div>
            <h2>{{login.userName}}</h2>
            I, <input name="waiver-signature" ng-model="waiver.signature" placeholder="type name here">, agree to the Waiver of Liability
            <div ng-show="waiver.error" class="alert alert-danger">
                <strong>Error:</strong> {{waiver.error}}
            </div>
        </div>
        <div class="row">
            <a role="button" ng-click="waiver.signWaiver(true)" ng-disabled="waiver.disabled" class="btn btn-success a">Yes, I Agree</a>
            <a role="button" ng-click="waiver.signWaiver(false)" class="btn btn-danger a">No, I Don't Agree</a>
        </div>
    </section>
</div>

