<article ng-repeat="blogArticle in blogArticles">
<p>The 2016 PSSBL season is concluded. Thanks to the Board and our entire membership for making this league one of the top adult sports organizations in the U.S. Hope to see you back in 2017. Congratulations to the 2016 division winners!</p>

<table>
	<thead>
		<tr>
			<th>Division</th>
			<th>Champion</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Adams</td>
			<td><strong>Diablos</strong>&nbsp;defeated the Saints 7-0</td>
		</tr>
		<tr>
			<td>Adirondack</td>
			<td><strong>Osprey</strong>&nbsp;defeated the Generals 9-1 in the final</td>
		</tr>
		<tr>
			<td>Cascade</td>
			<td><strong>Lugnuts</strong>&nbsp;defeated the Ravens 4-2 in the final</td>
		</tr>
		<tr>
			<td>Everest</td>
			<td><strong>Silver Foxes</strong>&nbsp;defeated the Tugs 6-0 in the final</td>
		</tr>
		<tr>
			<td>Rocky</td>
			<td><strong>Sea Wolves</strong>&nbsp;defeated the Aces 2 games-0 (Best of 3 series)</td>
		</tr>
		<tr>
			<td>Sierra</td>
			<td><strong>Royals</strong>&nbsp;defeated the Ravens 2 games-0 (Best of 3 series)</td>
		</tr>
		<tr>
			<td>Smoky</td>
			<td><strong>Ravens</strong>&nbsp;defeated the Owlz 6-5 in the final</td>
		</tr>
		<tr>
			<td>Teton</td>
			<td><strong>Barons</strong>&nbsp;defeated the Crawfords 17-4 in the final</td>
		</tr>
	</tbody>
</table>
</article>

<article ng-repeat="blogArticle in blogArticles">&nbsp;</article>
